$button: #ffeee1;
$button-active: #ffa765;

.button {
  // prevents button jumping when toggling private key
  vertical-align: top;

  background: $button;
  border-radius: px-to-rem(3px);
  color: $neu-bright-orange;
  font-size: px-to-rem(16px);
  font-weight: bold;
  height: 70px;
  text-transform: uppercase;
  width: 240px;
  word-break: break-all;
  padding: 10px 15px;

  &:focus,
  &:hover {
    background: $button-active;
    color: $neu-white-two;
  }

  &-active {
    font-size: px-to-rem(10px);
  }

  :global(.inline-icon) {
    margin-left: 1em;
    color: currentColor;
    height: px-to-rem(20px);
    width: px-to-rem(20px);
  }
}
