@function get-linear-size($mobile-size, $desktop-size) {
  $a: ($desktop-size - $mobile-size) / (map-get($grid-breakpoints, $resolution-range-top) - map-get($grid-breakpoints, breakpoint-next($resolution-range-bottom)));
  $b: -$a * map-get($grid-breakpoints, breakpoint-next($resolution-range-bottom));

  @return calc(#{$a} * 100vw + #{$b + $mobile-size});
}

// mixins
@mixin visually-hidden {
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(0 0 0 0);
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

@mixin responsive-size($field, $mobile-size, $desktop-size) {
  #{$field}: get-linear-size($mobile-size, $desktop-size);

  @include media-breakpoint-down($resolution-range-bottom) {
    #{$field}: $mobile-size;
  }

  @include media-breakpoint-up($resolution-range-top) {
    #{$field}: $desktop-size;
  }
}

@mixin get-out-of-container-layout {
  @include media-breakpoint-up(md) {
    margin-left: -$authorized-layout-horizontal-padding-lg;
    margin-right: -$authorized-layout-horizontal-padding-lg;
    width: calc(100% + 2 * #{$authorized-layout-horizontal-padding-lg});
  }

  margin-left: -$authorized-layout-horizontal-padding-sm;
  margin-right: -$authorized-layout-horizontal-padding-sm;
  width: calc(100% + 2 * #{$authorized-layout-horizontal-padding-sm});
}
