.body {
  overflow: hidden;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  opacity: 1;
  transition: opacity .15s linear;
  z-index: 999;
}

.back-drop {
  background-color: $neu-charcoal-grey;
  opacity: .7;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
