.heading {
  @include font-label;

  color: $color-black;
  font-weight: $font-weight-bold;
  justify-content: space-between;
  margin: 1.5rem 0;
  text-transform: uppercase;
  position: relative;

  &::before {
    @include rect(2px, 1em);
    display: inline-block;
    background-color: $color-brand;
    content: "";
    margin-right: 12px;
  }
}
