.container {
  :global(.row) {
    position: relative;
    justify-content: center;
    text-align: center;
  }

  h4 {
    margin: 2em 0 1em;
    font-size: inherit;
    text-transform: uppercase;
    color: inherit;
  }

  img {
    margin: 2em 0;
  }
}

.txhash {
  font-size: .6em;
  margin-top: $spacing-vertical-sm-1;
}

.block-number {
  span {
    color: $neu-seaweed;
  }
}
