.text-input {
  @include nds-body-small;

  min-width: px-to-rem(320px);
  height: px-to-rem(40px);
  border-radius: px-to-rem(4px);
  border: solid 1px $neu-light-blue-grey-two;
  background-color: $neu-white-two;
  text-align: left;
  padding: px-to-rem(16px) px-to-rem(8px);
  color: $neu-charcoal-grey;

  &::placeholder {
    color: $neu-gull-gray;
  }

  &:focus {
    border-color: $neu-bitter-lemon;
    border-width: 2px;
  }

  &:disabled {
    background-color: $neu-pale-grey-three;
    border-color: $neu-light-blue-grey-two;
  }

  &:invalid,
  &[aria-invalid="true"] {
    border-color: $neu-flamingo-red;
    border-width: 2px;
  }
}
