// import this file to get access to all important variables and helpers (bootstrap + our custom ones)

@import "../../node_modules/bootstrap/scss/functions";
@import "./utils";
@import "./variables";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

// Bootstrap variable overrides
$body-color: $denim;
$body-bg: $pale-grey-50;
$font-family-base: "Open Sans", sans-serif;
