// sass-lint:disable no-important
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "./variables";
@import "./elements/ul";
@import "./utils";
@import "./global";

// sass-lint:disable no-vendor-prefixes
// Enable font smoothing on mac
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}
// sass-lint:enable no-vendor-prefixes

a {
  font-weight: $font-weight-bold;

  &:focus {
    outline: 0;
    text-decoration: underline;
  }
}

.form-control {
  font-size: $neu-font-size-lg !important;
  border-top: 0 !important;
  border-right: 0 !important;
  border-left: 0 !important;
}

// overrides for default styles of libraries for auto complete: react-select, react-virtualized-select, react-virtualized
// it is bypassing linter rules and our styleguide so code reassembles replaced one.
// At this point we override rules only from react-select/dist/react-select.css
// sass-lint:disable-all
.Select-control {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}

.Select-input {
  padding-left: 0;
}

.Select.is-focused:not(.is-open) > .Select-control {
  box-shadow: none;
}

.Select-placeholder,
.Select--single > .Select-control .Select-value {
  padding-left: 0;
}

.Select-menu-outer {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
  border-radius: 0;
  border-top-color: #ccc;
}


.form-control {
  -webkit-appearance: none; // scss-lint:disable VendorPrefi
  border-radius: 0;
}

.modal {
  &.show .modal-dialog {
    transform: translate(0, 22vh);
  }

  .modal-dialog {
    max-width: px-to-rem(600px);
    display: flex;
    justify-content: center;
  }
}


textarea {
  padding: px-to-rem(10px) px-to-rem(16px);
  min-height: px-to-rem(100px);
  width: 100%;
  outline: none;
}


.form-group {
  label {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}
