@import "./variables";

// sass-lint:disable no-vendor-prefixes
// Enable font smoothing on mac
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}
// sass-lint:enable no-vendor-prefixes

@mixin headline-big {
  font-family: $headings-font-family;
  font-size: px-to-rem(34px);
  letter-spacing: px-to-rem(-.05px);
}

@mixin headline {
  font-family: $headings-font-family;
  font-size: px-to-rem(20px);
  letter-spacing: px-to-rem(-.3px);
}

@mixin headline-small {
  font-family: $headings-font-family;
  font-size: px-to-rem(16px);
  letter-spacing: px-to-rem(-.3px);
}

@mixin font-button-default {
  font-family: $headings-font-family;
  font-size: px-to-rem(15px);
  letter-spacing: px-to-rem(-.2px);
}

@mixin font-default {
  font-family: $headings-font-family;
  font-size: px-to-rem(14px);
  line-height: 1.64;
}

@mixin font-tab {
  font-family: $headings-font-family;
  font-size: px-to-rem(13px);
  letter-spacing: px-to-rem(-.02px);
}

@mixin font-label {
  font-family: $headings-font-family;
  font-size: px-to-rem(12px);
  font-weight: $font-weight-bold;
}
