$loading-indicator-color: #333;

// old color palette it should be removed when we finish restyling
$black-lighter: #262b2f;
$blue-darker: #315568;
$blue: #2072d4;
$blue-gray: #86a0b5;
$denim: #406483;
$gray-almost-dark: #7d919b;
$pale-grey-50: #e3eaf5;
$off-white: #f5f5f5;
$bright-orange: #ff6d00;
// end of old color palette

// colors not present in style guide but used in designs
$white-pure: #fff;
$gray: #d8e0eb;
$gray2: #85a0b5;
$gray3: #406483;
$gray4: #979797;
$gray5: #aabcca;

// new color palette
$neu-bright-orange: #ff6d00;
$neu-white: #efefef;
$neu-seaweed: #20e06e;
$neu-piss-yellow: #d5e20f;
$neu-black: #2b2b2b;
$neu-slate-grey: #656b72;
$neu-pale-blue: #f6f9fe;
$neu-silver: #c4c5c6;
$neu-pale-grey: #e3eaf5;
$neu-charcoal-grey: #394651;
// end of new color palette

$bigger-font-size: rem-to-px(16px);
$smaller-font-size: rem-to-px(13px);

$shadow:  0 rem-to-px(2px) rem-to-px(4px) 0 rgba(0, 0, 0, .1);

// Bootstrap variable overrides

//colors
$link-color: $neu-black;
$body-color: $neu-slate-grey;
$body-bg: $neu-pale-blue;

$dark: $neu-charcoal-grey;

// fonts
$font-family-base: "Open Sans", sans-serif;
$font-size-base: .875rem;
$font-size-medium-small: rem-to-px(14px);
$font-weight-bold: 600;
$headings-font-family: "Lato", sans-serif;
$headings-font-weight: 400;
$headings-color: $neu-black;

a {
  font-weight: $font-weight-bold;
}

$enable-rounded: false;
$enable-shadows: false;

$input-border-width: 2px;
$input-border-color: $gray4;
$input-focus-border-color: $gray4;
$input-color: $gray5;
$input-placeholder-color: $gray5;
$input-padding-x: 0;
$input-padding-y: 3px;

// sass-lint:disable no-important
.form-control {
  font-size: rem-to-px(20px) !important;
  border-top: 0 !important;
  border-right: 0 !important;
  border-left: 0 !important;

  &:focus {
    box-shadow: none !important;
  }
}
// sass-lint:enable no-important
