.section-wrapper {
  max-width: initial;
}

.wrapper {
  display: grid;
  grid-template: auto / 1fr 2rem;
  grid-column-gap: 1rem;
}

.remove-button {
  position: absolute;
  top: px-to-rem(10px);
  right: px-to-rem(10px);
}

.add-button {
  padding-top: 0 !important; // sass-lint:disable-line no-important
  padding-left: 0 !important; // sass-lint:disable-line no-important
}

.individual-social-channels-legend {
  @include font-label;
}
