.section {
  @include section-container;
}

.no-email-user {
  padding-top: px-to-rem(12px);
}

.icon {
  height: px-to-rem(16px);
  width: px-to-rem(16px);
}

.text {
  min-height: px-to-rem(68px);
  flex-shrink: 0;
}

.email-verified {
  flex-basis: 100%;
  margin: 0;
  padding: px-to-rem(5px);
  text-align: center;
}

.button {
  flex-shrink: 0;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
