.section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.no-email-user {
  padding-top: px-to-rem(12px);
}

.icon {
  height: px-to-rem(16px);
  width: px-to-rem(16px);
}

.text {
  min-height: px-to-rem(68px);
}
