.layout {
  @include media-breakpoint-up (lg) {
    grid-template: repeat(2, auto) repeat(2, 1fr) / 2fr 1fr;
    padding: 0;
  }

  display: grid;
  grid-template: 1fr / 1fr;
  grid-auto-flow: row;
  grid-gap: 1.5rem;
  padding: 0;
  justify-items: start;
}

.header {
  @include media-breakpoint-up (lg) {
    grid-column: 1 / span 2;
  }
}

.document-section {
  @include media-breakpoint-up (sm) {
    grid-template: auto 1fr / repeat(3, 1fr);
  }

  @include media-breakpoint-up (md) {
    grid-template: auto 1fr / repeat(4, 1fr);
  }

  @include media-breakpoint-up (lg) {
    grid-template: auto 1fr / repeat(3, 1fr);
  }

  grid-column: 1;
  display: grid;
  grid-template: auto 1fr / repeat(2, 1fr);
  grid-auto-flow: row;
  grid-gap: 1rem;
}

.documents {
  @include media-breakpoint-up (lg) {
    grid-column: 2;
    grid-row: 3 / span 2;
  }

  background-color: inherit;
  box-shadow: inherit;
  padding-top: 0;
  height: 100%;
  align-self: start;
}

.group-name {
  @include font-label;
  @include media-breakpoint-up (sm) {
    grid-column: 1 / span 3;
  }

  @include media-breakpoint-up (md) {
    grid-column: 1 / span 4;
  }

  @include media-breakpoint-up (lg) {
    grid-column: 1 / span 4;
  }

  grid-column: 1 / span 2;
  color: $neu-slate-grey;
}

.note {
  grid-column: 1 / span 3;
}

.description {
  @include media-breakpoint-up (lg) {
    grid-column: 1 / span 2;
  }
}


