.step {
  @include nds-helper-text-bold;

  color: $neu-charcoal-grey;
  text-transform: uppercase;
}

.title {
  @include nds-headline-2;

  color: $neu-charcoal-grey;
  margin: {
    top: px-to-rem(12px);
    bottom: px-to-rem(20px);
  }
}

.description {
  @include nds-body;

  color: $neu-shuttle-gray;
  margin-bottom: px-to-rem(22px);
}
