.card {
  @include nds-body;

  font-weight: normal;
  color: $neu-shuttle-gray;
  display: flex;
  min-height: px-to-rem(114px);
  margin-bottom: px-to-rem(16px);
  align-items: center;
  text-align: left;
  padding: 0;

  &:disabled {
    color: $neu-shuttle-gray;
    opacity: .4;
    background: $neu-white-two;
  }
}

.image {
  max-width: px-to-rem(94px);
  margin-left: px-to-rem(30px);
  margin-right: px-to-rem(26px);
}


.icon {
  @include rect(24px);

  color: transparent;
  margin-right: px-to-rem(30px);
  margin-left: px-to-rem(20px);
}
