{
  "plugins": [
    [
      "react-intl-krzkaczor",
      {
        "messagesDir": "./intl/messages/"
      }
    ],
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-proposal-optional-catch-binding"
  ],
  "presets": ["@babel/typescript", "@babel/react"]
}
