.content {
  display: grid;
  grid-template: auto / 1fr;
  grid-gap: .8rem;
  grid-auto-flow: row;

  min-height: px-to-rem(178px);
  max-height: px-to-rem(178px);

  .loading {
    margin: px-to-rem(50px) auto 0;
  }

  .loading-no-margin {
    margin: 0 auto;
  }
}

.icon {
  height: px-to-rem(16px);
  width: px-to-rem(16px);
}

.text {
  max-height: px-to-rem(108px);
  margin: 0;
  padding: 0;
}

.group-wrapper {
  display: grid;
  grid-template: auto / 50% 50%;
  grid-gap: .1rem;
}

.label {
  @include font-label;
}

.widget-button {
  margin: 0 auto;
  align-self: end;
}

//need to override button padding here, because there's too little space
//TODO sort this out with designers
.button-override {
  // sass-lint:disable no-important
  padding: 0 !important;
}
