.content {
  min-height: px-to-rem(178px);
  max-height: px-to-rem(178px);

  .loading {
    margin: px-to-rem(50px) auto 0;
  }
  display: grid;
  grid-template: auto / 1fr;
  grid-gap: 1rem;
  grid-auto-flow: row;
}

.icon {
  height: px-to-rem(16px);
  width: px-to-rem(16px);
}

.text {
  max-height: px-to-rem(108px);
  margin: 0;
  padding: 0;
}

.group-wrapper {
  display: grid;
  grid-template: auto / 50% 50%;
  grid-gap: 0.3rem;
}

.label {
  @include font-label;
}

.button {
  margin: 0 auto;
  align-self: end;
}
