.container {
  padding: px-to-rem(16px) px-to-rem(34px);
}

.header {
  @include font-headline;
}

.label {
  @include font-label;

  padding-right: px-to-rem(16px);
  text-transform: uppercase;
  min-width: px-to-rem(120px);
  display: inline-block;
}

.chart-narrow {
  max-width: px-to-rem(440px);
  margin: 0 auto;
}
