$card-heigh: px-to-rem(440px);

.card {
  background-color: $neu-white-two;
  box-shadow: $shadow;
  height: 100%;
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;

  &:not(.teaser):not(.mobile):hover,  //sass-lint:disable-line force-pseudo-nesting
  &.flipped {
    .round-label {
      transform: translate(-60%, -60%);
    }

    .logo {
      transform: translate(-50%, -50%) scale(.6);
    }

    .tags {
      transform: translate(50%, 50%);
    }

    .bottom {
      transform: translateY(-100%);
    }

    .quote {
      display: flex;
    }

    .badge {
      z-index: $z-index-under-base;
    }
  }
}

.badge {
  position: absolute;
  top: 0;
  right: 0;
  width: px-to-rem(81px);
  z-index: $z-index-base;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $blue-green;
  height: 100%;
  position: relative;
}

.round-label,
.logo {
  transition: 250ms transform;
  transition-timing-function: $ease-out-quart;
  transition-delay: 30ms;
  will-change: transform;
}

.round-label {
  display: flex;
  fill: $neu-greyish-brown;
  min-width: px-to-rem(130px);
  width: 36%;
  height: px-to-rem(110px);
  position: relative;

  svg {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  span {
    @include rect(90%, 1.3em);

    @include media-breakpoint-down (sm) {
      font-size: px-to-rem(14px);
    }

    color: $neu-white-two;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10%;
    z-index: 1;
    font-size: px-to-rem(20px);
  }
}

.teaser-message,
.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.logo {
  max-width: 50%;
}

.teaser-message {
  text-align: center;

  img {
    @include media-breakpoint-only(lg) {
      width: 60px;
    }

    @include media-breakpoint-down(md) {
      width: 50px;
      margin-top: -50%;
    }

    width: 80px;
  }
}

.tags {
  @include media-breakpoint-down (sm) {
    padding: px-to-rem(5px);

    > * {
      margin-top: px-to-rem(10px);
    }
  }

  display: flex;
  justify-content: flex-end;
  padding: px-to-rem(10px);
  transition: $ease-out-quart 250ms 50ms transform;
  will-change: transform;
  flex-wrap: wrap;
}

.bottom {
  background-color: $neu-white-two;
  transition: 400ms transform, 300ms background-color, 200ms color;
  transition-timing-function: $ease-out-quart;
  transform: translateY(0);
  width: 100%;
  height: 100%;
  will-change: transform;
}

.quote,
.description-wrapper {
  @include media-breakpoint-down (sm) {
    padding: 3%;
  }

  padding: 4% px-to-rem(34px);
}

.name,
.description {
  display: block;
}

.name {
  @include font-headline;

  @include media-breakpoint-down (sm) {
    margin-bottom: 2%;
  }

  color: inherit;
  font-weight: $font-weight-bold;
}

.description {
  @include font-default;

  @include media-breakpoint-up(lg) {
    @include line-clamp(4, 1.64);
  }

  @include media-breakpoint-only(lg) {
    font-size: px-to-rem(14px);
  }

  @include media-breakpoint-only(md) {
    font-size: px-to-rem(14px);
  }

  @include media-breakpoint-down (md) {
    @include line-clamp(3, 1.64);
  }

  @include media-breakpoint-down (xs) {
    font-size: px-to-rem(12px);
  }

  font-weight: 500;
  font-size: px-to-rem(16px);
  margin: 0;
  opacity: 1;

  &.teaser {
    text-transform: uppercase;
    font-weight: $font-weight-bold;
  }
}

.quote {
  @include font-default;

  height: 100%;
  color: $neu-white-two;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: px-to-rem(32px);
  width: 100%;
  text-transform: uppercase;
  position: absolute;

  p {
    @include media-breakpoint-down(md) {
      font-size: px-to-rem(12px);
    }

    @include media-breakpoint-only(xs) {
      line-height: 1.4;
    }

    z-index: $z-index-over-base;
  }

  .image {
    z-index: $z-index-under-base;
  }
}

.image {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.quote-description {
  background-color: $black;
}

.animated-gif-with-description {
  padding: 0;
  height: 100%;

  .image-wrapper {
    height: 100%;
    width: 100%;

    .animation {
      width: 100%;
    }

    .banner {
      height: 100%;
      background-color: $neu-black;
      width: 100%;

      h3 {
        @include media-breakpoint-only(xs) {
          font-size: 10px;
        }

        color: $white;
        padding-top: 10px;
      }

      .app-store {
        @include media-breakpoint-only(xs) {
          margin-top: 12px;
        }

        height: 80px;
        margin-top: 50px;
      }

      .siemens-logo {
        @include media-breakpoint-only(xs) {
          margin-top: 10px;
        }

        margin-top: 20px;
      }
    }
  }
}

.navigation-arrow {
  display: none;
}

.mobile {
  .bottom {
    animation: jump 15s ease 0s infinite normal;
  }

  &.flipped {
    .bottom {
      animation: none;
    }

    .navigation-arrow {
      display: block;
      background-color: $black;
      opacity: .8;
      border-radius: 50%;
      position: absolute;
      top: 5px;
      right: 5px;
      width: 60px;
      height: 60px;
      font-size: 24px;
      padding-top: 12px;
      color: $white;
    }
  }
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }

  2% {
    transform: translateY(0);
  }

  4% {
    transform: translateY(-15px);
  }

  5% {
    transform: translateY(0);
  }

  6% {
    transform: translateY(-7px);
  }

  8% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}
