.container {
  :global(.row) {
    margin: 2rem 0;
  }

  p>strong {
    // orange inside FormattedHTMLMessage
    color: $neu-bright-orange;
  }
}

.info-icon {
  height: 1rem;
  margin: 0 .5rem;
}

.printable {
  @media print {
    padding: 6em 3em;

    .non-printable {
      display: none;
    }
  }
}
