@import "../../../styles/neufund-theme";

.wallet-balance {
  &:global {
    &.t-dark {
      background-color: $neu-cloudy-blue;
    }
  }
}

.wallet-balance-wrapper {
  @include media-breakpoint-up (lg) {
    padding-bottom: px-to-rem(36px);
    padding-top: px-to-rem(36px);
  }

  display: flex;
}

.chart-wrapper {
  @include media-breakpoint-up (xl) {
    display: block;
  }

  display: none;
  flex-shrink: 0;
  width: 30%;

  > canvas {
    max-height: px-to-rem(180px);
    max-width: px-to-rem(180px);
  }
}

.money-suite-wrapper {
  $_border-color: rgba($neu-slate-grey, .1);
  display: flex;
  align-items: center;

  & + #{&} {
    border-top: 1px solid $_border-color;
  }
}

.buttons-wrapper {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  :global(.button) {
    margin-left: auto;
    text-align: right;
  }
}

.wallet-balance-actions {
  @include media-breakpoint-up (lg) {
    margin-left: px-to-rem(20px);
  }

  flex: 1;

  > * {
    @include make-col(1, 1);

    padding-bottom: px-to-rem(20px);
    padding-top: px-to-rem(20px);
  }
}
