@import "../variables";

@mixin headline-huge {
  font-family: $headings-font-family;
  font-size: px-to-rem(48px);
  letter-spacing: px-to-rem(-.3px);
}

@mixin headline-big {
  font-family: $headings-font-family;
  font-size: px-to-rem(34px);
  letter-spacing: px-to-rem(-.5px);
}

@mixin font-headline {
  font-family: $headings-font-family;
  font-size: px-to-rem(20px);
  letter-spacing: px-to-rem(-.3px);
}

@mixin font-headline-medium {
  @include font-headline;

  font-size: px-to-rem(18px);
}

@mixin font-headline-small {
  @include font-headline;

  font-size: px-to-rem(16px);
}

@mixin font-button-default {
  font-family: $headings-font-family;
  font-size: px-to-rem(15px);
  letter-spacing: px-to-rem(-.2px);
}

@mixin font-button-small {
  font-family: $headings-font-family;
  font-size: px-to-rem(10px);
}

@mixin font-default {
  font-family: $headings-font-family;
  font-size: px-to-rem(14px);
  line-height: 1.64;
}

@mixin font-tab {
  font-family: $headings-font-family;
  font-size: px-to-rem(13px);
  letter-spacing: px-to-rem(-.02px);
}

@mixin font-label {
  font-family: $headings-font-family;
  font-size: px-to-rem(12px);
  letter-spacing: -.2px;
  line-height: 1.4;
  text-transform: uppercase;
}

@mixin font-label-small {
  font-family: $headings-font-family;
  font-size: px-to-rem(9px);
  text-transform: uppercase;
}

@mixin font-label-micro {
  font-family: $headings-font-family;
  font-size: px-to-rem(6px);
  text-transform: uppercase;
}

@mixin line-clamp ($lines, $line-height: false) {
  overflow: hidden;
  position: relative;
  display: -webkit-box; // sass-lint:disable-line no-vendor-prefixes
  -webkit-line-clamp: $lines; // sass-lint:disable-line no-vendor-prefixes
  -webkit-box-orient: vertical; // sass-lint:disable-line no-vendor-prefixes

  @if ($line-height) {
    @supports not (-webkit-box-orient: vertical) { // sass-lint:disable-line no-vendor-prefixes
      line-height: $line-height;
      height: $lines * strip-unit($line-height) + em;
    }
  }
}
