.date-field {
  @include media-breakpoint-up(lg) {
    flex-direction: row;
  }

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  input {
    @include media-breakpoint-up(lg) {
      width: px-to-rem(80px);
      margin: 0 px-to-rem(10px);
    }

    flex: 1;
    text-align: center;
  }

  .label {
    @include font-label;

    @include media-breakpoint-up(lg) {
      align-self: flex-end;
      margin-bottom: 0;
    }

    align-self: flex-start;
    flex-shrink: 0;
    margin-bottom: px-to-rem(10px);
  }
}

.date-field-year {
  input {
    margin-right: 0;
  }
}

.inputs-wrapper {
  display: flex;
  align-items: center;
}

.input-wrapper {
  &:last-of-type {
    input {
      @include media-breakpoint-up(lg) {
        margin-right: 0;
      }
    }
  }
}

.error-label {
  color: $neu-red;
  min-height: px-to-rem(31px);
  padding-right: px-to-rem(5px);
  text-align: right;
}
