.custom-select {
  position: relative;

  &::after {
    @include triangle-down(14px, 9px, $color-green);

    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    content: "";
  }

  select {
    appearance: none;
  }

  &.disabled {
    &::after {
      @include triangle-down(14px, 9px, $neu-silver);
    }

    & select {
      color: $neu-silver;
      cursor: not-allowed;
    }
  }
}
