.note-label {
  min-height: px-to-rem(21px);
  padding: px-to-rem(5px) px-to-rem(5px) 0;
  text-align: right;
}

.addon {
  &:global(.is-invalid) {
    border-color: $neu-red;
  }

  > :global(.input-group-text) {
    background-color: transparent;
    padding: 0 0 px-to-rem(4px) px-to-rem(10px);
    border: 0;
    border-bottom: 1px solid $neu-greyish-brown;
  }
}

.input-field {
  &:disabled {
    color: $neu-slate-grey;
    cursor: not-allowed;

    &::placeholder {
      color: $neu-silver;
    }
  }
}
