.account-address {
  display: inline-flex;
  width: 100%;
}

.address {
  @include font-label;

  border: 0;
  color: $color-graphite-light;
  min-height: 1em;
  text-transform: none;
  padding: 0;
  resize: none;
  width: 100%;
}

.transaction-history {
  @include font-label-small;

  color: $color-silver;
  text-transform: none;
}

.address-wrapper {
  flex: 1;
  margin-right: px-to-rem(20px);
  padding-left: 10px;
}
