.accordion {
  display: flex;
  flex-direction: column;
}

.accordion-element {
  &:last-of-type {
    .content {
      border-bottom: 0;
    }
  }

  &:global(.is-closed) {
    .title :global(.inline-icon) {
      transform: rotate(180deg);
    }

    .content {
      height: 0;
    }
  }
}

.title {
  @include font-button-default;

  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  user-select: none;
  padding-bottom: px-to-rem(20px);
  padding-top: px-to-rem(20px);
  margin: 0;

  :global(.inline-icon) {
    transition: 200ms ease-in-out transform;
    will-change: transform;
  }
}

.content {
  $_border-color: rgba($neu-black, .1);
  border-bottom: 1px solid $_border-color;
  // Fix #1759 (subpixeling issue)
  padding-bottom: 1px;
  overflow: hidden;
}
