.asset-portfolio {
  @include media-breakpoint-down (lg) {
    flex-direction: column;
  }

  display: flex;
}

.your-neumark,
.listing {
  padding: 4px 20px;
  min-width: 240px;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.your-neumark {
  background-color: $neu-slate-grey;
  color: $neu-white-two;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  min-width: 240px;
  padding: 4px 20px;

  .title {
    @include font-label;

    color: $neu-white-two;
  }
}

.listing {
  @include media-breakpoint-down (lg) {
    box-shadow: none;
  }

  align-items: flex-end;
  justify-content: center;
  background-color: $neu-white-two;
  z-index: 1;
  box-shadow: $shadow-bottom-black;
  position: relative;

  &::after {
    @include rect(10px, 100%);

    @include media-breakpoint-down (lg) {
      display: none;
    }

    content: "";
    position: absolute;
    top: 0;
    right: -5px;
    background-color: $neu-white-two;
  }

  .eur {
    font-size: px-to-rem(20px);
    font-weight: $font-weight-bold;
  }

  .token {
    font-size: px-to-rem(14px);
  }
}

.red,
.green {
  font-weight: $font-weight-bold;
}

.red {
  color: $neu-red;
}

.green {
  color: $color-green;
}
