@import "../../styles/neufund-theme";

$_hover-color: $neu-piss-yellow;
$_focus-color: $neu-piss-yellow;
$_active-color: lighten($_hover-color, 20%);


:global(.button):focus,
.content:focus {
  outline: none;
}


:global(.button) {
  all: initial;
  cursor: pointer;
  font-weight: $font-weight-bold;
  text-decoration: none;

  &:focus {
    .content {
      box-shadow: 0 0 px-to-rem(3px) px-to-rem(6px) $_focus-color;
    }
  }


  .content {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    padding-bottom: px-to-rem(8px);
    padding-top: px-to-rem(8px);
    padding-right: px-to-rem(20px);
    padding-left: px-to-rem(20px);
    position: relative;
    text-align: center;
    transition: 200ms ease-out all;
  }

  &:disabled,
  &:global(.primary):disabled,
  &:global(.secondary):disabled {
    color: $neu-pale-grey;
    cursor: not-allowed;

    &:hover {
      .content {
        color: $neu-pale-grey;
        background-color: transparent;
        border-color: currentColor;
      }
    }
  }


  // types
  &:global(.primary) {
    @include font-default;
    text-transform: uppercase;

    .content {
      border: px-to-rem(2px) solid currentColor;
      min-width: px-to-rem(138px);
    }

    &:hover {
      .content {
        background-color: $_hover-color;
        border-color: $_hover-color;
        color: $neu-almost-black;
      }
    }

    &:active {
      .content {
        background-color: $_active-color;
        border-color: $_active-color;
        color: $neu-almost-black;
      }
    }
  }


  &:global(.secondary) {
    @include font-tab;

    text-transform: uppercase;

    &:hover {
      color: $_hover-color;
    }

    &:active {
      color: $_active-color;
    }
  }


  // themes
  &:global {
    &.t-white {
      color: $neu-white-two;
    }
  
    &.t-dark {
      color: $neu-almost-black;
    }
  }

  // elements
  &:global {
    &.icon-before {
      :global(.inline-icon) {
        margin-right: px-to-rem(10px);
      }
    }


    &.icon-after {
      :global(.inline-icon) {
        margin-left: px-to-rem(10px);
      }
    }
  }

  :global(.inline-icon) {
    color: currentColor;
    height: px-to-rem(20px);
    width: px-to-rem(20px);
  }
}
