@import "../../styles/neufund-theme";
// sass-lint:disable no-important

.button-primary {
  color: $neu-black !important;
  border-color: $neu-black !important;
  text-transform: uppercase;

  &:focus,
  &:hover {
    color: $neu-black;
    background-color: $neu-piss-yellow !important;
    border-color: $neu-piss-yellow !important;
  }

  &:global(.disabled) {
    border-color: $neu-pale-grey !important;

    &:hover {
      background-color: transparent !important;
    }
  }
}

.button-secondary {
  display: flex !important;
  justify-content: center !important;
  align-items: center;
  color: $neu-black !important;
  border-color: transparent !important;

  &:focus,
  &:hover {
    color: $neu-piss-yellow !important;
  }

  &:global(.disabled) {
    border-color: transparent !important;

    &:hover {
      color: $neu-pale-grey !important;
    }
  }

  span ~ :global(.inline-icon) {
    margin-left: px-to-rem(10px);
  }
}

.button-close {
  cursor: pointer;
  height: px-to-rem(20px);
  width: px-to-rem(20px);

  &:hover {
    opacity: .8;
  }
}
