// sass-lint:disable force-pseudo-nesting
// sass-lint:disable nesting-depth

$_hover-color: $color-brand;
$_focus-color: $color-brand;
$_active-color: lighten($_hover-color, 20%);

:global(.button) {
  all: initial;
  cursor: pointer;
  font-weight: $font-weight-bold;
  text-decoration: none;

  &:focus,
  .content:focus {
    outline: none;
  }

  &:focus {
    .content {
      box-shadow: 0 0 px-to-rem(3px) px-to-rem(6px) $_focus-color;
    }
  }

  .content {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    padding: px-to-rem(8px) px-to-rem(20px);
    position: relative;
    text-align: center;
    transition: 200ms ease-out all; // sass-lint:disable-line no-transition-all
  }

  &:disabled,
  &:global(.primary):disabled, // sass-lint:disable-line force-pseudo-nesting
  &:global(.secondary):disabled { // sass-lint:disable-line force-pseudo-nesting
    color: $neu-pale-grey;
    cursor: not-allowed;

    &:hover {
      .content {
        color: $color-gray;
        background-color: transparent;
        border-color: currentColor;
      }
    }
  }

  // types
  &:global(.primary) {
    @include font-button-default;
    text-transform: uppercase;

    .content {
      border: px-to-rem(2px) solid currentColor;
      min-width: px-to-rem(138px);
    }

    &:hover {
      .content {
        background-color: $_hover-color;
        border-color: $_hover-color;
        color: $color-white;
      }
    }

    &:active {
      .content {
        background-color: $_active-color;
        border-color: $_active-color;
        color: $color-white;
      }
    }
  }

  &:global(.secondary) {
    @include font-tab;

    text-transform: uppercase;

    &:hover {
      color: $_hover-color;
    }

    &:active {
      color: $_active-color;
    }
  }

  &:global(.wide) {
    min-width: px-to-rem(220px);
  }

  &:global {
    // themes
    &.white {
      color: $neu-white-two;
    }

    &.dark {
      color: $color-black;
    }

    &.brand {
      background-color: $color-brand;
      color: $color-graphite;

      :local(.content) {
        border-color: $color-brand;
      }
    }

    &.silver {
      color: $neu-slate-grey;
    }

    // elements
    &.icon-before {
      :global(.inline-icon) {
        margin-right: px-to-rem(10px);
      }
    }

    &.icon-after {
      :global(.inline-icon) {
        margin-left: px-to-rem(10px);
      }
    }
  }

  :global(.inline-icon) {
    color: currentColor;
    height: px-to-rem(20px);
    width: px-to-rem(20px);
  }
}

.button-icon {
  cursor: pointer;
  width: 20px;
  height: 20px;
}
