.document {
  &:global(.doc),
  &:global(.docx) {
    color: $color-blue;
  }

  &:global(.pdf) {
    color: $color-orange;
  }
}

.file,
.text,
.label {
  fill: currentColor;
}

.text {
  text-transform: uppercase;
}

.label {
  opacity: 0.18;
}

.tile {
  background-color: $color-white;
  color: #aabcca;
  border: 1px solid #bbcad5;

  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: px-to-rem(20px);
  padding-bottom: px-to-rem(5px);

  :global(.document-icon) {
    width: 70px;
    margin: 0 auto;
  }

  .title {
    color: $color-black;
    font-size: px-to-rem(12px);
    margin-bottom: 0;
    margin-top: 20px;
    text-align: center;
  }
  .disabled-title {
    color: #bbcad5;
    justify-content: center;
  }
}

.sub-title {
  color: #bbcad5;
  justify-content: center;
  font-size: px-to-rem(8px);
  margin-bottom: 0;
}

.border-document {
  width: 160px;
  height: 139.6px;
  border-radius: 5px;
  background-color: #ffffff;
  background-color: var(--white-two);
  border: solid 4px rgba($blue-light, .15);
}
