.document-link {
  align-items: center;
  display: inline-flex;
  font-weight: $font-weight-light;
  margin-bottom: $spacing-vertical-lg-1;
  text-decoration: underline;

  :global {
    .document-icon, .inline-icon {
      width: 18px;
      margin-right: 10px;
    }
  }
}
