.document {
  &:global(.doc),
  &:global(.docx) {
    color: $color-blue;
  }

  &:global(.pdf),
  &:global(.csv) {
    color: $neu-bright-orange;
  }
}

.file,
.text,
.label {
  fill: currentColor;
}

.text {
  text-transform: uppercase;
}

.label {
  opacity: .18;
}

.tile {
  position: relative;
  background-color: $neu-white-two;
  color: $gray5;
  border: 1px solid $gray10;
  width: px-to-rem(160px);
  height: px-to-rem(139.6px);
  border-radius: px-to-rem(5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: px-to-rem(20px);
  padding-bottom: px-to-rem(5px);

  :global(.document-icon) {
    width: px-to-rem(70px);
    margin: 0 auto;
  }

  .title {
    color: $color-black;
    font-size: px-to-rem(12px);
    margin-bottom: 0;
    margin-top: px-to-rem(20px);
    text-align: center;
  }

  .disabled-title {
    color: $gray10;
    justify-content: center;
  }
}

.sub-title {
  color: $gray10;
  justify-content: center;
  text-align: center;
  font-size: px-to-rem(8px);
  margin-bottom: 0;
}

.enabled {

  &:active,
  &:hover,
  &:focus {
    box-shadow: 0 0 px-to-rem(5px) px-to-rem(1px) $gray10;
  }
}

.active {
  border: 1px solid $green-light;

  &:active,
  &:hover {
    box-shadow: 0 0 px-to-rem(5px) px-to-rem(1px) $green-light;
  }
}

.busy {
  cursor: default;
}

.clickable-area {
  padding: 0;
  background-color: transparent;
  border-radius: px-to-rem(5px);
  border: 0;
}

.sub-title-download {
  width: 100%;
  color: $color-black;
  display: block;
  font-size: px-to-rem(8px);
  padding: 0;
  background-color: transparent;
  border: 0;

  &:active,
  &:hover,
  &:focus {
    text-decoration: underline;
    text-decoration-color: $neu-piss-yellow;
  }
}

.download-link-disabled {
  color: $gray10;
  cursor: default;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

.document-busy {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.document-not-busy {
  display: none;
}

.text-busy {
  opacity: .5;
}

.document-icon-busy {
  filter: grayscale(100%);
  opacity: .5;
}
