@import "../../styles/neufund-theme";

.donut-chart {
  @include media-breakpoint-up (xl) {
    display: block;
  }

  flex-shrink: 0;
  display: none;
  transform: rotate(-90deg);
  transition: stroke-dasharray .3s ease;
  width: 38%;
}
