@import "../../styles/neufund-theme";

.card {
  box-shadow: $shadow;
  width: 100%;
  height: 100%;
  background-color: $blue-green;
  color: $neu-white-two;
  text-transform: uppercase;
  padding: 4% px-to-rem(34px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .title {
    @include font-headline-medium;

    color: $neu-white-two;
    margin-bottom: $spacing-vertical-lg-2;
  }

  .description {
    @include font-headline;

    text-transform: uppercase;
  }
}

:global(.responsive) {
  @media (min-width: map-get($grid-breakpoints, "xl")) and (max-width: 1400px) {
    .description {
      font-size: px-to-rem(16px);
    }
  }
}
