.status-of-eto {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: $font-weight-medium;
  color: $neu-black;

  .title {
    @include font-headline-small;

    margin-right: px-to-rem(10px);
  }
}

.project-status {
  @include font-label;

  text-transform: uppercase;
  font-weight: $font-weight-medium;
  color: $neu-black;
  display: flex;
  align-items: center;

  &::before {
    display: block;
    content: "";
    width: px-to-rem(14px);
    height: px-to-rem(14px);
    margin-right: px-to-rem(10px);
    border-radius: 50%;
    flex-shrink: 0;
  }

  &:global(.on_chain) {
    &::before {
      background-color: $green-light;
    }
  }

  &:global(.prospectus_approved) {
    &::before {
      background-color: $green-light;
    }
  }

  &:global(.listed) {
    &::before {
      background-color: $blue-light;
    }
  }

  &:global(.pending) {
    &::before {
      background-color: $neu-bright-orange;
    }
  }
}
