.title {
  @include media-breakpoint-up (sm) {
    padding: 0 px-to-rem(30px);
    font-size: 2rem;
    font-weight: 600;
  }

  margin: 0 auto;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
}

.description {
  margin: 0 auto;
  text-align: center;
}
