@import "../..//styles/neufund-theme";


.inline-icon {
  display: flex;
  align-content: center;
  justify-content: center;
  color: inherit;

  &,
  svg {
    width: 100%;
    height: 100%;
  }

  svg {
    color: inherit;
    fill: currentColor;

    // temporary solution
    path,
    polygon,
    g {
      fill: currentColor;
    }
  }
}
