

.spinner {
  animation: sk-scaleout 1s infinite ease-in-out;
  margin: 6.25rem auto;
  border-radius: 100%;
  background-color: $loading-indicator-color;
  width: 2.5rem;
  height: 2.5rem;
}

@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.light {
  margin: 0;
  width: 1rem;
  height: 1rem;
}
