.money-suite-widget {
  display: flex;

  &:global(.light) {
    .money,
    .total-money {
      color: $neu-white-two;
    }
  }

  &:global(.large) {
    .money {
      font-size: px-to-rem(22px);
    }

    .total-money {
      font-size: px-to-rem(15px);
    }

    .icon {
      @include rect(43px);
    }
  }

  .icon {
    @include rect(34px);

    margin-right: px-to-rem(10px);
    margin-top: .2em;
  }

  .money {
    @include font-default;

    color: $neu-slate-grey;
  }

  .total-money {
    @include font-tab;

    color: $neu-silver;
  }

  .green {
    color: $neu-seaweed;
  }

  .red {
    color: $neu-red;
  }
}
