.money-suite-widget {
  display: flex;

  &.framed {
    width: 100%;
    justify-content: space-between;
    border: 1px solid $neu-pale-grey;
    padding: px-to-rem(16px) px-to-rem(12px);
  }

  &.large {
    .icon {
      @include rect(43px);
    }
  }

  .icon {
    @include rect(34px);

    margin-right: px-to-rem(10px);
    margin-top: .2em;
  }

  .green {
    color: $neu-seaweed;
  }

  .red {
    color: $neu-red;
  }
}
