.money {
  &:global(.income),
  &:global(.outcome) {
    font-size: px-to-rem(14px);
    font-weight: $font-weight-bold;
    line-height: 1.43;
  }

  &:global(.income) {
    color: $neu-seaweed;

    &::before {
      content: "+";
    }
  }

  &:global(.outcome) {
    color: $neu-red;

    &::before {
      content: "-";
    }
  }

  &:global(.t-green) {
    color: $neu-seaweed;
  }

  &:global(.t-orange) {
    color: $bright-orange;
  }

  .currency {
    text-transform: none;
  }
}
