

.upload {
  @include make-row;
}

.title {
  font-size: px-to-rem(12px);
  color: $neu-slate-grey;
  text-transform: uppercase;
  margin-bottom: px-to-rem(20px);
}

.document-requirements {
  margin-top: px-to-rem(20px);
}

.upload-description,
.upload-zone {
  @include make-col-ready;
  @include make-col(1, 1);

  @include media-breakpoint-up(md) {
    @include make-col(1, 2);
  }

  margin-top: px-to-rem(24px);
}

.upload-description {
  @include media-breakpoint-up(md) {
    border-right: 1px solid $neu-light-blue-grey;
  }
}

.upload-zone {
  strong {
    color: $neu-almost-black;
  }
}

.dropzone-wrapper {
  margin: 0 auto;

  > * {
    margin-right: px-to-rem(18px);
    background-color: $neu-pale-blue;
    border: 1px dashed $neu-cloudy-blue;
    border-radius: 3px;
    flex-direction: column;
    display: flex;
    padding: px-to-rem(22px);
    justify-content: space-between;
    align-items: center;
    transition: 150ms ease-out transform;

    &:hover {
      transform: scale(.96);
    }
  }
}

.sample-document-id {
  max-width: 100%;
}

.dropzone-with-files-wrapper {
  > * {
    background-color: transparent;
    border: 0;
    flex-direction: row;
    margin-left: px-to-rem(6px);
    font-weight: 600;

    :global(.inline-icon) {
      width: px-to-rem(20px);
      margin-right: px-to-rem(12px);
    }
  }
}
