.multi-file-upload {
  @include media-breakpoint-up (md) {
    width: 50%;
    flex-direction: row;
  }

  display: flex;
  flex-direction: column;

  :global {
    .c-uploaded-files {
      margin-left: 20px;
    }
  }
}

.title {
  @include font-label;

  color: $color-graphite-light;
}

.file-info {
  color: $color-gray;
  font-size: 10px;
  line-height: 2.4;
}

.dropzone {
  @include rect(120px);

  align-items: center;
  border: px-to-rem(2px) dashed $neu-silver;
  color: $color-graphite-light;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: px-to-rem(10px);
  justify-content: center;
  padding: 10px;
  text-align: center;
  flex-shrink: 0;

  :global {
    .inline-icon {
      margin-bottom: 10px;
    }
  }
}

.document-wrapper {
  @include media-breakpoint-up (md) {
    padding-right: 20px;
  }

  padding-bottom: 20px;
}

.dropzone-wrapper {
  display: flex;
}

.requirements {
  margin-left: 30px;
  font-size: 8px;
}

.requirements-title {
  margin-bottom: 12px;
  margin-top: 12px;
}

