@import "../../styles/neufund-theme";

$header-height: px-to-rem(46px);

.panel {
  box-shadow: $shadow;
  background-color: $neu-white-two;
}

.icon {
  margin-right: px-to-rem(10px);
}

.header-row {
  min-height: $header-height;
}

.header {
  background-color: $neu-charcoal-grey;
  color: $neu-white;
  padding-bottom: px-to-rem(8px);
  padding-top: px-to-rem(8px);
}

.header-text {
  font-size: $smaller-font-size;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
}
