.panel {
  background-color: $neu-white-two;
  box-shadow: $shadow-bottom-black;
  padding: px-to-rem(30px) px-to-rem(25px) px-to-rem(25px);

  &.narrow {
    padding: px-to-rem(10px);
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $spacing-vertical-sm-1;
}
