@import "../../styles/neufund-theme";

.panel {
  box-shadow: $shadow;
  border-top: rem-to-px(2px);
  border-top-color: $neu-piss-yellow;
  border-top-style: solid;
  background-color: $white-pure;
}
