.panel {
  @include rect(100%);

  background-color: $color-white;
  box-shadow: $shadow-bottom-black;
  padding: px-to-rem(25px);

  &:global(.has-header) {
    padding-top: px-to-rem(14px);
  }
}

.header,
.left,
.right {
  display: flex;
  align-items: center;
}

.left,
.right {
  flex-shrink: 0;
}

.header {
  @include font-label;

  color: $color-black;
  font-weight: $font-weight-bold;
  justify-content: space-between;
  margin-bottom: $spacing-vertical-sm-1;
  text-transform: uppercase;
  position: relative;

  &::before {
    @include rect(2px, 12px);

    background-color: $color-brand;
    content: "";
    margin-right: 12px;
  }
}

.left {
  margin-right: auto;
}

.right {
  margin-left: auto;
}

.icon {
  @include rect(16px);

  margin-left: px-to-rem(25px);
}
