@import "../../styles/neufund-theme";

$header-height: px-to-rem(40px);

.panel {
  box-shadow: $shadow;
}

.header {
  @include media-breakpoint-up (md) {
    height: $header-height;
  }

  background-color: $neu-charcoal-grey;
  color: $neu-white;
  padding-bottom: px-to-rem(8px);
  padding-top: px-to-rem(8px);
}

.header-text {
  font-size: $smaller-font-size;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
}
