.swiper-main {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 1.5rem;
}

.swiper-base {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;

  overflow: hidden;
}

.swiper-moving-part {
  display: grid;
  grid-template: 1fr / auto;
  grid-column-gap: 16px;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  margin: 0 auto;
  transition-timing-function: ease-in;
  transition: .2s;
  justify-items: center;
}

.swiper-element {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

.placeholder {
  width: 100%;
}

.next,
.prev {
  position: absolute;
  cursor: pointer;
  z-index: 2;

  svg {
    display: block;
    background-color: $neu-white-two;
  }
}

.prev {
  margin-right: .3rem;
  left: 1.5rem;
}

.next {
  margin-left: .3rem;
  right: 1.5rem;
}

.inactive {
  cursor: initial;

  svg * {
    stroke: $neu-silver;
  }

}

.clickable {
  padding: 0;
  border: 0;
  background-color: transparent;
}

@media (max-width: 575px) {
  .prev,
  .next {
    svg {
      transform: scaleX(.7);
    }
  }

  .prev {
    margin-right: .3rem;
    left: .9rem;
  }

  .next {
    margin-left: .3rem;
    right: .9rem;
  }
}
