.swiper-widget {
  padding: 0 50px;
  position: relative;
}

.next,
.prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  svg {
    display: block;
  }
}

.prev {
  left: 0;
}

.next {
  right: 0;
}
