.swiper-main {
  display: flex;
  flex-flow: row;
  flex: 1 1 100%;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 180px;
}

.swiper-base {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  overflow: hidden;
}

.swiper-moving-part {
  display: grid;
  grid-template: 1fr / auto;
  grid-column-gap: 16px;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  margin: 0 auto;
  transition-timing-function: ease-in;
  transition: .2s;
  justify-items: center;
}

.swiper-element {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

.placeholder {
  width: 100%;
}

.next,
.prev {
  position: absolute;
  z-index: 2;
  color: $neu-white-two;
  width: 35px;
  height: 35px;

  &:disabled {
    color: transparent;
  }
}

.prev {
  margin-right: .3rem;
  left: 1.5rem;
}

.next {
  margin-left: .3rem;
  right: 1.5rem;
}

.clickable {
  padding: 0;
  border: 0;
  background-color: transparent;
}

@include media-breakpoint-up(sm) {
  .prev,
  .next {
    svg {
      transform: scaleX(.7);
    }
  }

  .prev {
    margin-right: .3rem;
    left: .9rem;
  }

  .next {
    margin-left: .3rem;
    right: .9rem;
  }
}
