@import "../../styles/neufund-theme";

.percentage-indicator-bar {
  align-items: center;
  color: $neu-seaweed;
  display: flex;

  .label {
    @include font-default;

    font-weight: $font-weight-bold;
    margin-right: px-to-rem(10px);
  }

  .progres {
    fill: currentColor;
    transition: 150ms ease-in-out width;
  }

  .background {
    fill: $neu-charcoal-grey;
  }
}
