@import "../../styles/neufund-theme";

.progress-stepper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.step {
  margin: rem-to-px(3px);
  height: rem-to-px(4px);
  width: rem-to-px(18px);
  background-color: $gray;
}

.active {
  background-color: $neu-black;
}
