@import "../../styles/neufund-theme";

.progress-stepper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.step {
  margin: px-to-rem(3px);
  height: px-to-rem(4px);
  width: px-to-rem(18px);
  background-color: $gray;
}

.active {
  background-color: $neu-black;
}
