.project-status {
  text-transform: uppercase;
  color: $color-graphite;
  display: flex;
  align-items: center;
  font-size: 12px;
  letter-spacing: -.2px;

  &::before {
    display: block;
    content: "";
    width: px-to-rem(14px);
    height: px-to-rem(14px);
    margin-right: px-to-rem(8px);
    border-radius: 50%;
    flex-shrink: 0;
    background-color: $color-green-dark;
  }
}
