.project-status {
  text-transform: uppercase;
  color: $color-graphite;
  display: flex;
  align-items: center;
  font-size: 12px;
  letter-spacing: -.2px;

  &::before {
    display: block;
    content: "";
    width: px-to-rem(14px);
    height: px-to-rem(14px);
    margin-right: px-to-rem(8px);
    border-radius: 50%;
    flex-shrink: 0;
  }

  &:global(.book-building) {
    &::before {
      background-color: $gray3;
    }
  }

  &:global(.campaigning) {
    &::before {
      background-color: $blue-light;
    }
  }

  &:global(.pre-eto),
  &:global(.public-eto) {
    &::before {
      background-color: $neu-seaweed;
    }
  }

  &:global(.in-signing) {
    &::before {
      background-color: lighten($neu-slate-grey, 5%);
    }
  }

  &:global(.claim),
  &:global(.refund) {
    &::before {
      background-color: $neu-slate-grey;
    }
  }
}
