@import "../../styles/neufund-theme";

.proportion {
  position: relative;
  width: 100%;

  &.disabled-on-mobile {
    @include media-breakpoint-down(md) {
      padding-top: 0!important;
    }
  }
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .disabled-on-mobile & {
    @include media-breakpoint-down(md) {
      position: static;
    }
  }
}
