.responsive-image {
  &:global {
    &.dark {
      background-color: $color-silver;
    }

    &.light {
      background-color: $color-white;
    }

    &.transparent {
      background-color: transparent;
    }

    &.thumbnail {
      cursor: pointer;
    }
  }
}

.image {
  @include rect(100%);

  display: block;
  font-style: italic;
}
