.section-header {
  position: relative;

  &.has-decorator {
    margin-left: 0;
    padding-left: px-to-rem(10px);

    &::before {
      position: absolute;
      content: "";
      background-color: $neu-piss-yellow;
      height: 100%;
      width: 2px;
      left: 0;
      top: 0;
    }
  }

  &.small {
    .header {
      @include font-label;
    }

    .description {
      @include font-button-small;
    }
  }

  .header {
    @include font-default;

    position: relative;

    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0;

    &.has-icon {
      padding-left: 2.4em;
    }

    .icon {
      // should match header height + 2px
      // but not change overall header height
      position: absolute;
      left: 0;
      top: -1px;
      height: calc(100% + 2px);
    }

  }

  .description {
    @include font-button-default;
  }
}
