.section-header {
  position: relative;

  &.has-decorator {
    margin-left: 0;
    padding-left: px-to-rem(10px);

    &::before {
      position: absolute;
      content: "";
      background-color: $neu-piss-yellow;
      height: 100%;
      width: 2px;
      left: 0;
      top: 0;
    }
  }

  :global(.inline-icon) {
    width: px-to-rem(20px);
    margin-left: auto;
    color: $neu-cloudy-blue;
    cursor: pointer;
    transition: 150ms ease-out color;

    &:hover {
      color: darken($neu-cloudy-blue, 20%);
    }
  }

  &.small {
    .header {
      @include font-label;
    }

    .description {
      @include font-button-small;
    }
  }

  .header {
    @include font-headline-small;

    text-transform: uppercase;
  }

  .description {
    @include font-button-default;
  }
}
