@import "../../styles/neufund-theme";

.section-header {
  @include headline-small;

  text-transform: uppercase;
  padding-left: px-to-rem(10px);
  position: relative;
  font-weight: $font-weight-bold;

  &::before {
    position: absolute;
    content: "";
    background-color: $neu-piss-yellow;
    height: 100%;
    width: 2px;
    left: 0;
    top: 0;
  }
}
