.social-profiles-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &:global(.small) {
    :local(.profile) {
      @include rect(12px);

      margin-right: 14px;
      margin-left: 14px;
    }
  }

  &:global(.center) {
    justify-content: center;
  }
}

.profile {
  @include circle(30px);

  background-color: $color-graphite;
  flex-shrink: 0;
  margin-bottom: 12px;
  margin-right: 20px;
  padding: px-to-rem(6px);
  position: relative;
  transition: 300ms $ease-out-expo background-color;

  &:hover {
    background-color: $color-brand;

    :local(.label) {
      transform: translate(-50%, -50px);
      opacity: 1;
    }
  }

  a {
    &,
    &:hover {
      color: $color-white;
    }
  }
}

.label {
  color: $color-graphite;
  position: absolute;
  bottom: 0;
  padding: 5px 7px;
  pointer-events: none;
  font-size: 14px;
  border-radius: 2px;
  background-color: $color-white;
  opacity: 0;
  transition: all .5s cubic-bezier(.68, -.55, .265, 1.55);
  left: 50%;
  transform: translate(-50%, 0);
  will-change: transform;

  &::before {
    @include rect(9px);

    background-color: $color-white;
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%, 22px) rotate(45deg);
  }
}
