.step-card {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  align-self: start;
  margin-left: 20%;
  margin-right: 20%;

  span {
    text-align: center;
  }
}
