@import "../../styles/neufund-theme";

.tabs {
  display: inline-flex;
  text-transform: uppercase;
  align-items: baseline;
}

.tab {
  opacity: .9;
  cursor: pointer;
  border-bottom: px-to-rem(2px) solid transparent;
  padding-bottom: px-to-rem(4px);

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:global(.active) {
    opacity: 1;
    font-weight: $font-weight-bold;
    border-color: $neu-piss-yellow;
  }

  // layouts
  &:global(.large) {
    @include font-headline;

    &:not(:global(.active)) {
      @include font-headline-small;

      font-weight: $font-weight-light;
    }
  }

  // themes
  &:global(.dark) {
    color: $neu-slate-grey;

    &:hover {
      color: lighten($neu-slate-grey, 20%);
    }

    &:global(.active) {
      color: $neu-black;
    }
  }

  &:global(.light) {
    color: $neu-white;

    &:hover {
      color: darken($neu-white, 20%);
    }

    &:global(.active) {
      color: $neu-white-two;
    }
  }

  + .tab {
    margin-left: px-to-rem(21px);
    position: relative;

    &::before {
      content: "";
      background-color: $neu-slate-grey;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: px-to-rem(-10px);
      width: px-to-rem(1px);
      height: 80%;
    }
  }
}
