.tag {
  @include font-default;

  $color-tag-base: rgb(196, 213, 236);
  $color-tag-bg: rgba($color-tag-base, .14);
  $color-tag-bg-hover: rgba($color-tag-base, .36);

  color: $neu-black;
  cursor: pointer;
  background-color: $color-tag-bg;
  border-radius: px-to-rem(3px);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: $font-weight-bold;
  padding: px-to-rem(6px) px-to-rem(10px);
  transition: 150ms ease-out background-color;
  user-select: none;

  & + .tag {
    margin-left: px-to-rem(10px);
  }

  &:hover {
    background-color: $color-tag-bg-hover;
  }

  &:global(.ghost-bold) {
    @include media-breakpoint-down(xs) {
      font-size: .6rem;
      padding: .2rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    border: 2px solid currentColor;
    border-radius: 0;
    text-transform: uppercase;
    padding-left: px-to-rem(24px);
    padding-right: px-to-rem(24px);

    &,
    &:hover {
      background-color: transparent;
    }
  }

  &:global(.bold) {
    text-transform: uppercase;
  }

  &:global(.ghost) {
    border: 1px solid currentColor;
    border-radius: 0;

    &,
    &:hover {
      background-color: transparent;
    }

    &:hover {
      opacity: .6;
    }
  }

  &:global(.small) {
    padding-bottom: px-to-rem(2px);
    padding-top: px-to-rem(2px);
  }

  &:global(.green) {
    color: $neu-seaweed;
  }

  &:global(.dark) {
    background-color: $neu-charcoal-grey;
    color: $neu-white-two;

    &:hover {
      background-color: lighten($neu-charcoal-grey, 8%);
    }
  }

  &:global(.white) {
    color: $neu-white-two;
  }

  :global(.inline-icon) {
    height: px-to-rem(12px);
    width: px-to-rem(12px);
    margin-right: px-to-rem(8px);
  }
}
