@import "../../styles/neufund-theme";

.tag {
  @include font-default;

  $_color_tag_base: rgb(196, 213, 236);
  $_color_tag_bg: rgba($_color_tag_base, .14);
  $_color_tag_bg_hover: rgba($_color_tag_base, .36);

  color: $neu-black;
  background-color: $_color_tag_bg;
  border-radius: px-to-rem(3px);
  font-weight: $font-weight-bold;
  padding: px-to-rem(6px) px-to-rem(10px);

  & + .tag {
    margin-left: px-to-rem(10px);
  }

  &:hover {
    background-color: $_color_tag_bg_hover;
  }

  &:global(.ghost) {
    border: 1px solid currentColor;
    border-radius: 0;

    &,
    &:hover {
      background-color: transparent;
    }

    &:hover {
      opacity: .6;
    }
  }

  &:global(.small) {
    padding-bottom: px-to-rem(2px);
    padding-top: px-to-rem(2px);
  }

  &:global(.green) {
    color: $neu-seaweed;
  }
}
