@import "../../styles/neufund-theme";

.tooltipWrapper {
  position: relative;
}

.tooltip {
  display: inline-block;
  cursor: help;

  &:hover {
    + .tooltip-text {
      @include media-breakpoint-down (md) {
        display: none;
      }

      transform: translate(0, -50%) scale(1);
      opacity: 1;
    }
  }

  &:focus {
    + .tooltip-text {
      @include media-breakpoint-down (md) {
        display: block;
        position: static;
      }
    }
  }

  :global(.inline-icon) {
    height: px-to-rem(18px);
    width: px-to-rem(18px);
  }
}

.tooltip-text {
  background-color: $neu-charcoal-grey;
  color: $neu-white-two;
  padding: px-to-rem(14px);
  position: absolute;
  top: 50%;
  left: px-to-rem(30px);
  width: 90vw;
  max-width: px-to-rem(300px);
  box-shadow: $shadow;
  opacity: 0;
  transform: translate(-5px, -50%) scale(.8);
  transition: 100ms ease-out;
  transform-origin: center left;
  will-change: transform opacity;
  pointer-events: none;
}
