$icon-size: 18px;

.tooltip-wrapper {
  @include media-breakpoint-down (sm) {
    display: block;
    margin-left: 0;
  }

  display: inline-block;
  margin-left: px-to-rem(10px);

  position: relative;
  vertical-align: text-bottom;
}

.tooltip {
  @include media-breakpoint-down (sm) {
    display: none;
  }

  cursor: help;

  :global(.inline-icon) {
    height: px-to-rem($icon-size);
    width: px-to-rem($icon-size);
  }
}

// sass-lint:disable force-element-nesting
:global(.tooltip).align-left>:global(.tooltip-inner) {
  text-align: left;
}
