.twitter {
  position: static;
  visibility: visible;
  display: inline-block;
  width: 100%;
  padding: 0px;
  border: none;
  max-width: 100%;
  min-width: 180px;
  margin-top: 0px;
  margin-bottom: 0px;
  min-height: 200px;
  height: 9638.75px;
}
