.wrapper {
  width: 320px;
  margin: 0 auto;
}


.title {
  color: $neu-charcoal-grey;
  text-align: center;
  margin: {
    top: px-to-rem(12px);
    bottom: px-to-rem(20px);
  }
}

.wallet-chooser {
  &-container {
    border-top: 1px solid $neu-light-blue-grey-two;
    padding-top: px-to-rem(24px);
    margin-top: px-to-rem(24px);
  }

  &-text {
    @include nds-helper-text-bold;

    color: $neu-charcoal-grey2;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: px-to-rem(12px);
    letter-spacing: 1.2px;
  }

  &-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.img {
  margin-right: px-to-rem(10);
}

.logout-notification {
  margin-bottom: px-to-rem(64px);
}
