.wrapper {
  width: 320px;
  margin: 0 auto;
}


.title {
  @include nds-headline-2;

  color: $neu-charcoal-grey;
  text-align: center;
  margin: {
    top: px-to-rem(12px);
    bottom: px-to-rem(20px);
  }
}

.wallet-chooser-title {
  font-family: $headings-font-family;
  font-size: .825rem;
  font-weight: 800;
  text-transform: uppercase;
}

.wallet-chooser-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.line {
  width: 100%;
  height: 1px;
  background-color: $neu-light-blue-grey-two;
  margin-top: px-to-rem(24);
}

.img {
  margin-right: px-to-rem(10);
}

.notification {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  font-size: px-to-rem(12);
  margin-bottom: px-to-rem(64);
  text-align: left;
  color: $neu-bright-orange;

  &::before {
    display: block;
    content: " ";
    background-image: url("../../assets/img/notifications/warning.svg");
    background-size: px-to-rem(15px);
    background-repeat: no-repeat;
    background-position: center;
    width: px-to-rem(25px);
    height: px-to-rem(15px);
  }
}
