

.register-cta {
  color: $neu-white-two;
  display: flex;
  justify-content: center;
  padding: px-to-rem(40px);
  align-items: center;
  flex-direction: column;
  min-height: px-to-rem(320px);
  width: 100%;
  background: $blue-green url("../../../assets/img/fancy_token_bg.svg") left 25% no-repeat;

  .image {
    max-width: 90%;
  }

  .cta-text {
    color: inherit;
    text-align: center;
    margin-bottom: px-to-rem(38px);
    margin-top: px-to-rem(18px);
    font-weight: $font-weight-light;
  }
}
