@import "../styles/neufund-theme";

.logo-image {
  @include media-breakpoint-up (lg) {
    margin-left: px-to-rem(32px);
  }

  height: px-to-rem(43px);
  width: px-to-rem(36px);
}

.logo-text {
  @include media-breakpoint-down (md) {
    font-size: 16px;
  }

  color: $color-white;
  font-weight: $font-weight-light;
  font-size: 24px;
  position: relative;
  top: 3px;
  left: 8px;
}

.bar {
  height: px-to-rem(60px);
  background-color: $neu-charcoal-grey;
  z-index: 1000;
}

.buttons {
  display: flex;
  justify-content: space-between;

  a {
    margin-left: px-to-rem(20px);
  }
}

.register-button {
  @include media-breakpoint-up (md) {
    display: block;
  }

  display: none;
}
