@import "../styles/neufund-theme";

.layout {
  background: url("../assets/img/logo.svg") no-repeat center 2.688rem;
  padding-top: 13.13rem;
}

.main-container {
  background-color: $white;
  box-shadow: $shadow;
  padding: 1.25rem;
}
