.nav-list {
  list-style: none;
}

.nav-item {
  height: px-to-rem(32px);
  margin-bottom: px-to-rem(12px);
  display: flex;
  align-items: center;
  text-decoration: none;
  border-left: 4px solid transparent;

  &.disabled {
    pointer-events: none;
  }

  &:hover {
    border-left: 4px solid $neu-bitter-lemon;
  }
}

.nav-item-active {
  border-left: 4px solid $neu-bitter-lemon;
}

.nav-item-label {
  @include nds-button-label;

  color: $neu-charcoal-grey;
  margin-left: px-to-rem(16px);
}

.nav-item-helper-text {
  @include nds-helper-text;
  color: $text-gray;
  margin-top: px-to-rem(2px);
}
