@import "../../../styles/neufund-theme";

.background{
  background-color: $neu-white-two;
}

.icon {
  width: px-to-rem(28px);
  height: px-to-rem(28px);
}

.link {
  font-size: px-to-rem(14px);
  font-weight: $font-weight-bold;
}

.large-dark-font {
  font-size: px-to-rem(20px);
  color: $neu-almost-black;
}

.small-font {
  font-size: px-to-rem(12px);
  font-weight: $font-weight-bold;
  padding-top: px-to-rem(1px);
}

.medium-seaweed-font {
  font-size: px-to-rem(20px);
  font-weight: $font-weight-bold;
  color: $neu-seaweed;
}

.small-seaweed-font {
  font-size: px-to-rem(14px);
  color: $neu-seaweed;
  padding-top: px-to-rem(2px);
}

.small-red-font {
  font-size: px-to-rem(14px);
  color: $neu-red;
}

@include media-breakpoint-up (lg) {
  .border {
    border-bottom: solid 1px;
    border-bottom-color: $neu-silver;
  }
}

@include media-breakpoint-down (xs) {
  .border {
    border-bottom: solid 1px;
    border-bottom-color: $neu-silver;
  }
}

@include media-breakpoint-down (md) {
  @include media-breakpoint-up (sm) {
    .border-s {
      border-bottom: solid 1px;
      border-bottom-color: $neu-silver;
    }

    .border-right {
      border-right: solid 1px;
      border-right-color: $neu-silver;
    }
  }
}
