.tag {
  width: auto;
  height: px-to-rem(25px);
  background-color: $gray7;
  border: solid px-to-rem(.5px) $gray8;
  border-radius: px-to-rem(2px);
}

.tag-widget {
  min-height: px-to-rem(77px);
}
