.chart-pie {
  position: relative;
  display: flex;

  > {
    flex-grow: 1;
    flex-shrink: 0;
  }

  .chart-wrapper {
    width: 40%;
    margin-left: 18%;
  }

  .legend-wrapper {
    margin-left: auto;
    padding-left: px-to-rem(10px);
  }
}
