.chart-doughnut {
  position: relative;
  display: flex;
  flex-direction: column;

  &:global(.vertical) {
    flex-direction: row;
  }

  > {
    flex-grow: 1;
    flex-shrink: 0;
  }

  .chart-wrapper {
    width: 36%;
    margin: 0 auto 1rem;
    max-width: px-to-rem(240);
  }

  .legend-wrapper {
    margin-right: auto;
    padding-left: px-to-rem(10px);
  }
}

.tooltip {
  display: flex;
  flex-flow: column;
  padding: .1rem .5rem;
  background-color: $neu-white-two;
  border: 1px solid $neu-charcoal-grey;
  border-radius: .2rem;
}
