.logo {
  @include media-breakpoint-up (sm) {
    height: px-to-rem(32px);
  }
  height: 100%;

  flex-shrink: 0;
  display: flex;
  flex-flow: row;
  align-items: center;
}

.logo-image {
  @include media-breakpoint-up (sm) {
    margin-left: px-to-rem(6px);
    height: px-to-rem(32px);
  }
  height: 100%;
}

.logo-title {
  @include media-breakpoint-up (sm) {
    display: block;
    margin-left: px-to-rem(14px);
    height: px-to-rem(18px);
  }

  display: none;
}

.logo-text {
  @include media-breakpoint-down (md) {
    height: 15px;
    left: .75rem;
  }

  @include media-breakpoint-down(sm) {
    display: none;
  }

  height: 22px;
  position: relative;
  left: 1rem;
}

.bar {
  @include media-breakpoint-up (sm) {
    position: relative;
  }

  grid-area: header;
  height: px-to-rem(60px);
  background-color: $neu-charcoal-grey;
  z-index: $z-index-over-content;
  padding-left: .75rem;
  position: sticky;
  top: 0;
}

.buttons {
  display: flex;
  justify-content: space-between;

  > button {
    margin-left: px-to-rem(20px);
  }

  .resizable-button {
    @include media-breakpoint-down(sm) {
      min-width: auto;
    }
  }
}

.register-button {
  @include media-breakpoint-up (md) {
    display: block;
  }

  display: none;
}

.right {
  display: flex;
  align-items: center;
}
