.panels {
  @include make-row;
  flex: 1;
  padding-bottom: px-to-rem(115px);
}

.panel {
  flex: 1;
  min-height: px-to-rem(248px);
  display: flex;
  justify-content: center;
  align-items: center;

  + .panel {
    $color: rgba($neu-black, .2);
    border-left: 1px solid $color;
  }

  :global {
    .btn {
      @include media-breakpoint-up (md) {
        min-width: px-to-rem(204px);
      }

      max-height: px-to-rem(38px);
      color: $neu-white-two;
    }
  }
}

.tile {
  width: px-to-rem(128px);
}

.cta {
  @include font-button-default;
  text-transform: uppercase;
  height: 100%;
  width: 100%;
  border: 2px solid $neu-piss-yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: px-to-rem(10px);
  text-align: center;
  color: $neu-black;
  transition: 250ms background-color ease-out;
  cursor: pointer;

  &:hover {
    background-color: $neu-piss-yellow;
  }
}
