.header {
  @include font-headline-small;

  margin-bottom: $spacing-vertical-lg-2;
  text-align: center;
}

.progress-bar {
  max-width: px-to-rem(450px);
  margin: 0 auto $spacing-vertical-lg-4;
}

.form {
  padding: $spacing-vertical-lg-4 $spacing-vertical-lg-2 $spacing-vertical-lg-2;
}
