.section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;

  .value {
    overflow-wrap: break-word;
    overflow-y: auto;
    text-align: right;

    .copy-to-clipboard {
      vertical-align: middle;
      height: px-to-rem(20px);
    }
  }
}

.separator {
  margin: 1.5rem 0;
  border-color: $neu-gull-gray;
}
