li {
  &.info-row {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: .75rem .5rem;
    border: 0;

    &::before {
      display: none;
    }

    &:nth-child(2n+1) {
      background-color: $neu-pale-blue;
    }

    &:nth-child(2n) {
      background-color: $neu-white-two;
    }

    img {
      width: 1.5em;
      height: 1.5em;
      vertical-align: top;
      margin-right: .5em;
    }
  }
}

.info-cell {
  flex-grow: 1;

  &:first-child {
    text-transform: uppercase;
  }

  &:last-child {
    text-align: right;
    padding: 0 .5rem;
  }
}
