.tx-status-label {
  border-radius: 4px;
  padding: 4px 6px;
  line-height: 24px;
  text-transform: uppercase;
  white-space: nowrap;

  &--pending {
    color: $neu-charcoal-grey;
    background-color: transparentize($neu-charcoal-grey, .9);
  }

  &--error {
    color: $neu-bright-orange;
    background-color: transparentize($neu-bright-orange, .9);
  }

  &--success {
    color: $neu-bitter-lemon;
    background-color: transparentize($neu-bitter-lemon, .9);
  }

  .icon {
    @include rect(16px);

    margin-left: 8px;
    vertical-align: middle;
  }
}
