.content {
  display: grid;
  grid-template: 1fr / 1fr;
  grid-gap: .8rem;
  grid-auto-flow: row;
  grid-auto-rows: auto;
  height: 100%;

  min-height: px-to-rem(178px);

  .loading {
    margin: px-to-rem(50px) auto 0;
  }

  .loading-no-margin {
    margin: 0 auto;
  }

  button {
    align-self: end;
  }
}

.icon {
  height: px-to-rem(16px);
  width: px-to-rem(16px);
}

.text {
  max-height: px-to-rem(108px);
  margin: 0;
  padding: 0;
}

.group-wrapper {
  display: grid;
  grid-template: auto / 50% 50%;
  grid-gap: .1rem;
}

.eto-date-wrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
}

.eto-date {
  font-size: 1rem;
  font-weight: normal;
  width: auto;
  border: 0;

  & td {
    padding-right: .5rem;
  }
}

.eto-date-bold {
  font-size: 1.1rem;
  font-weight: bold;
}

.eto-time-left-start {
  font-size: 1.5rem;
  font-weight: normal;
}

.label {
  @include font-label;
}

.widget-button {
  display: flex;
  flex-flow: row;
  width: 100%;
  margin: 0;
  align-self: end;
  justify-content: space-between; //more than one button

  // sass-lint:disable force-pseudo-nesting
  & > *:first-child:nth-last-child(1) {//one button. Linter disabled for readability
    margin-left:  auto;
    margin-right: auto;
  }
}

//need to override button padding here, because there's too little space
//TODO sort this out with designers
.button-override {
  // sass-lint:disable no-important
  padding: 0 !important;
}
