.wrapper {
  height: px-to-rem(56px);
  background: $neu-pale-grey-two;
  align-items: center;
  padding: 0 px-to-rem(8px);
  border-bottom: 1px solid $neu-light-blue-grey-two;
  display: flex;
  justify-content: space-between;
}

.input {
  border-width: 1px;
  width: px-to-rem(320px);
  padding-left: px-to-rem(40px);
  padding-right: px-to-rem(40px);
}

.nav-buttons {
  display: grid;
  grid-gap: 4px;
  grid-auto-flow: column;
}

.nav-button {
  width: 32px;
  height: 32px;
  border: 1px solid $neu-light-blue-grey-two;
  background: $neu-white-two;
  border-radius: 4px;
  color: $neu-gull-gray;

  &:disabled {
    background: $neu-pale-grey-three;
  }
}

.input-wrapper {
  position: relative;
}

.search-icon {
  width: px-to-rem(24px);
  height: px-to-rem(24px);
  position: absolute;
  top: px-to-rem(8px);
  left: px-to-rem(10px);
  z-index: 1;
  color: transparent;
}

.search-clear-icon {
  width: px-to-rem(15px);
  height: px-to-rem(15px);
  position: absolute;
  top: px-to-rem(12px);
  right: px-to-rem(12px);
  z-index: 1;
  color: $neu-light-blue-grey-two;
  cursor: pointer;
}
