.wrapper {
  max-width: 960px;
  margin: px-to-rem(65px) auto;
  padding: 0 px-to-rem(24px);
  grid-area: content;
  width: 100%;
}

@mixin button-text {
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  color: $neu-black;
}

@mixin button {
  padding: 0;
  border: 0;
  background-color: transparent;
}

.explanation {
  width: 100%;
  margin: px-to-rem(20px) 0 px-to-rem(24px);
  font-family: $font-family-roboto;
  font-size: px-to-rem(16px);
}

.title {
  font-family: $font-family-montserrat;
  font-size: px-to-rem(32px);
  font-weight: 600;
}
