.bullet-point-with-description {
  @include media-breakpoint-down(lg) {
    flex-direction: column;
  }

  display: flex;
  align-items: center;
}

.bullet {
  display: flex;
  justify-content: center;
  justify-items: center;
  font-weight: $font-weight-bold;
  font-size: px-to-rem(24px);
  border-radius: 50%;
  width: px-to-rem(40px);
  height: px-to-rem(40px);
  line-height: px-to-rem(40px);
  background-color: $neu-white-two;
  color: $blue-green;
  flex-shrink: 0;
}

.divider {
  @include media-breakpoint-down(lg) {
    transform: rotate(90deg);
    margin-left: px-to-rem(14px);
    margin-right: px-to-rem(14px);
  }

  flex-shrink: 0;
  background-color: $neu-piss-yellow;
  width: px-to-rem(3px);
  height: px-to-rem(68px);
  margin-left: px-to-rem(24px);
  margin-right: px-to-rem(24px);
}

.header,
.description {
  @include media-breakpoint-down(lg) {
    text-align: center;
  }

  margin: 0;
  color: $neu-white-two;
}

.header {
  font-size: px-to-rem(22px);
  line-height: px-to-rem(26px);
}

.description {
  font-size: px-to-rem(16px);
  line-height: px-to-rem(26px);
  letter-spacing: px-to-rem(-.4px);
}
