.neon-header-wrapper {
  position: relative;
}

.neon-header {
  color: $neu-charcoal-grey;
  padding: px-to-rem(12px) px-to-rem(32px);
  position: relative;
}

.neon {
  background-color: $neu-neon-yellow;
  position: absolute;
}

.neon-header-wrapper--normal {
  .neon-header {
    @include headline-large;

    padding: px-to-rem(10px) px-to-rem(25px);
  }

  .neon {
    width: 240px;
    height: 26px;
  }
}

.neon-header-wrapper--big {
  .neon-header {
    @include headline-huge;

    padding: px-to-rem(12px) px-to-rem(32px);
    text-transform: uppercase;
  }

  .neon {
    width: 330px;
    height: 33px;
  }
}
