

$badge-size: px-to-rem(40px);
$vertical-space: px-to-rem(30px);

.off-to-on-chain-company {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.steps {
  padding: px-to-rem(18px) 0;
  background: url("../../../assets/img/logo_white.svg") center center no-repeat;
  background-size: contain;
  margin-bottom: px-to-rem(10px);
  margin-top: px-to-rem(10px);

  :global(.inline-icon) {
    width: px-to-rem(18px);
    margin-top: px-to-rem(-24px);
    margin-left: auto;
    margin-right: auto;
  }
}

.step {
  display: flex;
  align-items: center;
  margin: $vertical-space 0;
}

.header {
  color: $neu-slate-grey;
  font-size: px-to-rem(22px);
  font-weight: $font-weight-light;
  text-transform: uppercase;
  letter-spacing: px-to-rem(-.8px);

  strong {
    font-weight: $font-weight-bold;
  }
}

.step-name,
.step-description,
.step-count {
  display: flex;
  align-items: center;
  color: $neu-slate-grey;
}

.step-name,
.step-description {
  flex-basis: calc(50% - #{$badge-size} / 2);
  margin: 0;
  white-space: pre-line;
}

.step-name {
  font-weight: $font-weight-bold;
  justify-content: flex-end;
  text-align: right;
  text-transform: uppercase;
}

.step-description {
  justify-content: flex-start;
  text-align: left;
  font-weight: $font-weight-light;
  font-size: px-to-rem(18px);
}

.step-count {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  margin: 0 px-to-rem(30px);
  font-size: px-to-rem(25px);
  font-weight: $font-weight-bold;
  position: relative;
  height: 100%;

  .counter {
    border-radius: 50%;
    height: $badge-size;
    width: $badge-size;
    box-shadow: $shadow;
    background-color: $neu-white-two;
    z-index: $z-index-over-base;
  }

  &::before,
  &::after {
    content: "";
    width: 5px;
    height: $badge-size;
    background-color: currentColor;
    z-index: $z-index-base;
    position: absolute;

  }

  &::before {
    top: -$vertical-space;
  }

  &::after {
    bottom: -$vertical-space;
  }
}
