.investment-widget {
  @include media-breakpoint-only(md) {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
  }

  @include nds-helper-text;

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.invest-now-button {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.end-time {
  @include nds-helper-text;

  color: $neu-shuttle-gray;
  margin-top: px-to-rem(10px);
}

