.investment-widget {
  @include media-breakpoint-only(md) {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    flex-grow: 1;
  }

  @include font-label;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.invest-now-button {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
