version: 2.1

orbs:
  slack: circleci/slack@3.4.2

executors:
  docker:
    docker:
      - image: circleci/node:12.16.2
    working_directory: /home/circleci/app

  docker-browsers:
    docker:
      - image: circleci/node:12.16.2-browsers
    working_directory: /home/circleci/app

commands:
  notify-slack:
    description: "Notifies slack about the job failure on master or production branches"
    steps:
      - slack/status:
          fail_only: true
          only_for_branches: master,production
          failure_message: ':red_circle: $CIRCLE_JOB failed for $CIRCLE_BRANCH!'

  checkout-and-install:
    description: "Install and caches all dependencies"
    steps:
      - checkout

      - restore_cache:
          name: Restore Yarn Package Cache
          keys:
            - yarn-packages-v1-{{ checksum "yarn.lock" }}

      - run:
          name: Install Dependencies
          command: yarn install --frozen-lockfile

      - save_cache:
          name: Save Yarn Package Cache
          key: yarn-packages-v1-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn
            - ~/.cache/Cypress


jobs:
  ## Web package related jobs

  web_check-artifacts:
    executor: docker

    steps:
      - checkout-and-install

      - run: yarn workspace @neufund/web contract-artifacts:check

  # install and lint is taken as one job to remove required time for downloading cache
  web_install-lint-test:
    executor: docker

    steps:
      - checkout-and-install

      # Danger
      - run: yarn workspace @neufund/web danger ci --failOnErrors

      # Linting
      - run: yarn workspace @neufund/design-system lint
      - run: yarn workspace @neufund/sagas lint
      - run: yarn workspace @neufund/shared-modules lint
      - run: yarn workspace @neufund/shared-utils lint
      - run: yarn workspace @neufund/web lint

      # Unit Tests
      - run: yarn workspace @neufund/shared-utils test
      - run: yarn workspace @neufund/web test

      - persist_to_workspace:
          root: /home/circleci/app/packages/web
          paths:
            - ./e2e/e2e-test-tags

      - notify-slack

  web_build:
    executor: docker

    steps:
      - checkout-and-install

      - run:
          command: yarn workspace @neufund/web build:prod:e2e
          # If build takes more than 30mins then fail
          no_output_timeout: 30m

      - persist_to_workspace:
          root: /home/circleci/app
          paths:
            - ./

      - notify-slack

  web_build-docker-test-e2e:
    executor: docker-browsers

    parallelism: 4

    steps:
      - checkout-and-install

      - attach_workspace:
          at: /home/circleci/app/packages/web

      - run: yarn --frozen-lockfile
      - run: yarn workspace @neufund/web show:tags
      - run:
          command: yarn workspace @neufund/web build:prod:e2e:io
          no_output_timeout: 10m
      - run:
          command: yarn workspace @neufund/web test:e2e:chrome

      - notify-slack

  web_test-e2e:
    machine:
      enabled: true
      image: ubuntu-1604:201903-01
      docker_layer_caching: true

    environment:
      COMPOSE_INTERACTIVE_NO_CLI: 1

    parallelism: 3

    working_directory: /home/circleci/app

    steps:
      - attach_workspace:
          at: /home/circleci/app

      - run: ./.circleci/install-yarn.sh

      - restore_cache:
          name: Restore Yarn Package Cache
          keys:
            - yarn-packages-v1-{{ checksum "yarn.lock" }}

      - run:
          command: source /opt/circleci/.nvm/nvm.sh && yarn workspace @neufund/web test:e2e
          no_output_timeout: 30m

      - notify-slack

  web_codechecks:
    executor: docker

    steps:
      - checkout-and-install

      - run: yarn workspace @neufund/web build:commit-deployment
      - run: yarn workspace @neufund/web codechecks

      - notify-slack

  web_codechecks-vis-reg:
    executor: docker-browsers

    steps:
      - checkout-and-install

      - run: yarn workspace @neufund/web storybook:screenshots
      - run: yarn workspace @neufund/web codechecks ./codechecks-vis-reg.ts

      - notify-slack

  web_codechecks-e2e-vis-reg:
    executor: docker-browsers

    steps:
      - checkout-and-install

      - run:
          command: yarn workspace @neufund/web build:prod:e2e:io
          no_output_timeout: 10m

      - run:
          command: yarn workspace @neufund/web test:e2e:vis-reg

      - run: yarn workspace @neufund/web codechecks ./codechecks-e2e-vis-reg.ts

      - notify-slack

  deploy-storybook:
    executor: docker

    steps:
      - checkout-and-install

      - run: yarn storybook-to-ghpages --script=storybook:build --ci --host-token-env-variable=DANGER_GITHUB_API_TOKEN --packages packages

      - notify-slack

  ## Mobile package related jobs

  mobile_install-lint-test:
    # install and lint is taken as one job to remove required time for downloading cache
    executor: docker

    steps:
      # Download and cache dependencies
      - checkout-and-install

      # Linting
      - run: yarn workspace @neufund/wallet lint
      # Unit Tests
      - run: yarn workspace @neufund/wallet test

      - notify-slack

workflows:
  version: 2

  web:
    jobs:
      - web_install-lint-test

      - web_check-artifacts:
          requires:
            - web_install-lint-test
      - web_build-docker-test-e2e:
          requires:
            - web_install-lint-test
      - web_build:
          requires:
            - web_install-lint-test
      - web_test-e2e:
          requires:
            - web_build
      - web_codechecks:
          requires:
            - web_install-lint-test
      - web_codechecks-vis-reg:
          requires:
            - web_install-lint-test
      - web_codechecks-e2e-vis-reg:
          requires:
            - web_install-lint-test

  mobile:
    jobs:
      - mobile_install-lint-test

  nightly-web:
    triggers:
      - schedule:
          cron: "0 5 * * *"
          filters:
            branches:
              only:
                - master
                - production

    jobs:
      - web_install-lint-test

      - web_build-docker-test-e2e:
          requires:
            - web_install-lint-test
      - web_build:
          requires:
            - web_install-lint-test
      - web_test-e2e:
          requires:
            - web_build
      - web_codechecks:
          requires:
            - web_build
      - web_codechecks-vis-reg:
          requires:
            - web_build
      - web_codechecks-e2e-vis-reg:
          requires:
            - web_build

  nightly-mobile:
    triggers:
      - schedule:
          cron: "0 5 * * *"
          filters:
            branches:
              only:
                - master
                - production

    jobs:
      - mobile_install-lint-test


  deploy-storybook:
    jobs:
      - deploy-storybook:
          filters:
            branches:
              only: master
