version: 2.1
jobs:
  install:
    docker:
      - image: krzkaczor/neufund-platform-base
    working_directory: /home/circleci/app

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v13-deps-{{ checksum "package.json" }}
          - v13-deps-
      - run: mkdir -p /home/circleci/.cache/Cypress && cp -R /home/circleci/.cache/Cypress ~/.cache/Cypress

      - run: yarn --frozen-lockfile

      - run: cp -R ~/.cache/Cypress/ /home/circleci/.cache/
      - save_cache:
          paths:
            - node_modules
            - /home/circleci/.cache/Cypress
          key: v13-deps-{{ checksum "package.json" }}

  lint:
    docker:
      - image: krzkaczor/neufund-platform-base
    working_directory: /home/circleci/app

    steps:
      - checkout
      - restore_cache:
          keys:
          - v13-deps-{{ checksum "package.json" }}
          - v13-deps-
      - run: yarn prepare

      - run: yarn lint

  test:
    docker:
      - image: krzkaczor/neufund-platform-base
    working_directory: /home/circleci/app

    steps:
      - checkout
      - restore_cache:
          keys:
          - v13-deps-{{ checksum "package.json" }}
          - v13-deps-
      - run: yarn prepare

      - run: yarn test:browser-coverage && yarn test:node

  test-e2e:
    machine:
      enabled: true
      image: circleci/classic:edge
      docker_layer_caching: true

    parallelism: 5

    working_directory: /home/circleci/app

    steps:
      - checkout
      - run: ./.circleci/install-yarn.sh
      - restore_cache:
          keys:
          - v13-deps-{{ checksum "package.json" }}
          - v13-deps-
      - run: source /opt/circleci/.nvm/nvm.sh && yarn prepare

      - run: source /opt/circleci/.nvm/nvm.sh && yarn test:e2e

  danger-ci:
    docker:
      - image: krzkaczor/neufund-platform-base
    working_directory: /home/circleci/app

    steps:
      - checkout
      - restore_cache:
          keys:
          - v13-deps-{{ checksum "package.json" }}
          - v13-deps-
      - run: yarn prepare

      - run: yarn storybook:screenshots
      # Re-enable storybook:screenshots
      - run: (export BASE_KEY=$(git rev-parse origin/master) && export CURRENT_KEY=${CIRCLE_SHA1} && ./.circleci/vis-reg-run.sh)
      - run: yarn danger ci

workflows:
  version: 2

  mainflow:
    jobs:
      - install
      - lint:
          requires:
            - install
      - test:
          requires:
            - install
      - test-e2e:
          requires:
            - install
      - danger-ci:
          requires:
            - install

  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master
                - production
    jobs:
     - install
     - lint:
         requires:
           - install
     - test:
         requires:
           - install
     - test-e2e:
         requires:
           - install
     - danger-ci:
         requires:
           - install


