.info-row {
  &:global(.list-group-item) {

    display: flex;
    flex-direction: row;
    margin: 0;
    padding: .75rem .5rem;
    padding-left: 1rem;
    border: 0;

    &::before {
      display: none;
    }

    &:nth-child(2n+1) {
      background-color: $neu-pale-blue;
    }

    &:nth-child(2n) {
      background-color: $neu-white-two;
    }

    img {
      width: 1.5em;
      height: 1.5em;
      vertical-align: top;
      margin-right: .5em;
    }
  }
}

.info-cell {
  flex-grow: 1;

  &:first-child {
    text-align: left;
    text-transform: uppercase;
  }

  &:last-child {
    overflow-wrap: break-word;
    overflow-y: auto;
    padding: 0 .5rem;
    text-align: right;
  }
}

.copy-to-clipboard {
  height: px-to-rem(14px);
}
