.beta-label {
  @include nds-label;

  color: $neu-white;
  letter-spacing: 0;
  text-transform: uppercase;
  line-height: 1;

  display: flex;
  align-items: center;
  height: 1rem;
  padding: 0 1rem;
  border-radius: 8px;
  background-color: $neu-dark-blue;
  justify-self: flex-start;
}

.description {
  @include nds-body;

  margin-bottom: px-to-rem(8);
}

.error {
  justify-self: flex-start;
  margin-bottom: px-to-rem(8);
}

.button {
  justify-self: flex-start;
}

.button-icon {
  max-width: px-to-rem(20);
  margin-right: .5rem;
}

.divider {
  background-color: $neu-light-blue-grey-two;
  height: 1px;
  width: 100%;

  margin-top: 1rem;
}

.beta-testing-message {
  @include nds-body-small;

  color: $neu-shuttle-gray;
}
