$vertical-margin: px-to-rem(12);
$row-height: minmax(px-to-rem(64), auto);

@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}

@mixin transaction-list-cell {
  border-bottom: 1px solid $neu-silver;
  padding: $vertical-margin 0;
}

@mixin row-highlighted {
  background-color: $neu-pale-grey-three;
}

.transaction-list {
  display: grid;
  grid-template: $row-height / auto;
  grid-auto-rows: $row-height;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}

.transaction-list-item {
  display: grid;
  grid-template: $row-height / auto 1fr auto;
  margin: 0;
  padding: 0;

  &:last-of-type * {
    border-bottom: 0;
  }

  &:hover,
  &:active,
  &:focus {
    @include row-highlighted;

    cursor: pointer;
  }
}

.pending-transaction-item {
  @include row-highlighted;

  &:hover,
  &:active {
    @include row-highlighted;

    cursor: default;
  }
}

.pending-transaction-label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: px-to-rem(16);

  background-color: $neu-dark-blue;
  border-radius: 8px;
  padding: 0 10px;
  margin: auto 0 auto .5rem;

  font-size: px-to-rem(10);
  text-transform: uppercase;
  color: $neu-white;
}

.transaction-logo-wrapper {
  @include media-breakpoint-up(sm) {
    margin: $vertical-margin px-to-rem(20);
  }

  display: flex;
  justify-content: center;
  align-items: center;
  width: px-to-rem(32);
  height: px-to-rem(32);
  margin: $vertical-margin 1rem;
  align-self: center;
  border-radius: 1rem;
  background-color: $neu-very-light-blue;
}

.transaction-logo {
  height: px-to-rem(18);
  width: px-to-rem(18);
  margin: 0;
  color: $neu-charcoal-grey;
}

.transaction-data {
  @include transaction-list-cell;

  padding-right: 1rem;

  height: 100%;
  align-self: flex-start;
  display: flex;
  flex-flow: column;
  align-items: flex-start;

}

.transaction-data-title {
  @include nds-body-small;

  line-height: 1.43;
  color: $neu-charcoal-grey;


  display: -webkit-box;// sass-lint:disable-line no-vendor-prefixes// sass-lint:disable-line no-vendor-prefixes
  -webkit-line-clamp: 3;// sass-lint:disable-line no-vendor-prefixes
  -webkit-box-orient: vertical;// sass-lint:disable-line no-vendor-prefixes
  overflow: hidden;
  text-overflow: ellipsis;
}

.transaction-data-date {
  @include nds-helper-text;

  display: flex;
  flex-flow: row;
}

.signing-transaction {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.transaction-amount {
  @include transaction-list-cell;
  @include nds-body-small;
  @include media-breakpoint-up(sm) {
    padding-right: px-to-rem(20);
  }

  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-end;
  align-self: flex-end;

  padding-right: 1rem;

  font-weight: 500;
  color: $neu-charcoal-grey;
  line-height: 1.4;
}

.euro-equivalent {
  font-size: px-to-rem(12);
  font-weight: 400;
  color: $neu-gull-gray;
}

.pending-transaction-logo {
  height: px-to-rem(20);
  width: px-to-rem(20);
  animation: rotation 2s linear 0s infinite;
}

.no-transactions {
  display: flex;
  justify-content: center;
  padding: 4rem 1rem;
}

.transaction-list-loading {
  margin: 2rem auto;
}
