.wrapper {
  height: px-to-rem(56px);
  background: $neu-pale-grey-two;
  align-items: center;
  padding: 0 px-to-rem(8px);
  border-bottom: 1px solid $neu-light-blue-grey-two;
  display: flex;
}

.prefix {
  position: absolute;
  left: px-to-rem(16px);
  top: px-to-rem(9px);
  color: $text-gray;
}

.input {
  border-width: 1px;
  width: px-to-rem(320px);
  padding-left: px-to-rem(63px);
  padding-right: px-to-rem(20px);
  background-color: transparent;

  &:focus,
  &[aria-invalid="true"] {
    padding-left: px-to-rem(62px);
  }
}

.nav-buttons {
  display: grid;
  grid-gap: 4px;
  grid-auto-flow: column;
  margin-left: auto;
}

.nav-button {
  width: 32px;
  height: 32px;
  border: 1px solid $neu-light-blue-grey-two;
  background: $neu-white;
  border-radius: 4px;
  color: $neu-gull-gray;

  &:disabled {
    background: $neu-pale-grey-three;
  }
}

.input-wrapper {
  position: relative;
  margin-right: px-to-rem(8px);
}

.search-clear-icon {
  width: px-to-rem(15px);
  height: px-to-rem(15px);
  position: absolute;
  top: px-to-rem(12px);
  right: px-to-rem(12px);
  z-index: 1;
  color: $neu-light-blue-grey-two;
  cursor: pointer;
}

.search-button {
  width: px-to-rem(40px);
  margin-right: px-to-rem(12px);
}

.search-icon {
  width: px-to-rem(24px);
  height: px-to-rem(24px);
  color: transparent;
}

.clear-search {
  @include nds-helper-text;
  line-height: px-to-rem(10px);
  color: $neu-shuttle-gray;
  border-bottom: 1px solid $neu-gull-gray;
  cursor: pointer;
}
