// sass-lint:disable no-important
.invalid {
  :global(.Select-control) {
    border-color: $neu-bright-orange !important;
  }
}

.valid {
  :global(.Select-control) {
    border-color: $neu-seaweed !important;
  }
}

.placeholder-height {
  min-height: px-to-rem(38px) !important;
}

.row {
  display: flex;
  flex-flow: row;
  max-width: 100%;
}

.center {
  justify-content: center;
}
