.list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: px-to-rem(32px);
}

.card {
  $card-shadow: rgba($neu-charcoal-grey, .3);

  display: inline-flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
  width: px-to-rem(252px);
  height: px-to-rem(252px);
  border-radius: 4px;
  box-shadow: 0 1px 10px 0 $card-shadow;
  text-decoration: none;
  color: $neu-charcoal-grey;

  &.disabled {
    pointer-events: none;
  }

  &:hover {
    &:not(.disabled) {
      background-color: $neu-pale-grey-three;
      box-shadow: 0 4px 15px 0 $card-shadow;
    }
  }
}

.title {
  @include nds-headline-4;
  margin-top: px-to-rem(24px);
}

.coming-soon {
  @include nds-body-small;
  color: $text-gray;
  margin-top: px-to-rem(8px);
}
