@import "../../styles/neufund-theme";

.wallet-chooser {
  font-size: $smaller-font-size;
  letter-spacing: -.2px;
}

.wallet {
  cursor: pointer;
  text-transform: uppercase;
  color: $body-color;

  &:hover {
    text-decoration: none;
  }

  &::before {
    content: "|";
    margin: 0 $spacer;
    color: $body-color;
    text-shadow: none;
  }

  &:first-of-type {
    &::before {
      display: none;
    }
  }

  &:global(.active) {
    text-shadow: -.8px 0 0 $blue;
    color: $blue;
  }

  @include media-breakpoint-down(sm) {
    text-align: center;

    &::before {
      display: none;
    }
  }
}
