@import "../../styles/neufund-theme";

.table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
  border-spacing: 0 map-get($spacers, 3);

  thead {
    text-transform: uppercase;
    color: $blue-gray;
    font-size: rem-to-px(14px);
    font-weight: $font-weight-bold;

    th {
      border-bottom: rem-to-px(1px) solid $pale-grey-50;
      padding: map-get($spacers, 2) 0;
    }
  }

  td {
    padding: 0 map-get($spacers, 2);
  }

  .public-key {
    font-size: rem-to-px(13px);
    font-weight: $font-weight-bold;
  }

  $logo-size: 32px;

  .currency-col {
    border-left: rem-to-px(1px) solid $pale-grey-50;
    padding-left: calc(#{map-get($spacers, 2)} + #{rem-to-px($logo-size)} + #{map-get($spacers, 2)});
    background-size: #{rem-to-px($logo-size)} #{rem-to-px($logo-size)};
    background: no-repeat map-get($spacers, 2) center;

    span {
      font-weight: $font-weight-bold;
    }
  }

  .eth-col {
    background-image: url("../../assets/img/eth_icon.svg");
  }

  .neu-col {
    background-image: url("../../assets/img/neu_icon.svg");
  }

  @include media-breakpoint-down(md) {
    thead {
      display: none !important; // sass-lint:disable-line no-important
    }

    table,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }

    tr {
      margin-bottom: map-get($spacers, 3);
    }

    .currency-col {
      border-left: 0;
      min-height: calc(#{$logo-size} + #{map-get($spacers, 2)});
      line-height: calc(#{$logo-size} + #{map-get($spacers, 2)});
    }

    td {
      &::before {
        display: block;
        font-size: .688rem;
        margin-bottom: .25rem;
      }

      &:nth-of-type(1) {
        &::before {
          content: "Public key";
        }
      }
    }

    .select {
      text-align: center;
    }
  }
}
