@import "../../styles/neufund-theme";

.wallet-chooser {
  font-size: $smaller-font-size;
  letter-spacing: -.2px;
}

.wallet {
  cursor: pointer;
  text-transform: uppercase;

  &:global(.active) {
    color: $blue;
    font-weight: 600;
  }

  @include media-breakpoint-down(sm) {
    text-align: center;
  }
}

.separator {
  &::before {
    content: "|";
  }

  @include media-breakpoint-down(sm) {
    display: none;
  }
}
