@import "../../styles/neufund-theme";

.wallet-chooser {
  font-size: $smaller-font-size;
  letter-spacing: -.2px;
}

.wallet {
  cursor: pointer;
  text-transform: uppercase;

  &::before {
    content: "|";
    margin: 0 $spacer;
  }

  &:first-of-type {
    &::before {
      display: none;
    }
  }

  &:global(.active) {
    color: $blue;
    font-weight: 600;
  }

  @include media-breakpoint-down(sm) {
    text-align: center;

    &::before {
      display: none;
    }
  }
}
