.eto-overview-status {
  background-color: $color-white;
  box-shadow: $shadow-bottom-black;
  color: $color-graphite-light;
  padding: px-to-rem(8px);
  position: relative;
}

// wrappers

.status-wrapper,
.stage-content-wrapper,
.tags-wrapper {
  margin-bottom: 0;
  margin-top: 0;
  flex-basis: 25%;
  flex-grow: 1;
}

.status-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  max-width: 250px;
}

.tags-wrapper {
  @include media-breakpoint-down(sm) {
    padding: 0;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  padding: 20px 4px;
  max-width: 150px;

  span {
    width: 100%;
  }
}

.overview-wrapper {
  @include media-breakpoint-down(md) {
    flex-wrap: wrap;
    padding-top: px-to-rem(12px);
    padding-bottom: px-to-rem(30px);
  }

  display: flex;
  flex-direction: row;
}

.stage-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.divider {
  @include responsive-size(margin-left, 14px, 30px);
  @include responsive-size(margin-right, 14px, 30px);

  background-color: $color-silver;
  margin-bottom: 10px;
  margin-top: 10px;
  min-width: 1px;
  min-height: 1px;
}

.group-wrapper {
  display: table;
  margin-top: px-to-rem(12px);
  margin-bottom: px-to-rem(12px);

  &.campaign-wrapper {
    @include media-breakpoint-only(md) {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-grow: 1;
      flex-direction: row-reverse;
    }
  }

  .rows-group {
    display: table-row-group;
  }

  .group {
    display: table-row;

    .label,
    .value {
      display: table-cell;
      vertical-align: middle;
    }

    .label {
      @include media-breakpoint-down(md) {
        font-size: px-to-rem(12px);
      }

      @include font-label;
      font-size: px-to-rem(8.8px);
      padding-top: px-to-rem(10px);
      padding-bottom: px-to-rem(10px);
      padding-right: px-to-rem(13.6px);

      &-no-uppercase {
        text-transform: none;
      }
    }

    .value {
      @include font-label;

      text-transform: none;
    }
  }
}

// widgets

@mixin pledge-actions-button($color) {
  color: $color;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  border: 0;
  background-color: transparent;
}

.change-pledge {
  @include pledge-actions-button($color-green-dark);
}

.delete-pledge {
  @include pledge-actions-button($color-orange);
}

.ends-in {
  color: $color-orange;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
}

.quote {
  font-size: 16px;
  line-height: 1.06;
  letter-spacing: -.2px;
  font-style: italic;
}

.status-of-eto {
  position: absolute;
  font-size: 12px;
  letter-spacing: -.2px;
  display: flex;
  color: $color-graphite;
  text-transform: uppercase;

  .title {
    margin-right: 10px;
  }
}

.powered-by-neufund {
  position: absolute;
  bottom: px-to-rem(8px);

  .powered {
    font-size: 8px;
  }

  .neufund {
    font-size: 16px;
    margin-top: -2px;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      color: $color-brand;
    }
  }
}

.token-details {
  display: flex;
  margin: px-to-rem(20px) 0;
}

@each $breakpoint, $val in $grid-breakpoints {
  .break-#{$breakpoint} {
    @include media-breakpoint-down($breakpoint) {
      flex-basis: 100%;
    }
  }
}
