.eto-overview-status {
  background-color: $color-white;
  box-shadow: $shadow-bottom-black;
  color: $color-graphite-light;
  padding: px-to-rem(8px);
}

// wrappers

.status-wrapper,
.stage-content-wrapper,
.tags-wrapper {
  @include media-breakpoint-up(md) {
    margin-bottom: 0;
    margin-top: 0;
  }

  flex-basis: 25%;
  flex-grow: 1;
  margin-bottom: px-to-rem(20px);
  margin-top: px-to-rem(20px);
}

.status-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  max-width: 250px;
}

.tags-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  padding: 20px 0;
  max-width: 150px;

  span {
    width: 100%;
  }
}

.overview-wrapper {
  @include media-breakpoint-up(md) {
    flex-direction: row;
  }

  display: flex;
  flex-direction: column;
}

.stage-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.divider {
  @include responsive-size(margin-left, 14px, 30px);
  @include responsive-size(margin-right, 14px, 30px);

  background-color: $color-silver;
  flex: 0 0 1px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.group-wrapper {
  display: table;
  margin-top: px-to-rem(12px);
  margin-bottom: px-to-rem(12px);

  .group {
    display: table-row;

    .label {
      @include font-label;
      font-size: px-to-rem(8.8px);
      display: block;
      padding-top: px-to-rem(8px);
      padding-bottom: px-to-rem(13.6px);
      padding-right: px-to-rem(13.6px);

      &-no-uppercase {
        text-transform: none;
      }
    }

    .value {
      @include font-label;

      display: table-cell;
      text-transform: none;
    }
  }
}

// widgets

@mixin pledge-actions-button ($color) {
  color: $color;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  border: 0;
  background-color: transparent;
}

.change-pledge {
  @include pledge-actions-button($color-green-dark);
}

.delete-pledge {
  @include pledge-actions-button($color-orange);
}

.ends-in {
  color: $color-orange;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
}

.quote {
  font-size: 16px;
  line-height: 1.06;
  letter-spacing: -.2px;
  font-style: italic;
}

.register-now {
  justify-content: center;
  text-align: center;
}

.status-of-eto {
  font-size: 12px;
  letter-spacing: -.2px;
  display: flex;
  color: $color-graphite;
  text-transform: uppercase;

  .title {
    margin-right: 10px;
  }
}

.powered-by-neufund {
  .powered {
    font-size: 8px;
  }

  .neufund {
    font-size: 16px;
    margin-top: -2px;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      color: $color-brand;
    }
  }
}

.token-details {
  display: flex;
  margin: px-to-rem(20px) 0;
}
