$left-background: url("../../../../assets/img/etos-comings-soon/left-placeholder.png") no-repeat;
$right-background: url("../../../../assets/img/etos-comings-soon/right-placeholder.png") no-repeat;
$background-color: $neu-white-two;

.etos-coming-soon {
  @include media-breakpoint-down(md) {
    background: $right-background calc(100% + 100px), $background-color;

    padding: {
      left: 15%;
      right: 15%;
    }
  }

  @include media-breakpoint-down(sm) {
    background: $right-background calc(100% + 180px), $background-color;

    padding: {
      left: 8%;
      right: 8%;
    }
  }

  font-weight: 200;
  align-items: center;
  background: $left-background left, $right-background right, $background-color;
  color: $neu-greyish-brown;
  display: flex;
  height: 158px;
  justify-content: center;
  text-align: center;
  padding: {
    left: 20%;
    right: 20%;
  }
}
