.invest-widget {
  @include media-breakpoint-only(md) {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    flex-grow: 1;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}

.header,
.investors-backed {
  display: flex;
  justify-content: space-between;
}

.investors-backed {
  flex-basis: 40%;
}

.invest-now-button {
  display: flex;
  justify-content: center;
}

.invest-info {
  display: flex;
  flex-direction: column;
}
