.jurisdiction-banner {


  @include get-out-of-container-layout;
  @include media-breakpoint-up(lg) {
    margin-top: -2rem;
    margin-bottom: -2rem;
  }

  margin-top: -1rem;
  margin-bottom: -1rem;
  height: auto;

  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  align-items: center;
  padding: 1rem;
  background-color: $neu-white-two;

  text-transform: uppercase;

  .icon {
    height: px-to-rem(16px);
    width: px-to-rem(16px);
    margin-right: px-to-rem(10px);
  }
}
