$_logo-size-xl: 130px;
$_logo-size-sm: 80px;

.cover {
  @include get-out-of-container-layout;

  margin-bottom: $spacing-vertical-lg-1;

  img {
    user-select: none;
  }
}

.company-details {
  @include responsive-size(margin-top, $_logo-size-sm *  -1.15, $_logo-size-xl * -1.15);

  @include media-breakpoint-up(md) {
    flex-direction: row;
    padding-left: $authorized-layout-horizontal-padding-lg;
    padding-right: $authorized-layout-horizontal-padding-lg;
  }

  flex-direction: column;
  display: flex;
  padding-left: $authorized-layout-horizontal-padding-sm;
  padding-right: $authorized-layout-horizontal-padding-sm;
}

.identity {
  @include responsive-size(margin-top, $_logo-size-sm * .3, $_logo-size-xl * .3);

  display: flex;
}

.logo {
  @include circle($_logo-size-xl);
  @include responsive-size(height, $_logo-size-sm, $_logo-size-xl);
  @include responsive-size(width, $_logo-size-sm, $_logo-size-xl);

  flex-shrink: 0;
  overflow: hidden;
}

.details {
  @include responsive-size(margin-left, $authorized-layout-horizontal-padding-sm, $authorized-layout-horizontal-padding-lg);

  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  margin-right: 10px;
  z-index: $z-index-base;
}

.name,
.short-description {
  @include font-headline;

  color: $color-white;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
}

.website-link {
  @include responsive-size(margin-bottom, $_logo-size-sm * .1, $_logo-size-xl * .1);

  margin-top: auto;
}

.tags {
  @include media-breakpoint-up(lg) {
    order: 1;
    margin-bottom: 0;
    display: flex;
  }

  align-items: center;
  display: none;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-left: auto;
  z-index: $z-index-base;
}
