.content {
  display: grid;
  grid-template: 1fr / 1fr;
  grid-gap: .8rem;
  grid-auto-flow: row;
  grid-auto-rows: auto;
  height: 100%;

  min-height: px-to-rem(178px);
}

.text {
  @include nds-label;

  margin-bottom: 0;
}
