@import "../../../styles/neufund-theme";


.notification {
  @include font-default;

  @include media-breakpoint-up (md) {
    flex-direction: row;
  }

  border: 1px solid currentColor;
  color: $neu-slate-grey;
  display: flex;
  flex-direction: column;
  padding: px-to-rem(10px) px-to-rem(12px);
  position: relative;

  &:global {
    &.info {
      $_color-bg: rgba($blue-light, .15);

      background-color: $_color-bg;
      border-color: $blue-light;
    }

    &.warning {
      $_color-bg: rgba($neu-bright-orange, .26);

      background-color: $_color-bg;
      border-color: $neu-bright-orange;
    }
  }

  + #{&} {
    margin-top: px-to-rem(20px);
  }


  .text {
    flex-grow: 1;
    padding-right: px-to-rem(20px);
  }


  .icon-notification-type {
    @include media-breakpoint-up (md) {
      display: block;
    }

    flex-shrink: 0;
    width: px-to-rem(24px);
    height: px-to-rem(24px);
    border-radius: 50%;
    margin-right: px-to-rem(12px);
    display: none;
  }


  .link,
  .close {
    &:hover {
      opacity: .6;
    }
  }


  .link {
    flex-shrink: 0;
    text-decoration: underline;
    margin-left: auto;
  }


  .close {
    cursor: pointer;
    flex-shrink: 0;
    margin-left: auto;
    width: px-to-rem(20px);
    height: px-to-rem(20px);
    position: absolute;
    top: px-to-rem(6px);
    right: px-to-rem(6px);
  }
}
