.main {
  display: grid;
  grid-gap: px-to-rem(24);
  grid-auto-flow: row;
  justify-items: center;

  font-size: px-to-rem(16);

  p {
    margin: 0;
  }
}

.title {
  font-family: $headings-font-family;
  font-size: 1.75rem;
  font-weight: 200;
  margin-bottom: 1.5rem;
  text-align: center;
}

.explanation {
  font-family: $headings-font-family;
  font-size: px-to-rem(16);
  line-height: 1.5;
  color: $neu-shuttle-gray;
  margin: 0;
  text-align: center;
}

.note {
  @include font-button-small;
  text-align: center;
}

.form {
  display:grid;
  grid-gap: px-to-rem(24);
  grid-auto-flow: row;
}
