.bank-verified {
  @include font-button-small;

  vertical-align: text-top;
  text-transform: uppercase;
  line-height: 1.6;
  letter-spacing: -.2px;
  color: $neu-seaweed;
}

.kyc-data {
  @include font-label;
}

.icon {
  @include rect(30px);

  margin-right: 18px;
}

.bank-details {
  display: flex;
  align-items: center;
}
