@import "../../styles/neufund-theme";

.total-euro {
  display: flex;
  align-items: center;
}

.label {
  margin-right: px-to-rem(10px);
  font-size: px-to-rem(12px);
  height: px-to-rem(17px);
}


.money {
  font-size: px-to-rem(20px);
  color: $neu-seaweed;
  font-weight: $font-weight-bold;
}