$_logo-size-xl: 130px;
$_logo-size-sm: 60px;
$_logo-padding-md: 20px;
$_logo-padding-sm: 16px;

.cover {
  position: relative;
  display: flex;
  flex-flow: row;
  overflow: hidden;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    object-fit: cover;
    user-select: none;
  }
}

.company-details {
  @include media-breakpoint-up(md) {
    flex-direction: row;
    padding: $_logo-padding-md;
  }
  position: absolute;
  bottom: 0;

  display: flex;
  flex-direction: row;
  width: 100%;
  padding: $_logo-padding-sm;
}

.identity {
  @include responsive-size(margin-top, $_logo-size-sm * .3, $_logo-size-xl * .3);

  display: flex;
}

.logo-wrapper {
  @include media-breakpoint-up(md) {
    @include circle($_logo-size-xl);
  }

  @include circle($_logo-size-sm);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0;
  }
}

.details {
  @include responsive-size(margin-left, $_logo-padding-sm, $_logo-padding-md);

  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  justify-content: center;
  margin-right: 10px;
  z-index: $z-index-base;
  overflow: hidden;
}

.name,
.short-description {
  @include font-headline;

  color: $neu-white-two;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &:last-child {
    margin-bottom: 0;
  }
}

.website-link {
  @include responsive-size(margin-bottom, $_logo-size-sm * .1, $_logo-size-xl * .1);

  margin-top: auto;
}

.tags {
  @include media-breakpoint-up(lg) {
    order: 1;
    margin-bottom: 0;
    display: flex;
  }

  display: none;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: flex-end;
  align-items: flex-end;
  margin-left: auto;
  z-index: $z-index-base;
}

.tag {
  margin-left: 1rem;
  margin-top: 1rem;

  &:first-of-type {
    margin-left: 0;
  }
}
