$_logo-size-xl: 130px;
$_logo-size-sm: 80px;

.cover {
  position: relative;

  img {
    user-select: none;
  }
}

.company-details {
  @include media-breakpoint-up(md) {
    flex-direction: row;
    padding-left: $authorized-layout-horizontal-padding-lg;
    padding-right: $authorized-layout-horizontal-padding-lg;
    padding-bottom: $authorized-layout-vertical-padding-lg;
  }
  position: absolute;
  bottom: 0;

  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: $authorized-layout-horizontal-padding-sm;
  padding-right: $authorized-layout-horizontal-padding-sm;
  padding-bottom: $authorized-layout-vertical-padding-sm;
}

.identity {
  @include responsive-size(margin-top, $_logo-size-sm * .3, $_logo-size-xl * .3);

  display: flex;
}

.banner {
  position: relative;
}

.logo-wrapper {
  @include media-breakpoint-up(md) {
    //move the logo 13% down so that it sticks out of the cover
    transform: translateY(calc(#{$authorized-layout-vertical-padding-lg} + 13%));
  }
  @include circle($_logo-size-xl);
  @include responsive-size(height, $_logo-size-sm, $_logo-size-xl);
  @include responsive-size(width, $_logo-size-sm, $_logo-size-xl);

  transform: translateY(calc(#{$authorized-layout-vertical-padding-sm} + 13%));
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    @include responsive-size(height, $_logo-size-sm, $_logo-size-xl);
    object-fit: cover;
    border-radius: 0;
  }
}

.details {
  @include responsive-size(margin-left, $authorized-layout-horizontal-padding-sm, $authorized-layout-horizontal-padding-lg);

  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  justify-content: flex-end;
  margin-right: 10px;
  z-index: $z-index-base;
  overflow: hidden;
}

.name,
.short-description {
  @include font-headline;

  color: $neu-white-two;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &:last-child {
    margin-bottom: 0;
  }
}

.website-link {
  @include responsive-size(margin-bottom, $_logo-size-sm * .1, $_logo-size-xl * .1);

  margin-top: auto;
}

.tags {
  @include media-breakpoint-up(lg) {
    order: 1;
    margin-bottom: 0;
    display: flex;
  }

  display: none;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: flex-end;
  align-items: flex-end;
  margin-left: auto;
  z-index: $z-index-base;
}

.tag {
  margin-left: 1rem;
  margin-top: 1rem;

  &:first-of-type {
    margin-left: 0;
  }
}
