@import "../../styles/neufund-theme";

.container {
  @include media-breakpoint-up(sm) {
    box-shadow: $shadow;
    border-top: rem-to-px(3px) solid $neu-piss-yellow;
    margin-top: rem-to-px(100px);
  }
  text-align: center;

  background-color: $white-pure;
}
