@import "../../styles/neufund-theme";

.header {
  margin: px-to-rem(46px) 0;
}

.title {
  text-align: center;
  margin-bottom: px-to-rem(46px);
}

.description {
  @include media-breakpoint-up (lg) {
    max-width: 70%;
  }

  max-width: 90%;
  text-align: center;
  margin-top: px-to-rem(18px);
  margin-left: auto;
  margin-right: auto;
}

.content {
  @include make-col-ready;
  @include make-col(1, 1);
  @include media-breakpoint-up (md) {
    @include make-col(10);
    @include make-col-offset(1);
  }
  @include media-breakpoint-up (xl) {
    @include make-col(2, 3);
    @include make-col-offset(1, 6);
  }

  margin-top: px-to-rem(72px);
}

.footer {
  min-height: px-to-rem(1px);
  padding-bottom: px-to-rem(10px);
  padding-left: px-to-rem(14px);
}

.kyc-panel-max {
  .content {
    @include media-breakpoint-up (md) {
      @include make-col(1, 1);
      @include make-col-offset(0);
    }
  }
}
