$payout-container-color: rgba($neu-white, .1);

.wrapper {
  @include media-breakpoint-down(sm) {
    min-height: px-to-rem(212px);
  }

  display: flex;
  flex-direction: column;
  background: $neu-charcoal-grey;
  padding: px-to-rem(20px);
  min-height: px-to-rem(262px);
}

.icon {
  height: px-to-rem(30);
  width: px-to-rem(30);
}

@include media-breakpoint-up(md) {
  .icon {
    height: px-to-rem(43);
    width: px-to-rem(43);
  }
}

.neu-ratio {
  color: $neu-seaweed;
  font-weight: $font-weight-bold;
  font-size: $smaller-font-size;
  font: $font-family-base;
}

.title {
  @include nds-headline-4;

  color: $neu-light-blue-grey-two;
  border-bottom: solid 1px $neu-light-blue-grey-two;
  padding-bottom: px-to-rem(8px);
  margin-bottom: px-to-rem(24px);
}

.content {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
}

.neu {
  margin-bottom: px-to-rem(10px);
}

.button {
  @include flex-stick-bottom;

  justify-self: flex-end;
}

.payout-container {
  @include nds-helper-text;

  display: flex;
  margin-top: px-to-rem(20px);
  border-radius: px-to-rem(4px);
  background-color: $payout-container-color;
  padding: px-to-rem(8px);
  color: $neu-light-blue-grey-two;
}

.warning-icon {
  @include rect(20px);

  color: transparent;
  margin-right: px-to-rem(10px);
}

.payout-amount {
  font-weight: bold;

  &::before {
    content: "~";
  }
}

.button-payout {
  display: block;
  margin-top: px-to-rem(8px);
}
