.container {
  display: flex;
  flex-direction: column;
  color: $neu-charcoal-grey;
  padding: px-to-rem(20px);
  min-height: px-to-rem(262px);
}

.token {
  @include rect(32px);
}

.button {
  @include flex-stick-bottom;
}
