.container {
  display: flex;
  flex-direction: column;
  color: $neu-charcoal-grey;
  padding: px-to-rem(20px);
  min-height: px-to-rem(262px);
}

.title {
  margin-bottom: 0;
}

.title,
.header {
  @include nds-headline-4;
  color: $neu-charcoal-grey;
}

.header,
.row {
  vertical-align: top;
  border-bottom: solid 1px $neu-light-blue-grey-two;
}

.header {
  padding-bottom: px-to-rem(8px);
  margin-bottom: px-to-rem(24px);
}

.row {
  @include nds-body;

  padding-bottom: px-to-rem(16px);
  margin-bottom: px-to-rem(16px);
  align-items: center;
}

.token {
  @include rect(32px);
}

.button {
  margin: {
    top: auto;
    right: auto;
    left: auto;
    bottom: 0;
  };
}
