.invest-widget {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}

.header {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.amount {
  display: block;
}

.invest-now-button {
  display: flex;
  justify-content: center;
}
