// sass-lint:disable force-pseudo-nesting
// sass-lint:disable nesting-depth

$_hover-color: $color-brand;
$_focus-color: $color-brand;
$_active-color: lighten($_hover-color, 20%);

.button {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;

  color: inherit;
  font: inherit;
  line-height: inherit;

  &:focus,
  .content:focus {
    outline: none;
  }

  &:focus {
    .content {
      box-shadow: 0 0 px-to-rem(3px) px-to-rem(6px) $_focus-color;
    }
  }

  > .content {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    padding: px-to-rem(8px) px-to-rem(20px);
    position: relative;
    text-align: center;
    text-decoration: inherit;
    transition: 200ms ease-out all; // sass-lint:disable-line no-transition-all
  }

  &:disabled,
  &-primary:disabled, // sass-lint:disable-line force-pseudo-nesting
  &-secondary:disabled, // sass-lint:disable-line force-pseudo-nesting
  &-inline:disabled, // sass-lint:disable-line force-pseudo-nesting
  &-simple:disabled { // sass-lint:disable-line force-pseudo-nesting
    color: $neu-pale-grey;
    cursor: not-allowed;

    &:hover {
      .content {
        color: $color-gray;
        background-color: transparent;
        border-color: currentColor;
      }
    }
  }

  // types
  &-primary {
    @include font-button-default;

    font-weight: $font-weight-bold;
    text-transform: uppercase;

    .content {
      border: px-to-rem(2px) solid currentColor;
      min-width: px-to-rem(138px);
    }

    &:hover {
      .content {
        background-color: $_hover-color;
        border-color: $_hover-color;
        color: $color-white;
      }
    }

    &:active {
      .content {
        background-color: $_active-color;
        border-color: $_active-color;
        color: $color-white;
      }
    }

    &:global(.small) {
      @include font-button-small;

      .content {
        border: px-to-rem(1px) solid currentColor;
      }
    }

    &:global(.block) {
      .content {
        min-width: auto;
      }
    }
  }

  &-secondary {
    @include font-tab;

    font-weight: $font-weight-bold;
    text-transform: uppercase;

    &:hover {
      color: $_hover-color;
    }

    &:active {
      color: $_active-color;
    }
  }

  &-simple {
    @include font-label;

    font-weight: normal;
    text-transform: inherit;

    .content {
      padding: 0;
      justify-content: flex-end;
    }
  }

  &-inline {
    @include font-default;

    .content {
      padding: 0;
      margin-top: 0;
      justify-content: initial;

      text-decoration: underline;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }

  // widths
  &:global(.block) {
    display: block;
    width: 100%;
  }

  &:global(.wide) {
    min-width: px-to-rem(220px);
  }

  // sizes
  &:global(.small) {
    font-weight: $font-weight-medium;

    > .content {
      padding: px-to-rem(3px) px-to-rem(8px);
    }
  }

  // themes
  &-white {
    color: $neu-white-two;
  }

  &-dark {
    color: $neu-greyish-brown;
  }

  &-graphite {
    color: $color-graphite-light;
  }

  &-brand {
    background-color: $color-brand;
    color: $color-graphite;

    :local(.content) {
      border-color: $color-brand;
    }
  }

  &-silver {
    color: $neu-slate-grey;
  }

  // elements
  &:global {

    &.icon-before {
      :global(.inline-icon) {
        margin-right: 10px;
      }
    }

    &.icon-after {
      :global(.inline-icon) {
        margin-left: 10px;
      }
    }
  }

  :global(.inline-icon) {
    color: currentColor;
    height: px-to-rem(20px);
    width: px-to-rem(20px);
  }

}

.button-icon {
  cursor: pointer;
  width: 20px;
  height: 20px;

  padding: 0;
  border: 0;
  background-color: transparent;

  &:hover {
    :global(.inline-icon) {
      color: $color-brand;
    }
  }
}
