.button-icon,
.button-icon-placeholder {
  width: 20px;
  height: 20px;

  // reset button default styles
  padding: 0;
  border: 0;
  background-color: transparent;
}

.button-icon {
  &:hover {
    color: $neu-piss-yellow;
  }

  &:disabled {
    color: $neu-pale-grey;
    cursor: not-allowed;

  }
}
