.main {
  display: grid;
  grid-gap: px-to-rem(24);
  grid-auto-flow: row;
  justify-items: center;
  text-align: center;

  font-size: px-to-rem(16);

  p {
    margin: 0;
  }
}

.section {
  @include nds-body;

  text-align: center;
  color: $neu-shuttle-gray;
}

.title {
  @include headline-large;
  font-family: $headings-font-family;
  font-size: 1.75rem;
  font-weight: 200;
  margin-bottom: 1.5rem;
  text-align: center;
}

.icon {
  @include rect(72px);

  background-color: $neu-pale-grey-three;
  border-radius: 50%;
  margin-bottom: px-to-rem(20px);
  margin-top: px-to-rem(16px);
}

.forgotten-password {
  @include nds-body-small;

  margin-top: 1rem;
  margin-bottom: px-to-rem(24px);
}

.buttons {
  @include media-breakpoint-down(xs) {
    margin-left: auto;
    margin-right: auto;
    max-width: px-to-rem(232px);
  }

  margin-top: px-to-rem(20px);
}

.missing-email {
  font-family: $font-family-roboto;
  font-size: px-to-rem(14px);
}
