.step-card-wrapper {
  display: grid;
  grid-template: auto / 1fr 1fr;
  grid-gap: 1.5rem;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items:  start;
  max-width: calc(100% / 1.5);
  margin: 0 auto 1.5rem;
}

.wallet-logos {
  img {
    height: px-to-rem(48px);
  }
}

.title {
  font-family: $headings-font-family;
  font-size: 1.75rem;
  font-weight: 200;
  margin-bottom: 1.5rem;
  text-align: center;
}
