@import "../../shared/Panel.module";

.table {
  @include remove-panel-padding;

  margin-bottom: 0;
  margin-top: 0;
}

.amount {
  @include font-headline-medium;

  &--in {
    font-weight: bold;
  }
}
