.account-address {
  display: inline-flex;
  width: 100%;
}

.address {
  @include font-label;

  border: 0;
  color: $neu-slate-grey;
  min-height: 1em;
  text-transform: none;
  padding: 0;
  resize: none;
  width: 100%;
  word-break: break-all;
}

.transaction-history {
  @include font-small;

  color: $neu-silver;
}

.address-wrapper {
  flex: 1;
  margin-right: px-to-rem(20px);
  padding-left: 10px;
}

.only-address {

  display: grid;
  grid-template: 1fr / auto 1fr auto;
  grid-gap: 10px;
  align-items: center;

  font-family: $font-family-roboto;
  font-size: 16px;
  color: $neu-charcoal-grey2;
}
