.document-label {
  align-items: center;
  display: inline-flex;
  font-family: $font-family-roboto;
  font-size: px-to-rem(16px);

  :global {
    .fa-link,
    .document-icon,
    .inline-icon {
      text-decoration: none;
      width: 18px;
      margin-right: 10px;
      flex-shrink: 0;
    }
  }
}
