.document-link {
  align-items: center;
  display: inline-flex;
}

.document-link,
.document-button {
  font-size: px-to-rem(14px);

  :global {
    .fa-link,
    .document-icon,
    .inline-icon {
      width: 18px;
      margin-right: 10px;
      flex-shrink: 0;
    }
  }
}
