$_dropzone-size-xl: 200px;
$_dropzone-size-sm: 120px;

.title {
  @include nds-body;
  color: $neu-greyish-brown;
}

.hint {
  @include nds-body;

  color: $neu-slate-grey;
}

.upload {
  @include media-breakpoint-up(md) {
    flex-direction: row;
  }

  display: flex;
  flex-direction: column;

  .upload-informations-wrapper {
    @include nds-button-label;

    @include media-breakpoint-up(md) {
      margin-left: px-to-rem(24px);
    }

    font-weight: 400;
    color: $neu-shuttle-gray;
    display: flex;
    flex-direction: column;
  }

  .images-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .id-wrapper,
  .bank-statement-wrapper {
    width: 46%;
  }

  .bank-statement-wrapper {
    img {
      width: 100%;
    }
  }
}


.multi-file-upload {

  &:global(.horizontal) {
    flex-direction: row;

    :local(.dropzone) {
      @include responsive-size(height, $_dropzone-size-sm, $_dropzone-size-xl);
      @include responsive-size(width, $_dropzone-size-sm, $_dropzone-size-xl);

      margin-right: 20px;
    }
  }

  &:global(.vertical) {
    width: 100%;
    flex-direction: column;

    :local(.requirements-title) {
      margin: $spacing-vertical-lg-1 0 $spacing-vertical-lg-2;
    }

    :local(.dropzone) {
      @include rect($_dropzone-size-xl);
    }
  }
}

.file-info {
  color: $neu-pale-grey;
  font-size: 10px;
  line-height: 2.4;
}

.dropzone {
  align-items: center;
  border: px-to-rem(2px) dashed $neu-silver;
  color: $neu-slate-grey;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: px-to-rem(10px);
  justify-content: space-around;
  padding: 10px;
  text-align: center;
  flex-shrink: 0;

  :global {
    .inline-icon {
      @include responsive-size(width, 50px, 100px);
      @include responsive-size(height, 50px, 96px);

      margin-bottom: 10px;
    }
  }
}

.document-wrapper {
  @include media-breakpoint-up (md) {
    padding-right: 20px;
  }

  padding-bottom: 20px;
}

.dropzone-wrapper {
  width: px-to-rem(162px);
}

.requirements-title {
  @include font-default;
  margin-bottom: 4px;
}

.upload-container {
  display: flex;
}

.uploader-info {
  margin-left: px-to-rem(12px);
}

.file-types {
  @include nds-overline;

  margin-top: px-to-rem(8px);
  color: $neu-shuttle-gray;
}

.upload-title {
  @include nds-button-label;

  color: $neu-charcoal-grey;
  text-transform: uppercase;
}
