$narrow-padding: px-to-rem(10px);
$normal-padding: px-to-rem(20px);
$normal-padding-deprecated: px-to-rem(25px);

// TODO: Maybe it's possible to somehow provide which margins should be reset
@mixin remove-panel-padding($narrow: false) {
  margin: if($narrow, -$narrow-padding, -$normal-padding-deprecated);
  width: calc(100% + 2 * #{if($narrow, $narrow-padding, $normal-padding-deprecated)});
}

.panel {
  background-color: $neu-white;
  height: 100%;
  align-items: stretch;
  grid-auto-rows: 1fr auto;

  &.narrow-padding {
    padding: $narrow-padding;
  }

  &.normal-padding {
    padding: $normal-padding;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $spacing-vertical-sm-1;
  width: 100%;

  align-self: start;
}

.default-panel {
  box-shadow: $shadow-bottom-black;

  &.normal-padding {
    padding: $normal-padding-deprecated;
  }
}

.rounded {
  border-radius: px-to-rem(4px);
  border: solid 1px $neu-light-blue-grey-two;
  overflow: hidden;

  .header {
    @include nds-headline-4;

    color: $neu-charcoal-grey;
    padding-bottom: px-to-rem(8px);
    margin-bottom: px-to-rem(24px);
    border-bottom: solid 1px $neu-light-blue-grey-two;
  }
}

.gray {
  border-radius: px-to-rem(4px);
  background: $neu-pale-grey-three;
  overflow: hidden;
}
