.swiper-main {
  position: relative;
  display: flex;
  align-items: center;
  height: 180px;
}

.swiper-base {
  align-self: stretch;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}

.swiper-moving-part {
  position: absolute;
  display: grid;
  grid-column-gap: 16px;
  grid-auto-flow: column;
  transition-timing-function: ease-in;
  transition: .2s;
}

.swiper-element {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.placeholder {
  width: 100%;
}

.next,
.prev {
  position: absolute;
  z-index: 2;
  color: $neu-white-two;
  width: 35px;
  height: 35px;

  &:disabled {
    color: transparent;
  }

  svg {
    transform: scaleX(.7);
  }
}

.prev {
  margin-right: .3rem;
  left: -1.2rem;
}

.next {
  margin-left: .3rem;
  right: -1.2rem;
}

.clickable {
  padding: 0;
  border: 0;
  background-color: transparent;
}

@include media-breakpoint-up(sm) {
  .prev,
  .next {
    svg {
      transform: scaleX(1);
    }
  }

  .prev {
    margin-right: .3rem;
    left: -1.2rem;

  }

  .next {
    margin-left: .3rem;
    right: -1.2rem;
  }
}

@include media-breakpoint-up(md) {
  .prev {
    margin-right: .3rem;
    left: -1rem;
  }


  .next {
    margin-left: .3rem;
    right: -1rem;
  }
}
