.responsive-image {
  &:global {
    &.dark {
      background-color: $neu-silver;
    }

    &.light {
      background-color: $neu-white;
    }

    &.transparent {
      background-color: transparent;
    }

    &.thumbnail {
      cursor: pointer;
    }
  }
}

.image {
  @include rect(100%);

  display: block;
}

.fit-contain {
  object-fit: contain;
}

.fit-cover {
  object-fit: cover;
}
