.group-name {
  font-family: $font-family-roboto;
  color: $neu-charcoal-grey2;
  margin-bottom: $spacing-vertical-lg-1;
  font-size: px-to-rem(18px);
  text-transform: uppercase;
  font-weight: 500;
}

.group-description {
  font-family: $font-family-roboto;
  color: $neu-shuttle-gray;
  font-size: px-to-rem(16px);
  line-height: 1.5;
}

.group {
  display: flex;
  flex-wrap: wrap;
}

.document {
  flex-basis: 100%;
}
