.social-profiles-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &:global(.small) {
    :local(.profile) {
      @include rect(20px);

      padding: 4px;
      margin-right: 8px;

      :local(.label) {
        transform: translate(-50%, -30px);
      }
    }
  }

  &:global(.center) {
    justify-content: center;
  }
}

.profile {
  @include circle(30px);

  background-color: $neu-greyish-brown;
  flex-shrink: 0;
  margin-bottom: 12px;
  margin-right: 15px;
  padding: px-to-rem(6px);
  position: relative;
  transition: 300ms $ease-out-expo background-color;

  &:hover {
    background-color: $neu-piss-yellow;

    :local(.label) {
      transform: translate(-50%, -50px);
      opacity: 1;
    }
  }

  .icon {
    &,
    &:hover {
      color: $neu-white-two;
    }
  }
}
