.time-left {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.date {
  width: auto;
  border: 0;

  td {
    padding-right: .5em;
  }
}

.date-bold {
  font-weight: bold;
}

.label {
  font-size: 1.5em;
  font-weight: normal;
}
