.time-left {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.date {
  width: auto;
  border: 0;

  td {
    padding-right: .5em;
  }
}

.date-bold {
  font-weight: bold;
}

.additional-info {
  align-self: flex-start;
  margin-top: px-to-rem(20px);
  margin-bottom: 0;
}

.label {
  font-size: 1.5rem;
  font-weight: normal;
}
