.file {
  @include nds-button-label;
  font-weight: 400;
  color: $neu-charcoal-grey;
  display: flex;
  flex-direction: row;
  user-select: none;
  cursor: default;
  border-bottom: 1px solid $neu-light-blue-grey-two;
  line-height: px-to-rem(36px);

  &:last-of-type {
    border-bottom: 0;
    margin-bottom: px-to-rem(16px);
  }

  > * {
    flex-shrink: 0;
  }

  &:hover {
    background-color: $neu-pale-blue;

    .remove {
      opacity: 1;
      pointer-events: all;
    }
  }

  .icon,
  .remove {
    width: 16px;
  }

  .remove {
    cursor: pointer;
    margin-left: auto;
    width: px-to-rem(10px);
    opacity: 0;
    pointer-events: none;
    transition: 150ms ease-out color;

    &:hover {
      color: $neu-red;

      & ~ .text {
        color: $neu-red;
      }
    }
  }

  .text {
    flex: 1;
    max-width: calc(100% - #{px-to-rem(40px)});
    text-overflow: ellipsis;
    overflow: hidden;
    transition: 150ms ease-out color;
  }
}
