.warning-alert {
  @include nds-helper-text;

  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $neu-flamingo-red;

  .icon {
    @include rect(20px);
    display: block;
    margin-right: px-to-rem(5px);
    align-self: center;
    margin-top: px-to-rem(-1px);
  }

  &.inline {
    .icon {
      display: inline-block;
      margin-right: px-to-rem(8px);
    }
  }

  &.big {
    @include nds-body-small;
  }
}
