.warning-alert {
  @include nds-helper-text;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 1.5rem;
  color: $neu-flamingo-red;
  text-align: center;

  .icon {
    @include rect(20px);

    margin: auto;
    color: $neu-flamingo-red;
    vertical-align: text-bottom;
    display: block;
  }

  &.inline {
    .icon {
      display: inline-block;
      margin-right: px-to-rem(8px);
    }
  }

  &.big {
    @include nds-body-small;
  }
}
