.warning-alert {
  @include nds-helper-text;

  display: flex;
  align-items: center;
  justify-content: center;
  color: $neu-flamingo-red;

  .icon {
    @include rect(20px);

    margin-right: .6em;
  }

  &.big {
    @include nds-body-small;
  }
}
