.step-card-wrapper {
  @media (min-width: 500px) {
    margin: 0 10% 1.5rem;
  }

  display: grid;
  grid-template: auto / 1fr 1fr;
  grid-gap: 1.5rem;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: start;
  max-width: 100%;
  margin: 0 auto 1.5rem;
}

.wrapper {
  width: 320px;
  margin: 0 auto;
}

.main {
  display: grid;
  grid-gap: px-to-rem(24);
  grid-auto-flow: row;
  justify-items: center;
  text-align: center;

  font-size: px-to-rem(16);

  p {
    margin: 0;
  }
}

.title {
  color: $neu-charcoal-grey;
  text-align: center;
  margin: {
    top: px-to-rem(12px);
    bottom: px-to-rem(20px);
  }
}

.notification {
  display: flex;
  flex-flow: row;
  align-items: baseline;
  justify-content: center;
  text-align: center;
  color: $neu-flamingo-red;

  img {
    display: block;
    width: px-to-rem(19px);
    height: px-to-rem(19px);
    margin-right: 5px;
    margin-left: auto;
  }
}

.loading-indicator {
  margin: px-to-rem(24);
}

.help {
  font-size: px-to-rem(14);
}
