$border-color: #cfd7dd;

.header {
  @include font-headline-medium;

  margin-bottom: $spacing-vertical-lg-2;
  text-align: center;
}

.form {
  @media(min-width: 576px) {
    padding: $spacing-vertical-lg-4 $spacing-vertical-lg-2 $spacing-vertical-lg-2;
  }

  align-self: stretch;
  justify-content: stretch;
  display: grid;
  grid-template: auto auto auto 1fr / 1fr;
  grid-gap: 1rem;
  justify-items: stretch;

  padding: 0;
  width: 100%;
  height: 100%;
}

.nominee-chosen-section {
  display: grid;
  grid-template: auto auto / auto auto;
  grid-template-areas: "text text" "nominee button-block";
  grid-gap: 1rem;

  align-items: center;
  margin-bottom: 2rem;

  width: 100%;
  max-width: 730px;
}

.nominee-block {
  grid-area: nominee;

  display: grid;
  grid-template: 1fr / auto 1fr;
  grid-gap: 1rem;
  justify-self: stretch;
  align-items: center;
  padding: 0 1rem;
  height: px-to-rem(48px);
  border-radius: 4px;
  border: solid 1px $border-color;

  font-family: $font-family-roboto;
  font-size: 16px;
  color: $neu-charcoal-grey;
}

.text {
  margin: 0;
  grid-area: text;
}

.button {
  grid-area: button-block;
}


.pending-nominee-request {
  display: grid;
  grid-template: auto 1fr auto / auto;
  grid-template-areas: "text" "info" "button-block";
  grid-gap: 20px;

  font-family: $font-family-roboto;
  font-size: 16px;

  h5 {
    font-size: 16px;
    text-transform: uppercase;
    margin: 0;
  }

  p {
    margin: 0;
  }
}

.pending-nominee-request-text {
  grid-area: text;
}

.pending-nominee-request-info {
  grid-area: info;

  display: grid;
  grid-template: auto / repeat(2, auto);
  grid-gap: 1rem;
}

.button-block {
  grid-area: button-block;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 1rem;
  justify-items: flex-start;

  margin-top: 1rem;
}
