.step {
  text-align: center;

  img {
    display: inline-block;
  }
}

.header {
  font-size: $bigger-font-size;
}

.ledger-browser {
  cursor: pointer;
}

.drawer-button {
  margin: 1rem 0 .5rem;
  font-size: 1.25rem;
  padding: 0;
  border: 0;
  background-color: transparent;
}
