.content {
  max-width: 400px;
  margin: 0 auto;
}

.wrapper {
  margin-bottom: $spacing-vertical-lg-1;
}

.header {
  @include font-label;

  margin-bottom: $spacing-vertical-lg-1;
}

.footer {
  font-size: 12px;
  letter-spacing: -.2px;
  text-align: center;
}

.highlighted-field {
  background-color: $neu-pale-blue;
  color: $color-graphite;
  font-size: 15px;
  margin-bottom: 14px;
  padding: 12px;
}

.highlighted-header {
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  margin-bottom: 8px;
}

.icon {
  @include rect(20px);

  margin-right: 6px;
}

.download-icon {
  @include rect(14px);

  margin-right: 4px;
}
