.modal {
  width: 100%;
  padding-top: 12px;

  .header {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-bottom: $spacing-vertical-sm-1;
    width: 100%;
  }

  .body {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
