

.modal {
  @include media-breakpoint-up (md) {
    width: 44%;
    height: auto;
    min-width: px-to-rem(600px);
  }

  width: 100%;
  padding-bottom: px-to-rem(20px);

  .header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: px-to-rem(14px);
  }

  .body {
    width: 100%;
    max-height: 70vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: px-to-rem(20px);
    padding-right: px-to-rem(20px);
  }
}
