

.claimed-dividends {
  .title {
    padding-left: px-to-rem(10px);
    letter-spacing: px-to-rem(-.02px);
    font-size: px-to-rem(13px);
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    padding-bottom: px-to-rem(12px);
    padding-top: px-to-rem(16px);
    border-bottom: 1px solid $neu-pale-grey;
  }

  :global(.table-row) {
    flex-direction: row;
  }

  :global(.table-cell) {
    @include media-breakpoint-down (md) {
      @include make-col(1, 3);
    }
  }

  :global(.btn) {
    span {
      + * {
        margin-left: px-to-rem(10px);
      }
    }
  }
}
