.background {
  background: $neu-charcoal-grey;
}

.icon {
  height: px-to-rem(30);
  width: px-to-rem(30);
}

@include media-breakpoint-up(md) {
  .icon {
    height: px-to-rem(43);
    width: px-to-rem(43);
  }
}

.neu-ratio {
  color: $neu-seaweed;
  font-weight: $font-weight-bold;
  font-size: $smaller-font-size;
  font: $font-family-base;
}

.title {
  color: $neu-white;
  font-size: $smaller-font-size;
  font-weight: $font-weight-bold;
  font-family: $font-family-base;
}

.neu {
  color: $neu-white;
  font-size: $extra-bigger-font-size;
}

.smaller {
  color: $neu-white;
  font-size: $smaller-font-size;
}
