@import "../../../shared/Panel.module";

.panel {
  transition: transform .1s ease-in-out;

  &:hover {
    transform: scale(1.02);
    box-shadow: $shadow-bottom-black-long;
  }
}

.cover {
  div {
    @include remove-panel-padding;
    margin-bottom: auto;
  }
}

.content {
  height: 220px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.group-wrapper {
  width: 100%;
  display: table;

  .group {
    display: table-row;

    .label,
    .value {
      width: 50%;
      display: table-cell;
      vertical-align: middle;
    }

    .label {
      @include font-label;

      padding-top: px-to-rem(3px);
      padding-bottom: px-to-rem(3px);
      padding-right: px-to-rem(13.6px);
    }

    .value {
      @include font-label;

      text-transform: none;
    }
  }
}


.quote {
  @include blockquote;

  margin-top: auto;
  margin-bottom: auto;
}

.status-of-eto {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
}
