@import "../../../shared/Panel.module";

.info,
.successful-info {
  @include remove-panel-padding;
  margin-top: px-to-rem(10px);

  text-align: center;
}

.info {
  @include font-label;

  border-top: thin $neu-white solid;
  padding: .5em;
}

.successful-info {
  @include headline-bigger;

  background: $neu-neon-yellow;
  color: $neu-charcoal-grey2;
  font-weight: bold;
  padding: px-to-rem(22px) px-to-rem(15px) px-to-rem(20px);

  &-text {
    @include font-label;

    color: $text-gray;
    margin-bottom: px-to-rem(2px);
  }
}
