.container {
  width: 100%;
  height: 100%;
}

.basic-grid {
  display: grid;
  grid-template: auto / 100%;
  grid-auto-flow: row;
  grid-row-gap: 1rem;
  align-content: start;
}

.grid-2,
.grid-3,
.grid-4,
.grid-6 {
  display: grid;
  grid-template: auto / 100%;
  grid-gap: 1rem;
  align-content: start;
}

@include media-breakpoint-up(md) {
  .grid-2,
  .grid-3,
  .grid-4,
  .grid-6  {
    grid-gap: 2rem;
  }
}

@include media-breakpoint-up(lg) {
  .grid-2 {
    grid-template: auto / repeat(2, 1fr);
  }

  .grid-3 {
    grid-template: auto / repeat(3, 1fr);
  }

  .grid-4 {
    grid-template: auto / repeat(4, 1fr);
  }

  .grid-6 {
    grid-template: auto / repeat(6, 1fr);
  }

  .span-2 {
    grid-column: span 2;
  }

  .span-3 {
    grid-column: span 3;
  }

  .span-4 {
    grid-column: span 4;
  }

  .span-6 {
    grid-column: span 6;
  }

}
