.footer {
  @include media-breakpoint-up(sm) {
    justify-content: flex-start;
    padding: px-to-rem(20px) px-to-rem(32px);
  }

  @include nds-body-small;

  display: flex;
  grid-area: footer;
  min-height: 64px;
  width: 100%;
  padding: px-to-rem(12px) px-to-rem(30px);
  margin: auto;
  background-color: $neu-charcoal-grey;
  color: $neu-gull-gray;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.copyright {
  @include media-breakpoint-down(xs) {
    flex-basis: 100%;
    order: 1;
  }
}

.link {
  @include media-breakpoint-down(xs) {
    &:first-of-type {
      margin: 0;
    }
  }

  margin-left: px-to-rem(16px);

  &:hover,
  &:focus {
    color: $neu-bitter-lemon;
  }
}
