.progress {
  @include media-breakpoint-down(md) {
    top: $header-height-md;
  }

  @include media-breakpoint-down(sm) {
    top: $header-height-sm;
  }

  grid-area: progress;
  margin: 0;
  top: $header-height-lg;
  z-index: 15;
  position: sticky;
}
