.title-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: px-to-rem(20px);
}

.file-list {
  list-style: none;
  padding-left: 0;
}

.file-details-wrapper {
  @include media-breakpoint-down(sm) {
    align-items: flex-start;
    flex-direction: column;
  }

  display: flex;
  padding-left: .75rem;
  flex-direction: row;
  flex-grow: 1;
}

.file-list-item {
  @include media-breakpoint-down(md) {
    height: auto;
  }

  height: px-to-rem(64px);
  display: flex;
  align-items: start;
  flex-direction: row;
  border: px-to-rem(1px) solid $neu-light-blue-grey-two;
  border-bottom: 0;
  padding: px-to-rem(12px) px-to-rem(20px);
  overflow: hidden;

  &:last-child {
    border-bottom: px-to-rem(1px) solid $neu-light-blue-grey-two;
  }
}

.file-icon {
  padding: px-to-rem(6px);
  background-color: $neu-pale-grey-three;
  border-radius: 50%;
}

.file-details {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
}

.file-name {
  @include font-headline-small;
  color: $neu-charcoal-grey;
  white-space: break-spaces;
}

.caption {
  @include media-breakpoint-down(sm) {
    margin-top: px-to-rem(4px);
  }

  @include nds-helper-text;
  color: $text-gray;
  white-space: break-spaces;
}

.file-action {
  @include media-breakpoint-down(sm) {
    margin-top: px-to-rem(16px);
    align-self: flex-start;
  }

  align-self: center;
  white-space: nowrap;
  color: $neu-dark-blue;
  min-width: 0;
}

.empty-message {
  background-color: $neu-pale-grey-three;
  height: px-to-rem(308px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: px-to-rem(20px);
}

.empty-message-text {
  color: $neu-shuttle-gray;
  font-size: px-to-rem(20px);
  font-family: $font-family-roboto;
  font-weight: normal;
}

.heading {
  @include media-breakpoint-down(lg) {
    display: none;
  }
}

.select {
  @include media-breakpoint-down(lg) {
    display: block;
  }

  display: none;
  margin-top: px-to-rem(3px);
  margin-right: px-to-rem(16px);
  width: px-to-rem(180px);
}

.file-details-loading {
  margin: auto 1rem;
}
