.dashboard-title-wrapper {
  margin: 2rem 0 0;
}

.dashboard-title {
  font-weight: 500;
  font-size: px-to-rem(32);
  margin: 0;
}

.dashboard-title-small {
  font-weight: 500;
  font-size: px-to-rem(24);
  margin: 0;
}

.dashboard-text {
  font-size: px-to-rem(16);
  margin-top: 1rem;
}

