@import "../../../../styles/neufund-theme";

.person-image {
  width: 200px;
  margin: auto;
}

.wrapper {
  @include media-breakpoint-down(md) {
    padding-left: 30px;
    padding-right: 30px;
  }

  h3 {
    font-size: 20px;
    margin-top: 10px;
  }
}
