.widget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .message {
    max-width: 300px;
    text-align: center;

    p {
      margin: 0;
    }
  }
}
