$button-radius: 32px;
$arrow-margin-right: 1rem;
$arrow-half-size: 10px;

.my-account-button {
  display: flex;
  grid-area: my-account;
  position: relative;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: $neu-very-light-blue;
  border-radius: 50%;
  padding: 4px;
  height: $button-radius;
}

.menu {
  position: absolute;
  top: $button-radius + 8px;

  right: calc(-#{$arrow-margin-right} - #{$arrow-half-size} + #{$button-radius/2});

  min-width: px-to-rem(200px);
  z-index: 3;
}

.menu-inner {
  $shadow: rgba(20, 36, 49, .1);

  display: flex;
  flex-flow: column;
  padding-top: px-to-rem(8px);
  padding-bottom: px-to-rem(8px);
  background-color: $neu-white;
  border-radius: 6px;
  box-shadow: 0 5px 20px 0 $shadow, 0 -2px 20px 0 $shadow;
}

.arrow {
  position: relative;
  width: 0;
  height: 0;
  border-left: $arrow-half-size solid transparent;
  border-right: $arrow-half-size solid transparent;
  border-bottom: $arrow-half-size solid $neu-white;
  margin-right: $arrow-margin-right;
  margin-left: auto;
}
