.people-carousel-wrapper {
  padding: 0 25px;
}

.people-carousel-slide-content {
  display: flex;
}

.people-carousel-image {
  @include rect(48px);

  flex-shrink: 0;
  margin-right: 14px;

  &,
  img {
    border-radius: 4px;
    overflow: hidden;
  }
}

.people-carousel-name {
  @include font-headline-small;

  color: $color-black;
  font-weight: $font-weight-bold;
}

.people-carousel-title {
  @include font-headline-small;

  color: $color-graphite;
  font-weight: $font-weight-bold;
}

.people-carousel-bio {
  color: $color-graphite;
}

.token-terms {
  @include media-breakpoint-up (md) {
    flex-direction: row;
  }

  align-self: stretch;
  display: flex;
  flex-direction: column;

  .divider {
    @include media-breakpoint-up (md) {
      display: block;
    }

    display: none;
    position: relative;
    width: 12.5%;

    &::before {
      @include rect(1px, 100%);

      background-color: $color-gray;
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .group {
    @include media-breakpoint-up (md) {
      width: 25%;
    }
  }

  .label {
    flex-basis: 70%;
  }
}

.group {
  flex-shrink: 0;
  width: 100%;

  .entry {
    @include media-breakpoint-up (md) {
      flex-direction: row;
    }

    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    .label,
    .value {
      flex-basis: 60%;
    }

    .value {
      @include media-breakpoint-up (md) {
        flex-basis: 40%;
        padding-left: 20px;
      }
    }
  }
}
