.progress-stepper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: px-to-rem(26px);
  margin-top: px-to-rem(50px);
}

.progress-step {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  padding: 0;
  border: 0;
  background-color: transparent;
}

.step-block {
  display: block;
  margin: px-to-rem(3px);
  height: px-to-rem(4px);
  width: px-to-rem(119px);
  background-color: $gray;
}


.active {
  background-color: $neu-black;
}
