.title {
  @include nds-headline-2;

  color: $neu-charcoal-grey;
  margin: {
    top: px-to-rem(32px);
    bottom: px-to-rem(20px);
  }
}

.text {
  @include nds-body;

  color: $neu-shuttle-gray;
  margin-bottom: px-to-rem(22px);
}

.buttons {
  @include media-breakpoint-down(sm) {
    flex-direction: column;

    & .button {
      margin-top: px-to-rem(8px);
    }
  }

  @include media-breakpoint-up(sm) {
    & .button {
      margin-right: px-to-rem(8px);
    }
  }

  display: flex;
}
