.remove-button {
  position: absolute;
  top: px-to-rem(10px);
  right: px-to-rem(10px);
}

.add-button {
  padding-top: 0 !important; // sass-lint:disable-line no-important
}

.individual-social-channels-legend {
  @include font-label;
}
