@mixin button-text {
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  color: $neu-black;
}

@mixin button {
  padding: 0;
  border: 0;
  background-color: transparent;
}

.advanced {
  @include button-text;
  @include button;
  margin-top: map-get($spacers, 3);
  text-align: center;
}

.back {
  @include button-text;
  @include button;
  font-size: px-to-rem(15px);
}

.explanation {
  width: 100%;
  margin: px-to-rem(40px) 0 px-to-rem(20px);
  font-family: $font-family-roboto;
  font-size: px-to-rem(16px);
}

.title {
  font-family: $font-family-montserrat;
  font-size: px-to-rem(32px);
  font-weight: 600;
}
