.modal-title {
  font-family: $font-family-roboto;
  font-size: px-to-rem(20px);
  font-weight: $font-weight-medium;
  margin-bottom: px-to-rem(24px);
}

.modal-body {
  @include media-breakpoint-down(sm) {
    padding-left: px-to-rem(12px);
    padding-right: px-to-rem(12px);
  }

  padding-left: px-to-rem(55px);
  padding-right: px-to-rem(55px);
}

.form {
  display: grid;
  grid-gap: px-to-rem(20);
  grid-auto-flow: row;
}

.drop-zone-wrapper,
.drop-zone {
  width: 100%;
}

.multi-file-upload-layout {
  p {
    margin-bottom: 0;
  }
}

.footer {
  margin-left: px-to-rem(-80px);
  margin-right: px-to-rem(-80px);
  margin-bottom: px-to-rem(-25px);
}

.summary {
  margin-bottom: px-to-rem(24px);
}

.summary-description {
  @include nds-body;
  color: $neu-shuttle-gray;
}

.summary-list {
  list-style: none;
  padding-left: 0;
}

.summary-item {
  padding: px-to-rem(8px) 0;
  border-bottom: solid 1px $neu-very-light-blue;
}

.summary-item-title {
  @include nds-body-small;
  display: block;
}

.summary-item-value {
  @include nds-body-small;
  display: block;
  color: $neu-charcoal-grey;
}

.editButton {
  margin-right: px-to-rem(16px);
}

.after-upload-message {
  @include nds-body-small;
  background-color: $neu-pale-grey-three;
  border: 1px solid $neu-light-blue-grey-two;
  padding: px-to-rem(56px) px-to-rem(24px);
  color: $neu-shuttle-gray;
  line-height: px-to-rem(20px);
  margin-bottom: px-to-rem(16px);
  text-align: center;
}
