@mixin hover-and-focus {
  &:hover,
  &:focus {
    .cell {
      position: relative;

      &:first-child {
        &::before {
          bottom: 0;
          content: "";
          position: absolute;
          top: 0;

          @content;
        }
      }
    }
  }
}

.wrapper {
  margin-right: $padding;
  overflow: auto;
  padding-left: $padding;
}

.panel {
  background-color: $neu-white-two;
  box-shadow: $shadow-bottom-black;
  overflow: hidden;
  padding-bottom: $narrow-padding;
  padding-top: $narrow-padding;

  .wrapper {
    padding-left: $narrow-padding;
    margin-right: $narrow-padding;

    .row {
      @include hover-and-focus {
        border-left-width: 4px;
        left: -$narrow-padding;
      }
    }
  }
}

.table {
  @include media-breakpoint-up(md) {
    width: 100%;
    min-width: 0;
  }

  min-width: 200%;
  font-size: px-to-rem(12px);

  :global(.document-icon),
  :global(.icon) {
    @include rect(20px);

    margin-right: 12px;
  }

  &:not(&--keep-rhythm) {
    .cell {
      &:not(.cell--placeholder) {
        &:last-of-type {
          text-align: end;
        }
      }
    }
  }
}

.header {
  @include font-label;

  .header-row {
    border-bottom: 1px solid $neu-silver;
  }
}

.row {
  border-bottom: 1px solid $neu-silver;
  padding: 10px 0;

  &:last-child {
    border: 0;
  }

  &--clickable {
    cursor: pointer;

    &:focus {
      // remove default outline
      outline: 0;
    }

    @include hover-and-focus {
      border-left: 8px $neu-piss-yellow solid;
      left: -$padding;
    }
  }
}

.cell {
  padding: 10px;
  vertical-align: middle;

  &:global(.middle) {
    vertical-align: middle;
  }

  &:global(.top) {
    vertical-align: center;
  }

  &:global(.bottom) {
    vertical-align: bottom;
  }

  &--placeholder {
    text-align: center;
  }
}
