@import "../../../styles/neufund-theme";

.table-row {
  @include make-row;
  @include media-breakpoint-up (md) {
    flex-direction: row;
  }

  flex-direction: column;
  padding-bottom: px-to-rem(15px);
  padding-top: px-to-rem(15px);

  &:nth-of-type(odd) {
    background-color: $neu-white-two;
  }

  &:nth-of-type(even) {
    background-color: $neu-pale-blue;
  }
}
