.table-cell {
  @include make-col-ready;

  flex: 1;
  display: flex;
  align-items: center;

  &:global(.decorate) {
    @include media-breakpoint-up (md) {
      border-bottom: 0;
    }

    border-bottom: 1px solid $neu-light-blue-grey;

    &:last-of-type {
      border-bottom-width: 2px;
    }
  }
}

.table-cell-center {
  justify-content: center;
}

.table-cell-narrow {
  @include make-col(12);

  @include media-breakpoint-up (sm) {
    @include make-col(4);
  }

  @include media-breakpoint-up (md) {
    @include make-col(3);
  }

  @include media-breakpoint-up (lg) {
    @include make-col(2);
  }
}


.mobile-description {
  @include media-breakpoint-up (md) {
    display: none;
    padding-bottom: 0;
    padding-top: 0;
  }

  display: block;
  padding-bottom: px-to-rem(10px);
  padding-top: px-to-rem(10px);
  text-transform: uppercase;
  font-weight: 600;

  &,
  + .content {
    @include make-col(1, 2);

    :global(.btn) {
      margin-left: auto;
    }
  }
}
