.table-header {
  @include media-breakpoint-up (lg) {
    height: px-to-rem(40px);
  }

  background-color: $neu-charcoal-grey;
  color: $neu-white;
  width: 100%;
  padding-bottom: px-to-rem(8px);
  padding-top: px-to-rem(8px);

  .content {
    display: flex;
    flex-grow: 1;
    width: 100%;
  }

  .action {
    @include make-col-ready;
    @include media-breakpoint-up (lg) {
      display: none;
    }

    font-weight: 600;
    text-transform: uppercase;
    display: block;

    + .content {
      @include media-breakpoint-down (md) {
        display: none;
      }
    }
  }

  &:global {
    &.inline-icon {
      color: $neu-white;
    }
  }
}
