.field-table {
  display: table;
  margin-bottom: 1.5rem;
  width: 100%;
}

.field-row {
  display: table-row;
}

.field-cell {
  display: table-cell;
  padding-bottom: 1rem;
}

.field {
  display: grid;
  grid-template: 1fr 1fr / 1fr;
  grid-gap: .5rem;
  width: 100%;
  align-items: flex-start;
}

@media (min-width: 730px) {
  .field-array {
    margin-bottom: 1rem;
  }

  .field {
    grid-template: 1fr / 1fr 30%;
  }
}
