@mixin in-a-row {
  @include media-breakpoint-up(lg) {
    @content;
  }
}

.date-field {
  @include in-a-row {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  display: flex;
  flex-direction: column;

  .label {
    @include in-a-row {
      margin-bottom: 0;
    }
  }

  .inputs-wrapper {
    display: flex;
    align-items: center;

    .input {
      @include in-a-row {
        width: px-to-rem(80px);
        margin: 0 px-to-rem(10px);

        &:last-child {
          margin-right: 0;
        }
      }

      text-align: center;

      // Firefox workaround for input shrinking
      // see https://bugzilla.mozilla.org/show_bug.cgi?id=1242914
      min-width: 0;
    }
  }
}
