$checkbox-height: px-to-rem(18px);

.wrapper {
  align-items: center;
  display: inline-flex;
  position: relative;
  user-select: none;
}

.input {
  @include sr-only;

  &:hover {
    // `:not` is used to increase priority
    // when `.focus-visible` is set we want to have also a visible effect for `:hover`
    &:not(:checked) ~  .checkmark {
      border-color: $neu-bitter-lemon;
    }

    &:checked {
      ~  .checkmark {
        border-color: $neu-gull-gray;
      }
    }
  }

  &:checked {
    ~ .checkmark {
      background-color: $neu-bitter-lemon;
      border-color: $neu-bitter-lemon;

      &::after {
        display: block;
      }
    }
  }

  &:global(.focus-visible) {
    ~  .checkmark {
      $focus-shadow: rgba($neu-base-blue, .3);

      border-color: $neu-base-blue;
      box-shadow: 0 0 0 3px $focus-shadow;
    }
  }

  &:disabled {
    ~ .checkmark,
    ~ .label {
      cursor: default;
    }

    &:not(:checked) ~ .checkmark {
      border-color: $neu-light-blue-grey-two;
    }

    &:checked {
      ~ .checkmark {
        background-color: $neu-light-blue-grey-two;
        border-color: $neu-light-blue-grey-two;
      }
    }
  }
}

.checkmark,
.label {
  cursor: pointer;
}

.checkmark {
  height: $checkbox-height;
  width: $checkbox-height;
  border: solid 1px $neu-gull-gray;
  border-radius: px-to-rem(2px);
  position: relative;
  transition: border 200ms ease-out, background-color 200ms ease-out;
  flex-shrink: 0;

  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }

  &::after {
    display: none;

    content: "";
    position: absolute;
    left: px-to-rem(6px);
    top: px-to-rem(2px);
    width: px-to-rem(5px);
    height: px-to-rem(10px);
    border: solid $neu-white;
    border-width: 0 px-to-rem(1px) px-to-rem(1px) 0;
    transform: rotate(45deg);
  }
}

.label {
  font-size: $font-size-medium-small;
  color: $neu-shuttle-gray;
  padding-left: px-to-rem(10px);
  line-height: 1;
}
