$checkbox-height: px-to-rem(18px);

.wrapper {
  display: inline-flex;
  align-items: center;
  position: relative;
  user-select: none;
}

.input {
  @include sr-only();

  &:hover, &:focus {
    ~  .checkmark {
      border-color: $neu-bitter-lemon;
    }
  }

  &:disabled {
    ~ .checkmark, ~ .label {
      cursor: default;
    }

    ~ .checkmark {
      border-color: $neu-light-blue-grey-two;
    }

    &:checked {
      ~ .checkmark {
        background-color: $neu-light-blue-grey-two;
      }
    }
  }

  &:checked {
    ~ .checkmark {
      background-color: $neu-bitter-lemon;
      border: 0;

      &::after {
        display: block;
      }
    }
  }
}

.checkmark, .label {
  cursor: pointer;
}

.checkmark {
  height: $checkbox-height;
  width: $checkbox-height;
  border: solid 1px $neu-gull-gray;
  border-radius: px-to-rem(2px);
  position: relative;
  transition: border 200ms ease-out, background-color 200ms ease-out;
  flex-shrink: 0;

  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }

  &::after {
    display: none;

    content: "";
    position: absolute;
    left: px-to-rem(7px);
    top: px-to-rem(3px);
    width: px-to-rem(5px);
    height: px-to-rem(10px);
    border: solid $neu-white;
    border-width: 0 px-to-rem(1px) px-to-rem(1px) 0;
    transform: rotate(45deg);
  }
}

.label {
  font-size: $font-size-medium-small;
  color: $neu-shuttle-gray;
  padding-left: px-to-rem(10px);
  line-height: 1;
}
