.text-input {
  @include nds-body-small;

  min-width: px-to-rem(320px);
  height: px-to-rem(40px);
  border-radius: px-to-rem(4px);
  border: solid 1px $neu-light-blue-grey-two;
  background-color: $neu-white;
  text-align: left;
  padding: px-to-rem(17px);
  color: $neu-charcoal-grey;

  // sass-lint:disable-all
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  textarea:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px $neu-white inset;
  }
  // sass-lint:enable-all

  &::placeholder {
    color: $neu-gull-gray;
  }

  &:focus {
    border-color: $neu-bitter-lemon;
    border-width: 2px;
    padding: px-to-rem(16px);
  }

  &:disabled {
    background-color: $neu-pale-grey-three;
    border-color: $neu-light-blue-grey-two;
    padding: px-to-rem(16px);
  }

  &:invalid,
  &[aria-invalid="true"] {
    border-width: 2px;
    border-color: $neu-flamingo-red;
    padding: px-to-rem(16px);
  }
}
