.tooltip {
  min-width: 200px;

  .tooltip-inner {
    border-radius: 4px;
  }

  &--text-center {
    .tooltip-inner {
      text-align: center;
    }
  }

  &--text-left {
    .tooltip-inner {
      text-align: left;
    }
  }
}
