$icon-size: 14px;

.tooltip-wrapper {
  @include media-breakpoint-down (sm) {
    display: block;
    margin-left: 0;
  }

  display: inline-block;

  position: relative;

  &--icon {
    margin-left: px-to-rem(5px);
    top: -5px;

    .tooltip {
      @include media-breakpoint-down (sm) {
        display: none;
      }

      display: block;

      :global(.inline-icon) {
        height: px-to-rem($icon-size);
        width: px-to-rem($icon-size);
      }
    }
  }

  &--text {
    .tooltip {
      display: inline-block;
      border-bottom: 1px dotted $neu-greyish-brown;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.tooltip {
  cursor: help;
}
