.advanced {
  margin-top: map-get($spacers, 3);
  text-align: center;

  span {
    color: $neu-black;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
  }
}

.back {
  font-size: px-to-rem(15px);
  color: $neu-black;
  cursor: pointer;
}
