.container {
  :global(.row) {
    margin: 1.5rem 0;
  }
}

.invest-input {
  &:global(.form-group) {
    margin-bottom: 0;
  }

  label {
    margin-bottom: .25rem;
  }

}

.invest-all {
  display: block;
  margin-top: .25rem;
  text-align: right;
  font-size: .85em;
  font-weight: normal;
  color: $neu-blue;

  &:visited {
    color: $neu-blue;
  }
}

.icon {
  height: 1.5em;
  width: 1.5em;
  margin-right: .5em;
}

.equals {
  text-align: center;
  font-size: 3em;
}

.green {
  padding: 1px 0 .5em;
  background-color: $neu-seaweed-bg;

  :global(.alert),
  :global(.form-group) {
    margin-bottom: 0;
  }

  label {
    margin-bottom: .25rem;
  }
}

.summary {
  text-align: center;
}

.error,
.orange {
  color: $neu-bright-orange;
}

.wallet-info {
  strong {
    color: $neu-bright-orange;
  }
}
