.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  color: $neu-pale-grey;

  img {
    opacity: .1;
  }
}

.wrapper {
  position: relative;
  display: block;
  width: 100%;
  cursor: pointer;
}

.input {
  position: absolute;
  visibility: hidden;
}

.box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  border: 1px solid $neu-pale-grey;
}

.label {
  flex-grow: 1;
  padding: .75rem 1.25rem;
}

.balance {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-right: 1.2em;
}

.icon {
  margin-left: .5em;

  img {
    height: 2.4em;
  }
}

.balance-values {
  display: flex;
  flex-direction: column;
  line-height: 1.1;

  .balance-eur {
    font-size: .8em;
    color: $neu-pale-grey;
  }
}

.checked {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: $body-color;
  border-right: .5em solid $neu-seaweed;

  img {
    opacity: 1;
  }

  .balance {
    margin-right: .7em;
  }
}
