.container {
  :global(.row) {
    margin: 1.5rem 0;
  }
}

.invest-input {
  &:global(.form-group) {
    margin-bottom: 0;
  }

  label {
    margin-bottom: .25rem;
  }

  a {
    display: inline-block;
    margin-top: .25rem;
    font-size: .85em;
    font-weight: normal;
    color: $neu-blue;

    &:visited {
      color: $neu-blue;
    }
  }
}

.icon {
  height: 1.5em;
  width: 1.5em;
  margin-right: .5em;
}

.equals {
  justify-content: center;
  font-size: 2.5em;

  &:global(.row) {
    margin: 0;
  }
}
