.info-cell {
  flex-grow: 1;

  &:first-child {
    text-transform: uppercase;
  }

  &:last-child {
    text-align: right;
    padding: 0 .5rem;
  }
}

.download-link {
  svg {
    width: 1.5em;
    height: 1.5em;
    vertical-align: top;
    margin-right: .5em;
  }
}

.container {
  :global(.row) {
    margin: 2rem 0;
  }
}


