@import "../../../../styles/neufund-theme";

.date-field {
  @include media-breakpoint-up (lg) {
    flex-direction: row;
  }

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: px-to-rem(20px);
  flex-direction: column;

  input {
    @include media-breakpoint-up (lg) {
      width: px-to-rem(80px);
      margin: 0 px-to-rem(10px);
    }

    flex: 1;
    text-align: center;
  }

  .label {
    @include media-breakpoint-up (lg) {
      align-self: flex-end;
      margin-bottom: 0;
    }

    align-self: flex-start;
    flex-shrink: 0;
    margin-bottom: px-to-rem(10px);
  }

  .inputs-wrapper {
    display: flex;
    align-items: center;

    > div:last-of-type input {
      @include media-breakpoint-up (lg) {
        margin-right: 0;
      }
    }
  }
}

.error-label {
  color: $neu-red;
  text-align: right;
  margin: px-to-rem(5px) px-to-rem(10px);
}
