@import "../../../../styles/neufund-theme";

.container-widget {
  background-color: $gray7 !important; // sass-lint:disable-line no-important
  border: solid 1px $gray8;
}

.addon > :global(.input-group-text) {
  background-color: $gray7;
  padding: 0 px-to-rem(10px);
  border: 0;
}

.text-area {
  background-color: $gray7 !important; // sass-lint:disable-line no-important
  border: solid 1px $gray4;
}
