@import "../../../../styles/neufund-theme";

.container-widget {
  background-color: $gray7 !important;
  border: solid 1px $gray8;
}

.text-area {
  background-color: $gray7 !important;
  border: solid 1px $gray4;
}
