.form-label {
  @include font-label;

  @include media-breakpoint-down (md) {
    display: flex;
    flex-direction: column;
  }

  color: $color-graphite;
  display: inline-flex;
  margin-bottom: px-to-rem(8px);
}
