.content-wrapper {
  color: $neu-silver;
  padding: 0 50px;
}

.spinning-eth-wrapper {
  margin-bottom: $spacing-vertical-lg-3;
}

.title {
  @include font-label;
  font-size: 1rem;
  text-align: center;
  margin-bottom: $spacing-vertical-lg-1;
  margin-top: $spacing-vertical-lg-1;
}

.section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
}

.wallet-label {
  color: $neu-black;
}

.wallet-label-details {
  @include text-truncate;

  color: $neu-black;
  display: inline-block;
  width: 75%;
  align-self: flex-end;
}


.label {
  color: inherit;
}

.with-etherscan {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.full-width {
  flex-basis: 100%;
  flex-shrink: 0;
}

.disable {
  pointer-events: none;
}
