.content-wrapper {
  color: $neu-shuttle-gray;
  padding: 0 50px;
  font-size: 1rem;
}

.section--big {
  font-size: px-to-rem(20px);
}

.label {
  color: inherit;
  font-size: inherit;
  text-transform: none;
}

.etherscan-link {
  font-size: 12px;
}

.money {
  font-weight: bold;
  color: $neu-charcoal-grey;

  &--big {
    font-size: px-to-rem(20px);
  }
}

.tx-hash {
  font-size: 80%;
}

.with-top-spacing {
  margin-top: 1.5rem;

}

.with-spacing {
  margin-bottom: 1.5rem;
}

.no-spacing {
  margin-bottom: 0;
}

.compensate-spacing {
  margin-top: px-to-rem(-22px);
}

.block {
  color: $neu-shuttle-gray;
  font-size: 80%;
}

.verified-user {
  line-height: px-to-rem(24px);
  font-size: px-to-rem(12px);
}
