%landing-header {
  @include headline-big;

  @include media-breakpoint-up(md) {
    @include headline-huge;
  }

  color: $neu-charcoal-grey2;
  font-weight: bold;
}

.landing {
  background: $neu-white;

  padding-top: px-to-rem(100px);
  padding-bottom: px-to-rem(100px);
}

.neon {
  background-color: $neu-neon-yellow;
  height: 15px;
  margin-bottom: 2rem;
  width: 110px;
}

.header {
  @extend %landing-header;
}

.description {
  @include font-headline-small-roboto;

  color: $neu-shuttle-gray;
  margin-bottom: 0;
}

.button-group {
  @include media-breakpoint-up(sm) {
    margin-top: px-to-rem(85);
  }

  display: flex;
  flex-flow: row;
  margin-top: px-to-rem(24);
}

.button {
  margin-right: 1rem;
}

.image {
  @include media-breakpoint-up(sm) {
    padding: 0 10%;

    img {
      margin: 0 auto;
    }
  }

  grid-template-rows: 1fr;
  padding: 0 15%;

  img {
    max-width: 100%;
    margin: 2rem auto;
  }
}

.investment-opportunities {
  @include media-breakpoint-up(sm) {
    padding-top: px-to-rem(141);
  }

  padding-top: px-to-rem(24);
}
