.token {
  @include rect(25px);
  display: inline-block;
}

.token-small {
  @include rect(16px);
}

.token-name {
  @include nds-body;
}

.document-link {
  margin-bottom: px-to-rem(16px);
  text-align: left;
}

.portfolio-action-button {
  min-width: px-to-rem(95px);
}

.end-time {
  margin-left: px-to-rem(33px);
}

.wrapper {
  grid-row-gap: px-to-rem(32px);
}

.container {
  grid-row-gap: px-to-rem(12px);
}

.table-container {
  display: flex;
  min-height: px-to-rem(128px);
  align-items: center;
}
