@import "../../styles/neufund-theme";

$xs-height: 60px;
$sm-width: 65px;
$lg-width: 133px;

.menu {
  @include media-breakpoint-up(sm) {
    width: $sm-width;
    height: 100%;
  }
  @include media-breakpoint-up(lg) {
    width: $lg-width;
  }

  height: $xs-height;
}

.content {
  height: 100%;
}
