$_icon-size: px-to-rem(20px);

$sm-width: px-to-rem(65px);
$lg-width: px-to-rem(140px);

.menu {
  @include rect(100%, $header-height);

  @include media-breakpoint-up(sm) {
    @include rect($sm-width, 100%);

    display: block;
    padding-top: map-get($spacers, 3);
    justify-content: flex-start;
  }

  @include media-breakpoint-up(lg) {
    width: $lg-width;
  }

  background-color: $color-blue-dark;
  border-top: 2px solid $color-blue-dark;
  display: flex;
  flex-shrink: 0;
  position: relative;
}

.menu-items {
  @include media-breakpoint-up(sm) {
    flex-direction: column;
  }

  color: $color-white;
  display: flex;
  top: 20px;
  position: sticky;

  .menu-item {
    @include media-breakpoint-up(sm) {
      padding-right: px-to-rem(5px);
      height: px-to-rem(65px);
      border-left: 3px solid transparent;
    }

    @include media-breakpoint-down(xs) {
      width: px-to-rem(60px);
      border-bottom: 3px solid transparent;
    }

    @include media-breakpoint-up(lg) {
      display: flex;
      height: px-to-rem(40px);
      line-height: px-to-rem(40px);
      background-position: map-get($spacers, 3) center;
    }

    flex-shrink: 0;
    user-select: none;
    position: relative;
    height: px-to-rem(60px);
    display: flex;
    align-items: center;
    text-decoration: none;

    .icon {
      color: $color-brand;
    }

    .disabled-item {
      color: $color-white;
    }

    &:hover,
    &--active {
      background-color: $neu-charcoal-grey;
      border-color: $neu-piss-yellow;
      text-decoration: none;
    }

    &:focus {
      background-color: lighten($neu-charcoal-grey, 8%);
      color: $color-white;
    }
  }
}

.icon {
  @include media-breakpoint-up(sm) {
    margin-left: 20px;
    margin-right: 10px;
  }

  margin: 0 auto;
  flex-shrink: 0;
  line-height: px-to-rem(40px);
  height: $_icon-size;
  width: $_icon-size;
  position: relative;
}

.name {
  @include media-breakpoint-down(md) {
    display: none;
  }

  max-width: calc(100% - (2.5 * #{$_icon-size}));
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.action-indicator {
  height: px-to-rem(8px);
  width: px-to-rem(8px);
  background-color: $neu-bright-orange;
  border-radius: 50%;
  position: absolute;
  top: px-to-rem(-1px);
  right: px-to-rem(-2px);
}
