@import "../../styles/neufund-theme";

.menu {
  @include media-breakpoint-up(sm) {
    display: block;
    padding-top: map-get($spacers, 3);
  }

  display: flex;
}

.menu-item {
  position: relative;
  height: px-to-rem(60px);
  color: $neu-silver;
  display: flex;
  align-items: center;

  &:focus,
  &:hover,
  &:global(.active) {
    background-color: $neu-charcoal-grey;
    color: $neu-white-two;
    border-color: $neu-piss-yellow;

    .icon {
      color: inherit;
    }
  }

  @include media-breakpoint-down(xs) {
    width: px-to-rem(60px);
    border-bottom: 3px solid transparent;
  }

  @include media-breakpoint-up(sm) {
    height: px-to-rem(65px);
    border-left: 3px solid transparent;
  }

  @include media-breakpoint-up(lg) {
    display: flex;
    height: px-to-rem(40px);
    line-height: px-to-rem(40px);
    background-position: map-get($spacers, 3) center;
  }
}

.icon {
  margin-left: 20px;
  margin-right: 10px;
  line-height: px-to-rem(40px);
  height: px-to-rem(20px);
  width: px-to-rem(20px);
  position: relative;
}

.name {
  @include media-breakpoint-down (md) {
    display: none;
  }
}

.action-indicator {
  height: px-to-rem(8px);
  width: px-to-rem(8px);
  background-color: $neu-bright-orange;
  border-radius: 50%;
  position: absolute;
  top: px-to-rem(-1px);
  right: px-to-rem(-2px);
}
