@import "../../styles/neufund-theme";

$xs-height: px-to-rem(60px);
$sm-width: px-to-rem(65px);
$lg-width: px-to-rem(133px);

.menu {
  @include media-breakpoint-up(sm) {
    width: $sm-width;
    height: 100%;
  }
  @include media-breakpoint-up(lg) {
    width: $lg-width;
  }
  height: $xs-height;
  background-color: $neu-almost-black;
}

.content {
  height: 100%;
}
