@import "../../../styles/neufund-theme";

.features {
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
  overflow: hidden;

  :global(.row) {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  h2 {
    font-size: 22px;
    line-height: 36px;
    font-weight: 300;
    width: 300px;
    text-transform: uppercase;
    margin: auto;
  }

  p {
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    width: 300px;
    margin: auto;
  }
}
