// sass-lint:disable-all

.wrapper {
  padding-top: 70px;
  padding-bottom: 70px;
}

:root {
  --page-color: #ffffff;
  --ring-color: #394651;
  --sphere-color: #D5E20F;
  --loader-size: 200px;
  --ring-size: 20px;
  --sphere-size: 60px;
}

$spd: 1.6s;

* { box-sizing: border-box; }

.loader {
  position: relative;
  width: var(--loader-size);
  height: var(--loader-size);
  animation: rotate $spd * 3 linear infinite;
  margin-left: auto;
  margin-right: auto;
}

.ring {
  position: relative;
  width: 100%;
  height: 100%;
  border: var(--ring-size) solid var(--ring-color);
  border-radius: 100%;
  z-index: 2;
}

.sphere {
  position: absolute;
  top: -20%;
  left: -20%;
  width: 80%;
  height: 80%;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: var(--sphere-size);
    height: var(--sphere-size);
    background-color: var(--sphere-color);
    border-radius: 100%;
  }

  @for $i from 1 through 3 {
    &:nth-child(#{$i}) {
      animation:
        rotate $spd (-$i * $spd / 3) linear infinite,
        sphere-anim $spd (-$i * $spd / 3) linear infinite;
    }
  }
}

@keyframes rotate {
  from { transform: rotate(0); }
  to   { transform: rotate(360deg); }
}

@keyframes sphere-anim {
  from { z-index: 1; }
  to   { z-index: 2; }
}
