@import "../../../styles/neufund-theme";

.join-cta {
  @include media-breakpoint-down (md) {
    flex-direction: column;
    justify-content: center;
  }

  display: flex;
}

.register-now {
  align-self: flex-start;
}

.email {
  margin: 0;

  .email-input {
    @include media-breakpoint-only(lg) {
      width: px-to-rem(150);
    }
    @include media-breakpoint-only(xs) {
      width: px-to-rem(155);
    }

    background-color: transparent;
    border: 0;

    border-bottom: 2px solid $color-black;
    width: px-to-rem(200px);
    font-size: 14px;
    height: 38px;
    padding: 0 10px;
    margin-right: 15px;

    &::placeholder {
      color: $color-graphite;
    }
  }

  .email-btn {
    background-color: $neu-piss-yellow;
    text-transform: uppercase;
    font-weight: $font-weight-bold;

    cursor: pointer;
  }
}
