.join-cta {
  @include media-breakpoint-down (sm) {
    flex-direction: column;
    justify-content: center;
  }

  display: flex;
}

.register-now {
  align-self: flex-start;
}

.email {
  margin: 0;

  & > * {
    height: px-to-rem(34);
    border: 1px solid $neu-piss-yellow;
  }

  .email-input {
    @include media-breakpoint-only(lg) {
      width: px-to-rem(140);
    }
    @include media-breakpoint-only(xs) {
      width: px-to-rem(155);
    }

    background-color: transparent;
    border: 0;
    border-bottom: 1px solid $color-black;
    width: px-to-rem(200px);
    font-size: 14px;
    height: 38px;
    padding: 0 10px;
    margin-right: 15px;

    &::placeholder {
      color: $neu-greyish-brown;
    }
  }

  .email-btn {
    height: 38px;
    background-color: transparent;
    border: 2px solid $color-black;
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    padding: 0 12px;

    cursor: pointer;
  }
}
