@import "../../../styles/neufund-theme";

.hero-cta {
  padding-top: px-to-rem(100px);
}

.hero-header {
  font-size: 3rem;

  font-weight: $font-weight-light;
  text-transform: uppercase;
  color: $color-graphite;

  &::after {
    content: "";
    display: block;
    width: 30%;
    height: px-to-rem(4px);
    background-color: $color-brand;
    margin-bottom: $spacing-vertical-lg-3;
    margin-top: $spacing-vertical-lg-1;
  }
}

.hero-description {
  @include media-breakpoint-down (md) {
    @include font-headline-small;

    text-shadow: $shadow-white;
  }

  font-size: 1.4rem;
  letter-spacing: .03125rem;
  margin-bottom: $spacing-vertical-lg-3;
}

.email {
  & > * {
    height: px-to-rem(34);
    border: 1px solid $neu-piss-yellow;
  }

  .email-input {
    width: px-to-rem(300);
    border: 1px solid $neu-piss-yellow;
    font-size: 14px;

    &::placeholder {
      color: $gray;
    }
  }

  .email-btn {
    background-color: $neu-piss-yellow;
    text-transform: uppercase;
    font-weight: $font-weight-bold;

    cursor: pointer;
  }
}

.images {
  position: relative;
  height: 1000px;

  .company-image {
    filter: drop-shadow(5px 5px 5px #222);
    position: absolute;
    animation: breathing 10s ease-out infinite normal;

    transition: 0.2s ease-in-out;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }

    // images placement
    &:nth-of-type(1) {
      top: -100px;
      left: 50px;
    }

    &:nth-of-type(2) {
      top: -27px;
      right: -91px;
    }

    &:nth-of-type(3) {
      top: 215px;
      left: 150px;
    }

    &:nth-of-type(4) {
      top: 270px;
      right: -203px;
    }

    &:nth-of-type(5) {
      top: 493px;
      left: 0px;
    }

    &:nth-of-type(6) {
      top: 530px;
      right: -39px;
    }
  }
}


@keyframes breathing {
  0% {
    transform: scale(0.98);
  }

  25% {
    transform: scale(1);
  }

  60% {
    transform: scale(0.98);
  }

  100% {
    transform: scale(0.98);
  }
}
