.landing-featured-wrapper {
  padding-top: px-to-rem(60px);
  max-width: 1334px;
  margin: auto;
}

.landing-featured-description,
.landing-features-container {
  padding-left: px-to-rem(32px);
  padding-right: px-to-rem(32px);
}

.landing-features-header {
  @include headline-bigger;

  text-transform: uppercase;
  margin-top: px-to-rem(45px);
  margin-bottom: px-to-rem(45px);
}

.landing-featured-description,
.landing-features {
  @include headline-bigger;
}

.landing-features {
  list-style: none;
  padding-left: 0;

  & > li {
    &::before {
      content: "";
      display: inline-block;
      height: .8em;
      width: .8em;
      background-image: url("../../../assets/img/tick.svg");
      background-size: contain;
      background-repeat: no-repeat;
      padding-left: 2em;
      position: relative;
      top: 5px;
    }
  }
}
