.hero {
  overflow: hidden;
}

.hero-cta {
  @include media-breakpoint-up(sm) {
    padding-top: px-to-rem(100px);
  }

  padding-top: px-to-rem(40px);
}

.hero-header {
  font-size: 2.9rem;

  font-weight: $font-weight-light;
  text-transform: uppercase;
  color: $neu-greyish-brown;

  &::after {
    content: "";
    display: block;
    width: 30%;
    height: px-to-rem(4px);
    background-color: $neu-piss-yellow;
    margin-bottom: $spacing-vertical-lg-3;
    margin-top: $spacing-vertical-lg-1;
  }
}

.hero-description {
  @include media-breakpoint-down (md) {
    @include font-headline-medium;

    text-shadow: $shadow-white;
  }

  font-size: 1.4rem;
  letter-spacing: .03125rem;
  margin-bottom: $spacing-vertical-lg-3;
  max-width: 476px;
  width: 100%;
}

.images {
  @include media-breakpoint-up(xl) {
    height: 850px;
  }

  @include media-breakpoint-only(lg) {
    height: 700px;
  }

  @include media-breakpoint-down(xl) {
    transform: translateX(-20%) scale(.9);
  }

  position: relative;
  margin-top: -10%;

  .company-image {
    @include circle;
    @include responsive-size(height, 40px, 250px);
    @include responsive-size(width, 40px, 250px);

    filter: drop-shadow(5px 5px 5px $gray-shadow);
    position: absolute;
    transition: .2s ease-in-out transform;
    transform-origin: center;
    overflow: hidden;

    top: 0;
    left: 0;
    will-change: transform;

    &:hover {
      transform: scale(1.1);
    }

    &:nth-of-type(2) {
      transform: translateX(120%);

      &:hover {
        transform: scale(1.1) translateX(110%);
      }
    }

    &:nth-of-type(3) {
      transform: translateX(240%);

      &:hover {
        transform: scale(1.1) translateX(220%);
      }
    }

    &:nth-of-type(4) {
      transform: translate(65%, 100%);

      &:hover {
        transform: scale(1.1) translate(60%, 90%);
      }
    }

    &:nth-of-type(5) {
      transform: translate(185%, 100%);

      &:hover {
        transform: scale(1.1) translate(170%, 90%);
      }
    }

    &:nth-of-type(6) {
      transform: translate(10%, 200%);

      &:hover {
        transform: scale(1.1) translate(10%, 185%);
      }
    }

    &:nth-of-type(7) {
      transform: translate(130%, 200%);

      &:hover {
        transform: scale(1.1) translate(120%, 185%);
      }
    }

    &:nth-of-type(8) {
      transform: translate(250%, 200%);

      &:hover {
        transform: scale(1.1) translate(230%, 185%);
      }
    }

    @include media-breakpoint-down(sm) {
      width: 140px;
    }
  }
}


@keyframes breathing {
  0% {
    transform: scale(.98);
  }

  25% {
    transform: scale(1);
  }

  60% {
    transform: scale(.98);
  }

  100% {
    transform: scale(.98);
  }
}
