// sass-lint:disable-all

$color-2nd: GhostWhite;
$color-3rd: Gainsboro;

.view {
	font-family:Lato, sans-serif;
	font-size: 15px;
	margin: 30px 0;

	display:flex;
	align-items:center;
  flex-direction:column;

  *, *:before, *:after{
    box-sizing:border-box;
  }

  *:focus{
    outline:none;
  }

  a{
    text-decoration:none;
    color:inherit;
  }
}

.title {
	color:#fff;
	text-align:center;
	font-weight:300;
	text-shadow:0 1px 0 rgba(0,0,0,0.2);
	font-size:2.8em;
	margin-top:1.5em;

	small {
		display:block;
		font-size:0.6em;
		margin-top:0.4em;
	}
}

.credits{
	color:#fff;
	text-shadow:0 1px 0 rgba(0,0,0,0.2);
	margin-top:2em;
	font-size:0.8em;
	opacity:0.5;
}

.window{
	width:100%;
	max-width:400px;
	background:$color-2nd;
	border-radius:0.3rem;
	box-shadow:0 8px 12px rgba(0,0,0,0.1);
	overflow:hidden;

	.window-header{
		height:37px;
		background:$color-3rd;
		position:relative;

		.action-buttons{
			position:absolute;
			top:50%;
			left:10px;
			margin-top:-5px;
			width:10px;
			height:10px;
			background:Crimson;
			border-radius:50%;
			box-shadow:
				15px 0 0 Orange,
				30px 0 0 LimeGreen;
		}

		.language{
			display:inline-block;
			position:absolute;
			right:10px;
			top:50%;
			margin-top:-10px;
			height:21px;
			padding:0 1em;
			text-align:right;
			-webkit-appearance:none;
			appearance:none;
			border:none;
			background:transparent;
			font-family:Lato, sans-serif;
			color:DimGrey;

			&:before{
				content:'asd';
			}

			&:hover{
				background:rgba(0,0,0,0.1);
			}
		}
	}

	.window-body{
		position:relative;
		height:200px;

		.code-input, .code-output{
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			padding:1rem;
			border:none;
			font-family:'PT Mono', monospace;
			font-size:0.8rem;
			background:transparent;
			white-space:pre-wrap;
			line-height:1.5em;
			word-wrap: break-word;
		}

		.code-input {
      // this prevents stealing scrolling context on smaller devices
      @include media-breakpoint-only(xs) {
        overflow: hidden;
      }

			opacity:0.7;
			margin:0;
			color:#999;
			resize:none;
		}

		.code-output{
			pointer-events:none;
			z-index:3;
			margin:0;
			overflow-y:auto;

			code{
				position:absolute;
				top:0;
				left:0;
				margin:0;
				padding:1rem;
				display:block;
				color:#666;
				font-size:0.8rem;
				font-family:'PT Mono', monospace;
			}
		}
	}
}
