.media {
  margin-left: auto;
  margin-right: auto;
}


.media-quote {
  .media-quote-image {
    @include media-breakpoint-down(md) {
      margin-bottom: 30px;
    }

    width: 150px;
    margin-left: auto;
    margin-right: auto;
  }

  .media-quote-text {
    color: $gray-shadow;
    font-style: italic;
    font-size: 20px;
    font-weight: 300;
  }
}


.header {
  margin-top: 30px;
  margin-bottom: 75px;
}
