.delete-button {
  color: $neu-flamingo-red;
}

.modal-footer {
  justify-content: space-between;
}

.cancel-button {
  @include media-breakpoint-down(sm) {
    margin-right: px-to-rem(4px);
  }

  margin-right: px-to-rem(16px);
}
