.cover {
  margin: -$padding;
  width: calc(100% + 2 * #{$padding});
  margin-bottom: auto;
}

.content {
  height: 220px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: start;
}

.group-wrapper {
  width: 100%;
  display: table;
  text-align: start;

  .group {
    display: table-row;

    .label,
    .value {
      width: 50%;
      display: table-cell;
      vertical-align: middle;
    }

    .label {
      @include font-label;

      padding-top: px-to-rem(3px);
      padding-bottom: px-to-rem(3px);
      padding-right: px-to-rem(13.6px);
    }

    .value {
      @include font-label;

      text-transform: none;
    }
  }
}

.quote {
  @include blockquote;

  margin-top: auto;
  margin-bottom: auto;
}


