$color-brand: #d5e20f;

$color-black: #0b0e11;
$color-graphite: #4c4c4c;
$color-gray: #e3eaf5;
$color-gray-light: #f0f0f0;

$color-white: #fff;
$color-silver: #c4c5c6;

$color-blue-dark: #394651;
$color-green: #50e3c2;
$color-orange: #ff6d00;
