$color-brand: #d5e20f;

$color-black: #0b0e11;
<<<<<<< HEAD
$color-graphite: #4c4c4c;
$color-gray: #fafafa;
$color-gray-light: #f0f0f0;
$color-silver: #c4c5c6;

=======
$color-silver: #c4c5c6;
$color-green: #50e3c2;
$color-orange: #ff6d00;
>>>>>>> master
$color-white: #fff;

$color-green: #50e3c2;
