.eto-date-wrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
}

.eto-date {
  font-size: 1rem;
  font-weight: normal;
  width: auto;
  border: 0;

  & td {
    padding-right: .5rem;
  }
}

.eto-date-bold {
  font-size: 1.1rem;
  font-weight: bold;
}

.eto-time-left-start {
  font-size: 1.5rem;
  font-weight: normal;
}

.widget-button {
  display: flex;
  flex-flow: row;
  width: 100%;
  margin: 0;
  align-self: end;
  justify-content: space-between; //more than one button
}
