

.label {
  @include font-label;

  text-transform: uppercase;
  color: $neu-slate-grey;
  margin: 0;
  display: flex;
  align-items: center;

  :global(.inline-icon) {
    width: px-to-rem(20px);
    height: px-to-rem(20px);
    margin-right: px-to-rem(10px);
  }
}
