.eto-overview {

  .about-wrapper {
    display: flex;
    padding-top: px-to-rem(15px);
  }

  .details-wrapper {
    @include media-breakpoint-down (lg) {
      flex-wrap: wrap;
    }

    @include media-breakpoint-down (md) {
      flex-direction: column;
    }

    display: flex;
    padding-top: px-to-rem(15px);
    padding-bottom: px-to-rem(15px);
  }

  .logo-image {
    width: px-to-rem(100px);
    height: px-to-rem(100px);
    background-color: $neu-light-blue-grey;
    margin-right: px-to-rem(15px);
  }

  .label,
  .value {
    @include font-default;
  }

  .label {
    min-width: px-to-rem(36px);
  }

  .value {
    font-weight: $font-weight-bold;
    color: $neu-black;
  }

  .detail-box {
    @include media-breakpoint-down (lg) {
      flex-basis: 50%;
    }

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 25%;
    padding: px-to-rem(15px);

    + .detail-box {
      @include media-breakpoint-down (lg) {
        border-left: 0;
      }

      border-left: 1px solid $neu-pale-grey;
    }

    a {
      display: inline-block;
    }
  }

  .token,
  .token-price {
    display: flex;
    padding: px-to-rem(10px) 0;
  }

  .token-logo {
    width: px-to-rem(28px);
    height: px-to-rem(28px);
    background-color: $neu-light-blue-grey;
    margin-right: px-to-rem(10px);
  }

  .token-price,
  .token-symbol {
    @include font-headline;

    font-weight: $font-weight-bold;
    color: $neu-black;
  }
}
