

.founder-team {
  padding: px-to-rem(14px);

  &:hover {
    .background {
      background-color: $neu-pale-blue;
    }
  }

  :global(.inline-icon) {
    width: px-to-rem(20px);
    height: px-to-rem(20px);
    transition: 150ms ease-out color;

    &:hover {
      color: lighten($neu-black, 14%);
    }
  }
}

.background {
  padding: px-to-rem(14px);
  transition: background-color 150ms ease-out;
}

.profile-wrapper {
  display: flex;
  margin-bottom: px-to-rem(10px);
}

.text-wrapper {
  display: flex;
  flex-direction: column;
}

.name,
.title {
  @include font-default;

  color: $neu-slate-grey;
  margin: 0;
}

.name {
  font-weight: $font-weight-bold;
}

.link {
  margin-top: auto;
}

.image {
  height: px-to-rem(84px);
  width: px-to-rem(84px);
  margin-right: px-to-rem(14px);
}
