

.partners-and-customers {
  :global(.inline-icon) {
    height: 16px;
    width: 16px;
    display: inline-block;
    margin-left: px-to-rem(10px);
  }

  a {
    display: inline-flex;
    align-items: center;
  }
}

.title {
  @include font-label;

  text-transform: uppercase;
  color: $neu-slate-grey;
  margin: 0;
}
