.panel-body {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $neu-pale-grey;
  padding: px-to-rem(15px) px-to-rem(20px);
}

.icon {
  @include rect(38px);

  margin-right: 18px;
}

.link-button {
  color: $neu-blue;
  text-align: right;
}
