.counter-widget {
  margin: 0 auto;
  text-align: center;
}

.title {
  @include font-default;

  margin-bottom: px-to-rem(8px);
  text-transform: uppercase;
}

.ends-at {
  @include font-label;

  color: $neu-bright-orange;
  display: inline-block;
  margin-top: px-to-rem(8px);
  text-transform: none;
}
