.eto-overview-status {
  display: block;
  background-color: $neu-white-two;
  box-shadow: $shadow-bottom-black;
  color: $neu-slate-grey;
  padding: px-to-rem(8px) px-to-rem(10px);
}


.overview-wrapper {
  $divider-width: 41px;

  @include media-breakpoint-up(md) {
    grid-template: repeat(5, auto) 1fr auto / 1fr 1fr;
    grid-template-areas: "eto-status powered-by-neufund" "eto-title eto-stats" "eto-tags eto-stats" "divider  divider" "eto-data eto-data" "more-details .";
  }

  @include media-breakpoint-up(lg) {
    grid-template: auto 1fr auto / auto $divider-width auto $divider-width auto $divider-width minmax(auto, 30%);
    grid-template-areas: "eto-status . eto-tags . eto-stats . eto-data" "eto-title . eto-tags . eto-stats . eto-data" "powered-by-neufund . eto-tags . eto-stats . eto-data";
    align-items: center;
  }

  width: 100%;
  height: 100%;
  display: grid;
  grid-template: repeat(9, auto) / 1fr;
  grid-template-areas: "eto-status" "eto-title" "eto-tags" "." "eto-stats" "." "eto-data" "powered-by-neufund";
}

.status-of-eto {
  @include media-breakpoint-up(md) {
    align-self: flex-start;
  }

  grid-area: eto-status;
  font-size: 12px;
  letter-spacing: -.2px;
  display: flex;
  color: $neu-greyish-brown;
  text-transform: uppercase;
  align-self: center;
}

.eto-title-wrapper {
  @include media-breakpoint-up(md) {
    margin-top: 0;
    align-self: start;
    justify-self: start;
    height: 100%;
  }

  @include media-breakpoint-up(lg) {
    align-self: center;
    margin: 0 0 0 px-to-rem(12px);
    max-width: px-to-rem(220px);
  }

  grid-area: eto-title;
  text-align: left;
  margin-top: px-to-rem(20px);
}

.tags-wrapper {
  @include media-breakpoint-up(md) {
    margin: px-to-rem(10px) px-to-rem(45px) px-to-rem(20px);
    align-items: center;
  }

  @include media-breakpoint-up(lg) {
    margin: px-to-rem(10px) 0;
    align-self: center;
  }

  grid-area: eto-tags;
  display: grid;
  grid-template: auto / 1fr;
  grid-gap: 6px;
  grid-auto-flow: row;
  justify-items: stretch;
  margin: px-to-rem(20px) px-to-rem(50px);
}

.eto-stats-wrapper {
  @include media-breakpoint-up(md) {
    align-self: flex-end;
  }

  @include media-breakpoint-up(lg) {
    align-self: center;
    margin: px-to-rem(20px) 0;
  }

  grid-area: eto-stats;
  margin: px-to-rem(20px) px-to-rem(10px);
}

.eto-data-wrapper {
  @include media-breakpoint-up(md) {
    margin: px-to-rem(20px) px-to-rem(12px) px-to-rem(12px);
  }

  @include media-breakpoint-up(lg) {
    margin: px-to-rem(12px);
    margin-left: 0;
    justify-items: center;
  }

  grid-area: eto-data;
  align-self: stretch;

  padding: 0;
  margin: px-to-rem(20px) px-to-rem(12px) px-to-rem(12px);

  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
}

.powered-by-neufund {
  @include media-breakpoint-up(md) {
    justify-self: flex-end;
  }

  @include media-breakpoint-up(lg) {
    justify-self: flex-start;
  }

  grid-area: powered-by-neufund;
  line-height: 100%;

  .powered {
    font-size: 8px;
  }

  .neufund {
    font-size: 16px;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      color: $neu-piss-yellow;
    }
  }
}

.more-details {
  @include media-breakpoint-up(md) {
    grid-area: more-details;
    margin: 0 0 px-to-rem(12px) px-to-rem(12px);
  }

  @include media-breakpoint-up(lg) {
    grid-area: powered-by-neufund;
  }

  grid-area: powered-by-neufund;
}

.tag-item {
  justify-self: stretch;
}

.group-wrapper {
  width: 100%;

  .group-table {
    display: table;
  }

  .group {
    @include media-breakpoint-up(md) {
      display: table;
      width: 100%;
    }

    display: table-row;

    .label,
    .value {
      width: 50%;
      display: table-cell;
      vertical-align: middle;

      &--full {
        display: table-row;
        width: 100%;
      }
    }

    .back-now {
      vertical-align: bottom;
      padding-bottom: px-to-rem(5px);
    }

    .label {
      @include media-breakpoint-up(md) {
        @include font-label-small;
      }

      @include font-label;

      padding-top: px-to-rem(5px);
      padding-bottom: px-to-rem(5px);
      padding-right: px-to-rem(13.6px);

      &-no-uppercase {
        text-transform: none;
      }
    }

    .value {
      @include font-label;

      text-transform: none;
    }

    &--no-padding {
      .label,
      .value {
        vertical-align: text-top;
      }

      .label {
        padding-top: 2px;
        padding-bottom: 2px;
        padding-right: px-to-rem(6px);
      }
    }
  }
}

.divider {
  @include media-breakpoint-up(md) {
    display: none;
  }

  @include media-breakpoint-up(lg) {
    display: block;
    grid-row: 1 / span 3;
    align-self: stretch;
    justify-self: center;
    margin: 10px 20px;
  }

  border-left: thin $neu-silver solid;
  border-bottom: thin $neu-silver solid;
  align-self: center;
  margin: 0;
}

.divider-extra {
  @include media-breakpoint-up(md) {
    display: block;
    grid-area: divider;
  }

  @include media-breakpoint-up(lg) {
    display: block;
    grid-area: auto;
    grid-row: 1 / span 3;
  }

  display: none;
}

// widgets

@mixin pledge-actions-button($color) {
  color: $color;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  border: 0;
  background-color: transparent;
}

.change-pledge {
  @include pledge-actions-button($neu-seaweed);
}

.delete-pledge {
  @include pledge-actions-button($neu-bright-orange);
}

.ends-in {
  color: $neu-bright-orange;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
}

.quote {
  @include blockquote;
}

.token-details {
  display: flex;
  margin: px-to-rem(20px) 0;
}

.eto-overview-status-button {
  margin-top: 1rem;
}
