.error-label {
  color: $neu-bright-orange;
  text-align: right;
}

.note-label {
  min-height: px-to-rem(21px);
  padding: px-to-rem(5px) px-to-rem(5px) 0;
  text-align: right;
}

.addon {
  &:global(.is-invalid) {
    border-color: $color-red;
  }

  > :global(.input-group-text) {
    background-color: transparent;
    padding: 0 0 px-to-rem(4px) px-to-rem(10px);
    border: 0;
    border-bottom: 1px solid $color-graphite;
  }
}

.custom-select {
  position: relative;

  &::after {
    @include triangle-down(14px, 9px, $color-green);

    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    content: "";
  }

  select {
    // sass-lint:disable no-vendor-prefixes
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  &.disabled {
    &::after {
      @include triangle-down(14px, 9px, $color-silver);
    }

    & select {
      color: $color-silver;
    }
  }
}

.input-field {
  &:disabled {
    color: $color-silver;
  }

  &::placeholder {
    color: $color-black;
  }
}
