.title {
  font-size: $font-size-base;
  text-transform: uppercase;
}

.text,
.hint {
  padding-right: px-to-rem(34px);
  padding-left: px-to-rem(34px);
  margin-top: px-to-rem(5px);
}

.hint {
  color: $color-orange;
}
