.group-wrapper {
  @include nds-label;

  color: $neu-charcoal-grey;
  display: grid;
  grid-template: auto / 50% 50%;
  grid-gap: .1rem;
  margin-bottom: px-to-rem(14px);
}

.label {
  font-weight: 500;
  text-transform: uppercase;
}
