.container {
  display: grid;
  grid-template: auto / 1fr;
  justify-content: center;
  justify-items: center;
  grid-row-gap: 1rem;

  width: 100%;

  header {
    margin-bottom: .5rem;
    justify-self: stretch;
  }

  p {
    margin-bottom: 0;
  }
}

.total-payout {
  font-weight: bold;
}

.total-payout-negative {
  color: $neu-base-red;
}

.value {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 2rem;
  justify-content: flex-end;
}

.tha-link {
  justify-self: center;
}

.payout-list {
  margin-bottom: .5rem;
  justify-self: stretch;
}
