.eto-overview-status {
  background-color: $color-white;
  box-shadow: $shadow-bottom-black;
  color: $color-graphite-light;
  padding: px-to-rem(20px);
}

.status-wrapper,
.details-wrapper,
.stage-content-wrapper {
  @include media-breakpoint-up (md) {
    margin-bottom: 0;
    margin-top: 0;
  }

  margin-bottom: px-to-rem(20px);
  margin-top: px-to-rem(20px);
}

.overview-wrapper {
  @include media-breakpoint-up (md) {
    flex-direction: row;
  }

  display: flex;
  flex-direction: column;
}

.divider {
  background-color: $color-silver;
  flex-basis: 1px;
  margin: 0 px-to-rem(30px);
}

.status-wrapper {
  display: flex;
  flex-basis: 26%;
  flex-direction: column;
  justify-content: space-between;

  .status-of-eto {
    @include media-breakpoint-up (sm) {
      flex-direction: row;
    }

    display: flex;
    flex-direction: column;
    text-transform: uppercase;

    .title {
      @include font-label;

      margin-right: px-to-rem(10px);
    }
  }

  .token-details {
    align-items: center;
    display: flex;
    margin: px-to-rem(20px) 0;
  }

  .image {
    @include circle;
    @include responsive-size(width, 34px, 72px);

    margin-right: px-to-rem(10px);
  }

  .token-name {
    @include font-headline-small;

    color: $color-graphite-light;
  }

  .token-symbol {
    @include font-label;

    color: $color-graphite-light;
  }
}

.details-wrapper {
  flex-basis: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.group {
  @include media-breakpoint-up (sm) {
    flex-direction: row;
  }

  display: flex;
  flex-direction: column;
  margin-bottom: px-to-rem(20px);

  &:last-of-type {
    margin-bottom: 0;
  }

  .label {
    @include font-label;

    flex-basis: 60%;
  }

  .value {
    @include font-label;

    @include media-breakpoint-up (sm) {
      margin-bottom: 0;
      margin-left: 0;
    }

    margin-bottom: px-to-rem(10px);
    margin-left: px-to-rem(10px);
    text-transform: none;
  }
}

.stage-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 33%;
}

.widget-campaigning {
  flex-grow: 1;
}

.widget-public-eto {
  display: flex;
  flex-direction: column;

  .header,
  .investors-backed {
    display: flex;
    justify-content: space-between;
  }

  .investors-backed {
    flex-basis: 40%;
  }
}

.widget-claim {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .message {
    max-width: px-to-rem(260px);
    text-align: center;
    margin-bottom: px-to-rem(20px);
  }
}

.widget-pre-eto {
  display: flex;
  flex-direction: column;
  text-align: center;

  .title {
    @include font-default;

    margin-bottom: px-to-rem(8px);
    text-transform: uppercase;
  }

  .zone {
    @include font-label;

    color: $color-orange;
    margin-bottom: px-to-rem(8px);
  }
}
