.eto-overview-status {
  background-color: $color-white;
  box-shadow: $shadow-bottom-black;
  color: $color-graphite-light;
  padding: px-to-rem(8px);
}

// wrappers

.status-wrapper,
.details-wrapper,
.stage-content-wrapper,
.tags-wrapper {
  @include media-breakpoint-up (md) {
    margin-bottom: 0;
    margin-top: 0;
  }

  flex-basis: 25%;
  flex-grow: 1;
  margin-bottom: px-to-rem(20px);
  margin-top: px-to-rem(20px);
}

.status-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  max-width: 250px;
}

.tags-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  padding: 20px 0;
  max-width: 200px;

  > * {
    width: 100%;
  }
}

.overview-wrapper {
  @include media-breakpoint-up (md) {
    flex-direction: row;
  }

  display: flex;
  flex-direction: column;
}

.stage-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.details-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.divider {
  @include responsive-size(margin-left, 14px, 30px);
  @include responsive-size(margin-right, 14px, 30px);

  background-color: $color-silver;
  flex-basis: 1px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.group {
  @include media-breakpoint-up (sm) {
    flex-direction: row;
  }

  display: flex;
  flex-direction: column;
  margin-bottom: px-to-rem(20px);

  &:last-of-type {
    margin-bottom: 0;
  }

  .label {
    @include font-label;

    flex-basis: 60%;
  }

  .value {
    @include font-label;

    @include media-breakpoint-up (sm) {
      margin-bottom: 0;
      margin-left: 0;
    }

    margin-bottom: px-to-rem(10px);
    margin-left: px-to-rem(10px);
    text-transform: none;
  }
}

// widgets

.widget-campaigning {
  flex-grow: 1;
}

.widget-public-eto {
  display: flex;
  flex-direction: column;

  .header,
  .investors-backed {
    display: flex;
    justify-content: space-between;
  }

  .investors-backed {
    flex-basis: 40%;
  }
}

.widget-claim {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .message {
    max-width: 300px;
    text-align: center;
    margin-bottom: px-to-rem(20px);
  }
}

.widget-pre-eto {
  display: flex;
  flex-direction: column;
  text-align: center;

  .title {
    @include font-default;

    margin-bottom: px-to-rem(8px);
    text-transform: uppercase;
  }

  .zone {
    @include font-label;

    color: $color-orange;
    margin-bottom: px-to-rem(8px);
  }
}

.change-pledge {
  color: $color-green-dark;
  text-decoration: underline;
}

.delete-pledge {
  color: $color-orange;
  text-decoration: underline;
}

.ends-in {
  color: $color-orange;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
}

.quote {
  font-size: 16px;
  line-height: 1.06;
  letter-spacing: -.2px;
  font-style: italic;

  &::before,
  &::after {
    content: "\"";
  }
}

.register-now {
  justify-content: center;
  text-align: center;
}

.status-of-eto {
  font-size: 12px;
  letter-spacing: -.2px;
  display: flex;
  color: $color-graphite;
  text-transform: uppercase;

  .title {
    margin-right: 10px;
  }
}

.powered-by-neufund {
  .powered {
    font-size: 8px;
  }

  .neufund {
    font-size: 16px;
    margin-top: -2px;
  }
}

.widget-token-symbol {
  display: flex;
  margin-bottom: 20px;
  margin-top: 28px;
  margin-left: 14px;

  .token-image-wrapper {
    margin-right: 10px;
  }

  .token-image {
    @include circle;
    @include responsive-size(width, 34px, 70px);
    @include responsive-size(height, 34px, 70px);

    overflow: hidden;
  }

  .token-name {
    @include font-headline-medium;

    color: $color-graphite-light;
  }

  .token-symbol {
    @include font-label;

    color: $color-graphite-light;
  }
}

.token-details {
  display: flex;
  margin: px-to-rem(20px) 0;
}

.invest-now-button {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
