.overview {
  @include media-breakpoint-down (lg) {
    flex-direction: column;
  }

  display: flex;
  justify-content: space-between;
}

.overview-money {
  @include media-breakpoint-down (md) {
    flex-direction: column;
    padding-right: 0;

    > * {
      margin-bottom: px-to-rem(16px);
    }
  }

  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  padding-right: px-to-rem(26px);
}

.overview-progress {
  @include media-breakpoint-down (lg) {
    padding-left: 0;
    border-left: 0;
  }

  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: px-to-rem(26px);
  border-left: 1px solid $neu-pale-grey;
}

.total {
  margin-left: px-to-rem(16px);
  font-weight: $font-weight-bold;
}

.chart {
  max-height: px-to-rem(320px);
}
