.block {
  $color-black: rgba($color-black, .55);
  $color-blue: #0c6383;
  $color-fluorescent-blue: #78d7dc;
  $color-green-transparent: rgba($color-green-dark, .1);
  $color-gray: #aabcca;

  &:global(.blue) {
    .block-background {
      fill: $neu-pale-blue;
    }

    .block-border-bottom {
      fill: $color-blue;
    }
  }

  &:global(.fluorescent-blue) {
    .block-background {
      fill: $color-green-transparent;
    }

    .block-border-bottom {
      fill: $color-fluorescent-blue;
    }
  }

  &:global(.green) {
    .block-background {
      fill: $color-green-transparent;
    }

    .block-border-bottom {
      fill: $color-green-dark;
    }
  }

  &:global(.gray) {
    .block-background {
      fill: $neu-pale-blue;
    }

    .block-border-bottom {
      fill: $color-gray;
    }
  }
}

.block-text {
  fill: $color-graphite-light;
  font-size: px-to-rem(10px);
  font-weight: $font-weight-bold;
  text-transform: uppercase;
}

.block-background {
  $color-gray-light: #c3d0d9;

  fill: $color-green-dark;

  &:global(.is-confirmed) {
    fill: $color-green;
  }

  &:global(.is-deadline) {
    fill: $color-orange;
  }
}

.pointer {
  fill: $color-graphite-light;
}

.date {
  font-size: px-to-rem(10px);
  fill: $color-black;
}

.date-point {
  fill: $color-green-dark;

  &:global(.short) {
    fill: $color-graphite-light;
  }
}
